<div class='ion-close-round closeicon' ng-click="closepopup()" style="position: absolute;right:14px;margin-top:-85px;"></div>
      <div class="" style="margin-top:-7px;">


          <h2 class="localizejs" style="font-size:17px;color:#666666;text-align:center;font-family:Glober Regular;">An Account already exist for:</h2>
          <div class=" ">
            <p style="font-family:Glober Bold Italic;font-size:15px;text-align:center;">{{contactmail}}</p>
               <p class="popupcontent localizejs">Please choose an option:</p>
                  </div>
          </div>
