<ion-header-bar align-title="left" class="password" style=" background-color: {{brandColor}};
   background-image: linear-gradient(0deg, {{brandColor}}, {{brandColor}} 50%, transparent 50%);
   border-color: {{brandColor}};box-shadow: inset 0 -13px 8px -13px #000;
   -moz-box-shadow: inset 0 -13px 8px -13px #000;
   -webkit-box-shadow: inset 0 -13px 8px -13px #000; height: 108px;">
   <div id="Error_Message" ></div>
   <div class="Server_Error" ></div>
   <div class="{{header_image}}">
      <img style="max-height: 70px;max-width: 250px; " ng-src="{{logo}}" />
   </div>
</ion-header-bar>
