<div class='ion-close-round closeicon' ng-click="closepopup()" style="position: absolute;right:10px;margin-top:-106px;"></div>
<div class="" style="margin-top:-7px;">
   <h2 class="localizejs" style="font-size:18px;color:#666666;text-align:center;font-family:Glober Bold;">Confirm Your UnAuthorization</h2>
   <div class="localizejs">
      <p class="popupcontent localizejs">If you remove your authorization, you will no longer be able to create or join consultation for this dependent.</p>
   </div>
</div>
