<div class="" >
   <h2 class="loc-content localizejs" >
     <div class="userpic userpic--white-border userpic--main-nav sessionUserPic" ng-bind-html="drawImageSS(currentPatientDetails.profileImage,currentPatientDetails.firstName,currentPatientDetails.lastName)"
         style="border: 2px #fff solid;">
     </div>

     <div class="user-info__sessionText">
         <div class="user-info__sessionName">
             <span class="user-info__fname">{{currentPatientDetails.firstName}} {{currentPatientDetails.lastName}} </span>
         </div>
     </div>
   </h2>
   <hr class="loc-hr">
   <div class="loc-detcontent ">
      <p class="loc-sessPopupcontent localizejs"> You are already logged in on another device. Do you want to login here and end the other session?
      <p>
   </div>
</div>
