<div class="modal">
   <ion-view  title="Prior Surgery" cache-view="false">
       <form>
        <header class="bar bar-header bar-dark concernListHeader" style="{{PrimaryConcernPopupH}}; background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};height: 64px !important;">
           <div class="ErrorMessage ErrorMessageDiv localizejs"  ></div>
           <button class="button button-clear {{concernListDoneStyle}} localizejs" style="font-size: 18px !important; padding:10px 0 0 0 !important;" ng-click="RemoveSurgeryPopup()">Done</button>
           <h1 class="title {{concernListTitleStyle}} localizejs" style="margin-right: 30px !important;margin-top: 5px !important;top: 12px !important; ">Prior Surgeries</h1>
           <button type="submit" ng-show="showIntakeNewSurgeryAdd" class="button button-clear surgeryTopAddButton {{concernListDoneStyle}} localizejs" style="font-size: 18px !important;  padding:2px 0 0 0 !important;top: 13px !important;" ng-click="closeSurgeryPopup()" >Add</button>
           <button type="submit" ng-show="showIntakeEditSurgery" class="button button-clear surgeryTopAddButton {{concernListDoneStyle}} localizejs" style="font-size: 18px !important; padding:2px 0 0 0 !important;top: 13px !important;" ng-click="EditIntakeSurgeryItem()" >Save</button>
        </header>
          <ion-content has-header="true" class="concernListContent">
             <div class="list">
              <div class="item item-button-right" href="#" ng-repeat="surgery in patientSurgeriess" ng-if="patientSurgeriess.length > 0" style="overflow: inherit; padding: 0px; border: none;margin-top: 0px;">
                     <div class="surDisplay surgeryDisplay-{{$index}}" >
                        <div class="surDescription">
                             <h2 class="regularfamily localizejs">{{surgery.Name}}</h2>
                             <p>{{surgery.Date | date: "MMMM yyyy"}}</p>
                      </div>
                     <a class="button surEditIcon" ng-click="openEditSurgeryItem({{$index}}, surgery);" ><i class="currentedit" ng-bind-html="drawSVGCIcon('pencil')"></i></a>
                     </div>

                     <div class="surgeryEdit-{{$index}} animated slideInRight" style="display: none;">
                          <div class="item item-input validated" style="border-left: none; border-right: none;">
                               <span class="input-label priorTag localizejs">Procedure</span>
                               <input type="text"  name="surDescription[]" id="surDescription_{{$index}}"  value="{{surgery.Name}}"  placeholder="Short description" class="priorValue localizejs" >
                               <a class="surgeryCloseIcon" ng-click="removeSurgeryItem(0, surgery);" ><i class="ion-trash-b" ></i></a>
                          </div>
                          <div class="item item-input validated" style="border-left: none; border-right: none;">
                             <span class="input-label priorTag localizejs">Date</span>
                             <select id="surDateStringMonth_{{$index}}"  name="surDateStringMonth[]" class="surgeryMonth">
                                <option ng-repeat="month in EditSurgerymonthsList" value="{{month.value}}" ng-selected="month.value == surgery.Date.getMonth()+1">
                                   <b><span class="priorValueDate localizejs">{{month.text}}</span></b>
                                </option>
                             </select>
                             /&nbsp;
                             <select id="dateStringYear_{{$index}}" name="dateStringYear"  class="surgeryYear" >
                                <option ng-repeat="surgeryYear in selectYearsList" value="{{surgeryYear.value}}" ng-selected="surgeryYear.text === surgery.Date.getFullYear()">
                                   <b><span class="priorValueDate localizejs">{{surgeryYear.text }}</span></b>
                                </option>
                             </select>
                          </div>
                     </div>
                </div>
             </div>
             <ion-list>
                <div ng-show="showIntakeNewSurgeryAdd" class="list" style="padding-bottom: 0px !important; margin-top: -22px;">
                   <!--<h5 class="surname">Add New Surgery</h5>-->
                   <div class="item item-input validated">
                        <span class="input-label priorTag localizejs">Procedure</span>
                        <input type="text" value=""  placeholder="Short description" ng-model="surgery.name" name="name" id="name" class="priorValue localizejs">
                       <!-- <a class="surgeryCloseIcon" ng-click="backtoSurgeryView();"><i class="ion-close" ></i></a>-->
                       <a class="surCloseIcon" ng-click="backtoSurgeryView();" ><i style="font-size: 24px;"  ng-bind-html="drawSVGCIcon('cross');"></i></a>
                     </div>
                   <div class="item item-input validated">
                      <span class="input-label priorTag localizejs">Date</span>
                      <select id="dateStringMonth" name="dateStringMonth" ng-model="surgery.dateStringMonth" class="surgeryMonth" >
                         <option ng-repeat="month in monthsList" value="{{month.value}}" ng-selected="{{month.selected}}">
                            <b><span class="priorValueDate localizejs">{{month.text}}</span></b>
                         </option>
                      </select>
                      /&nbsp;
                      <select id="dateStringYear" name="dateStringYear[]" ng-model="surgery.dateStringYear" class="surgeryYear" >
                         <option ng-repeat="surgeryYear in selectYearsList" value="{{surgeryYear.value}}">
                            <b><span class="priorValueDate localizejs">{{surgeryYear.text }}</span></b>
                         </option>
                      </select>
                   </div>
                </div>
             </ion-list>
             <div class="noSurgeryText" ng-if="patientSurgeriess.length == 3" style="padding-top: 30px;">
               <p class="localizejs">You can include up to three surgeries in your health history.</p>
             </div>
             <div class="noSurgeryText" ng-if="patientSurgeriess.length == 0" ng-hide="showIntakeNewSurgeryAdd">
               <p class="localizejs">No surgeries are included in your health history.</p>
             </div>
          </ion-content>

          <ion-footer-bar  class="bar bar-footer footer healthSurgeryBottom" hide-on-keyboard="true" >
               <button ng-if="patientSurgeriess.length < 3" type="submit" class="button surgeryAddButton localizejs" ng-click="showNewSurgeryAddScreen();" ng-hide="showIntakeNewSurgeryAdd || showIntakeEditSurgery" >
               Add a surgery
               </button>
        </ion-footer-bar>
      </form>
   </ion-view>
</div>
