<div class="modal">
   <ion-view  title="Prior Surgery">
      <header class="bar bar-header bar-dark concernListHeader" style="{{PrimaryConcernPopupH}};background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
         <div class="ErrorMessage ErrorMessageDiv localizejs"  ></div>
         <button class="button button-clear {{concernListDoneStyle}} localizejs" style="{{PriorSurgeryPopupCancel}};" ng-click="RemoveSurgeryPopup()" >Cancel</button>
         <h1 class="title {{concernListTitleStyle}} localizejs" style="{{PrimaryConcernPopupTitle}};">Priors Surgeries</h1>
         <button class="button button-clear {{concernListDoneStyle}} localizejs" style="{{PrimaryConcernPopupDone}};" ng-click="closeSurgeryPopup()" >Done</button>
      </header>
      <ion-content has-header="true" class="SurgeryContent" style="{{PriorSurgeryContant}}">
         <ion-list>
            <div class="list" style="{{PriorSurgeryPopupTextBox}}">
               <label class="item item-input validated">
               <span class="input-label localizejs">Surgery</span>
               <input type="text" value=""  placeholder="Required" required="required" ng-model="surgery.name" name="name" id="name">
               </label>
               <div class="item item-input validated">
                  <span class="input-label localizejs">Month</span>
                  <select id="dateStringMonth" name="dateStringMonth" ng-model="surgery.dateStringMonth" style="appearance: none; -webkit-appearance: none; border: none; background-color: white; margin-top: -3px;padding-right: 5px;  padding: 10px 10px 10px 0px; font-size: 16px;">
                     <option ng-repeat="month in monthsList" value="{{month.value}}" ng-selected="{{month.selected}}">
                        <b><span class="localizejs">{{month.text}}</span></b>
                     </option>
                  </select>
                  /&nbsp;
                  <select id="dateStringYear" name="dateStringYear" ng-model="surgery.dateStringYear" style="appearance: none; -webkit-appearance: none; border: none; background-color: white; margin-top: -3px;position: relative; padding-left: 8px;  padding: 10px; font-size: 16px;">
                     <option ng-repeat="surgeryYear in selectYearsList" value="{{surgeryYear.value}}">
                        <b><span class="localizejs">{{surgeryYear.text }}</span></b>
                     </option>
                  </select>
               </div>
            </div>
         </ion-list>
      </ion-content>
   </ion-view>
</div>
