<style>
.has-footer{
  bottom: 0px!important;
}
</style>

<ion-view title="Password">
	<div ng-include src="'templates/password_header.html'"></div>

   <ion-content class="password_content" style="{{PasswordOverlop}};" >

    <div ng-if="IOSDevice == true" class="{{password_sub_header}}" style="height:auto; position: relative;">
		<div class="{{password_header_content}} passwordSubHeader SubHeadIOS">
			<div class="subHospital" style="color: {{brandColor}};">{{Hospital}}</div>
			<span>
				{{HospitalTag}}
			</span>
		</div>
	</div>
<!--top: -179px;-->
	 <div ng-if="AndroidDevice == true" class="{{password_sub_header}}" style="height:auto; position: relative;">
		<div class="{{password_header_content}} passwordSubHeader" style="margin-top: 51px;background-color:#FFF;">
			<div class="subHospital" style="color: {{brandColor}};">{{Hospital}}</div>
			<span>
				{{HospitalTag}}
			</span>
		</div>
	</div>

        <form ng-submit="doGetToken()"  class="password-{{deviceName}}">

			<div class="password_home password_home_top" style="{{MarginHomeTop}}" >
				<div class="password_icon"><i class="ion-locked" style="font-size: 25px;  color: #8D8E8A;"></i></div>

				<label class="passwordtop item-input">
					<!--<input type="password" placeholder="Password" ng-model="pass.password" >-->
<input type="password" placeholder="Password" ng-model="pass.password" id="password" style="{{passwordLineHeight}}" ng-click="textboxUp();" >
				</label>


				<div class="login">
					<!--<a ng-href="#/tab/userhome">-->
				<!--	<button type="submit" ng-click="doGetToken()" class="button button-outline button-positive">
						Login
					</button> -->

					<button type="submit" class="button button-outline button-positive" style="font-size: 20px;">
						Login
					</button>

					<!--</a>-->
				</div>
				<div class="forgot_password_text"><a ng-click="doPostSendPasswordResetEmail()" style="color:{{brandColor}};">Forgot your password?</a></div>
			</div>

        </form>
    </ion-content>

	<!--<div ng-include src="'templates/password_footer.html'"></div>-->

	<!-- Start Footer -->
	<!-- <div class="hide-on-keyboard-open"> -->
		<ion-footer-bar align-title="left" class="footer" hide-on-keyboard="true">
			  <div class="buttons footerBackButton">
				<!--<a class="button_new icon ion-chevron-left" href="#/tab/login"> Back </a>-->
				<a class="button_new icon ion-chevron-left terms_footer_a" ng-click="goBackProvider()"  ><span> Back</span></a>
			  </div>
		</ion-footer-bar>
	<!-- </div> -->
	<!-- End Footer -->


</ion-view>
