<style>
.has-footer{
  bottom: 0px!important;
}
</style>
<ion-view>
   <div id="Error_Message" ></div>
   <ion-content class="register regStep2Con" style="background-color: {{brandColor}};" scroll="true" >
      <div class="terms-back">
         <div class="button_back icon ion-chevron-left"  ng-click="GoBackToStep1();">
            <span class="registerback localizejs">Back</span>
         </div>
      </div>
      <div class="epassbg epassbgreg2">
         <div><img ng-src="{{logo}}" style="position:relative;" /></div>
         <h2 style="padding-top: 0px;">{{selectedSearchProviderList.brandName}} <br><span class="localizejs">Registration</span></h2>
      </div>
      <div class="card">
         <div class="regcontent">
            <h2 class="localizejs">Hello, {{step1RegDetails[0].FName}}</h2>
            <p class="lineheight localizejs">We just need a little more information <br>to complete your registration</p>
         </div>
         <div class="item-input-inset">
            <label class="item-input-wrapper place">
            <input type="email" ng-model="regStep2.emailID" placeholder="Email Address" id="RegEmail">
            </label>
         </div>
         <div class="item-input-inset">
            <label class="item-input-wrapper place1">
            <input type="password" ng-model="regStep2.password" placeholder="Password" >
            </label>
         </div>
         <div class="item-input-inset">
            <label class="item-input-wrapper place1">
            <input type="password" ng-model="regStep2.confirmPwd" placeholder="Confirm Password" >
            </label>
         </div>
         <div class="birth">
            <p class="localizejs">Birthdate</p>
         </div>
         <div class="item-input-inset">
            <label class="item-input-wrapper place">
               <div class="regDOBRequired" ng-if="!regStep2.dob">MM/DD/YYYY</div>
               <input style="padding-top: 12px;" type="date" ng-model="regStep2.dob"  id="dob">
            </label>
         </div>
         <div  style="text-align:center;padding-bottom: 18px;">
            <span class="btn1" style="margin: 0px 0px 24px 6px !important;">
            <button type="button" class="button localizejs" ng-click="postRegistersStep2()" style="top:5px;">
            Register
            </span>
         </div>
      </div>
      </div>
      <div class="acinfo1-{{deviceName}}" style="padding-bottom: 30px;">
         <h4 class="localizejs">Already have an account? <span class="localizejs" ng-click="backtoPreviousPage();">Login</span></h4>
      </div>
      <div ng-controller="LoginCtrl">
      </div>
   </ion-content>
   <!-- <div class="hide-on-keyboard-open"> -->
   <ion-footer-bar  class="footer" hide-on-keyboard="true" style="background-color: {{brandColor}} !important; border-color: {{brandColor}} !important">
      <div class="ConcernsFooter">
      <div class="FooterLeft" style="width: 100%;">
         <a class="button_new icon localizejs" style="font-size: 9px;" ng-click="doGetTermsandCondition('tab.registerTerms', 'tab.registerStep2');">Terms & Conditions</a>
      </div>
    </div>
   </ion-footer-bar>
   <!-- </div> -->
</ion-view>
