<style>
  .has-footer {
    bottom: 0px!important;
  }

  .consultTittle {
    color: #666666;
    font-family: "Glober SemiBold";
    width: 58% !important;
    text-align: right;
    font-size: 23px;
  }

  .consultation_number {
    font-family: "Glober SemiBold";
    font-size: 23px;
    color: #666666;
    text-align: left;
    text-decoration: line-through;
  }

  .consultation_numberCopy {
    font-family: "Glober SemiBold";
    font-size: 23px;
    color: #666666;
    text-align: left;
    color: red;
    position: relative;
  }

  .consultTittleCopay {
    color: #666666;
    font-family: "Glober SemiBold";
    font-size: 17px;
    text-align: right;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 7px;
  }

  .consultCharge_subHeader span {
    color: #666666;
    position: relative;
    left: 15px;
    font-family: "Glober SemiBold";
    font-weight: normal;
  }

  .pt34 {
    padding-top: 20px;
    margin-bottom: 15px;
  }

  .contentPayHomeAddCard {
    padding-top: 6% !important;
  }

  @media only screen and (min-device-width: 710px) and (max-device-width: 1280px) {
    .consultTittle {
      font-size: 23px !important;
      text-align: center !important;
    }
    .consultTittleCopay {
      font-size: 17px !important;
      text-align: center !important;
      padding-left: 120px;
    }
    .consultation_numberCopy {
      text-align: left !important;
      font-size: 23px !important;
      position: relative;
      left: 0px;
    }
    .consultation_number {
      text-align: left;
      font-size: 23px;
    }
    .has-header {
      top: 60px;
    }
  }
</style>
<div id="Error_Message" class="ErrorMessageDiv localizejs"></div>
<div class="Error_Message ErrorMessageDiv localizejs"></div>
<div class="Server_Error ErrorMessageDiv localizejs"></div>
<ion-view title="Add Card">
  <ion-side-menus>
    <ion-side-menu-content>
      <ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
        <!-- <div class="buttons" >
            <span class="button icon button-clear {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"><i ng-bind-html="drawSVGCIcon('menu')"></i></span>
         </div>
         <h1 class="{{title_patient}} calendarTitle localizejs" style="{{PatientTitle}}" >Patient</h1> -->

        <div class="bar bar-header headerbg" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
          <div class="buttons button-icon">
            <span class="button icon button-clear" style="{{HomeBackIOS}}" id="BackButtonIcon" ng-click="toggleLeft()">
              <i ng-bind-html="drawSVGCIcon('menu')"></i>
            </span>
          </div>
          <div class="h1 title-head localizejs" style="{{HomeHeaderIOS}}">Patient</div>

        </div>


        <div class="bar bar-subheaderHomeUser patient_subHeader calendar_subHeader_height" style="{{patient_subHeaderTopMove}}">
          <div class="calendar_subHeader paymentSubHeader">
            <div class="subHeader_image" ng-bind-html="drawImage(PatientImageSelectUser,PatientFirstName,PatientLastName)"></div>
            <div class="subHeader_content-{{deviceName}} ellipsis">
              <div class="ellipsis subHeader_content_name">
                <span class="PatintHeaderFontStyle patientName ellipsis">{{PatientFirstName}}</span>
                <span class="PatintHeaderFontStyleInner patientLastName ellipsis">{{PatientLastName}}</span>
              </div>
              <div class="subHeader_content_age PatintHeaderFontStyleSub ellipsis">
                <span ng-if="userGender != ''" class="localizejs">{{userGender}} . </span>
                <span>{{userDOB| ageFilter}}</span>
                <span class="localizejs">{{userDOB | ageYearsStringFilter}}</span>
                <span>{{userDOB | ageMonthFilter}}</span>
                <span>{{userDOB | ageDayFilter}}</span>
                <span ng-if="primaryPatientId != patientId" class="localizejs"> . {{patRelationShip}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bar consultCharge_subHeader PatintHeaderFontStyle" style="padding: 0px; margin-top: 127px;	background-color: #fff; {{PaymentStyle}}">
          <span class="localizejs">Payment</span>
        </div>
      </ion-header-bar>
      <ion-content class="consultCharge_contentPayment consultConPaymentMargin addCardConScetion"  >
       <!--  <div style="padding-right: 10%;">
            <div class="consultation_head RegularFontStyle consultChargeNoPlanText" >
               <div class="consultTittle localizejs">Consultation Charge</div>
               <div class="consultation_number" ng-if="adminSetlocale == 'en-GB'"> <span>&pound;{{consultationAmount}}*</span></div>
                <div class="consultation_number" ng-if="adminSetlocale != 'en-GB'"> <span>{{currencySymbol}}{{consultationAmount}}*</span></div>
            </div>
            <div class="consultation_head RegularFontStyle consultChargeNoPlanText" >
               <div class="consultTittleCopay localizejs" >Your Copay</div>
               <div class="consultation_numberCopay" ng-if="adminSetlocale == 'en-GB'"> <span>&pound;{{copayAmount}}*</span></div>
               <div class="consultation_numberCopay" ng-if="adminSetlocale != 'en-GB'"> <span>{{currencySymbol}}{{copayAmount}}*</span></div>
            </div>
         </div> -->
		 
		  <div class="row pt34">
          <div class="col-67 consultTittle localizejs">Consultation Charge</div>
          <div class="col-10">&nbsp;</div>
          <div class="col">
            <div class="consultation_number" ng-if="adminSetlocale == 'en-GB'">
              <span>&pound;{{consultationAmount}}*</span>
            </div>
            <div class="consultation_number" ng-if="adminSetlocale != 'en-GB'">
              <span>{{currencySymbol}}{{consultationAmount}}*</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-67 consultTittleCopay localizejs">Your Copay</div>
          <div class="col-10">&nbsp;</div>
          <div class="col">
            <div class="consultation_numberCopy" ng-if="adminSetlocale == 'en-GB'">
              <span>&pound;{{copayAmount}}*</span>
            </div>
            <div class="consultation_numberCopy" ng-if="adminSetlocale != 'en-GB'">
              <span>{{currencySymbol}}{{copayAmount}}*</span>
            </div>
          </div>
        </div>
		 
         <div class="password_home contentPayHomeAddCard">
            <div class="healthPlan_header consultCard" style="display: {{enableSubmitpaymentAddCard}} " >
                  <h4 class="insurancelist">
                    <div class="selectInsurancelist localizejs">Select your Payment card
                           <span class="insuranceedit localizejs" ng-if=" editCardStyle == 'block'" ng-click="editpaymentcard('addNewCard')" >Edit this card <i class="iconfontSVG" ng-bind-html="drawSVGCIconForVideo('new-message')"></i></span>
                     </div>
                  </h4>
                  <div class="addHealthPlan_header NoPlanAddCardDropdown noPlanContainer-{{deviceName}}">
                     <div  class="dropdownContainer">
                        <div ng-if="userDefaultPaymentProfileText == null || userDefaultPaymentProfileText == 'undefined'"  id="cardViewport" class="cardViewport"><div class="insCHooseProviderName localizejs">Choose Your Card</div></div>
                        <div ng-if="userDefaultPaymentProfileText != null && userDefaultPaymentProfileText != 'undefined'" id="cardViewport" class="cardViewport">
                          <!--<div class="insCardName"><img class="cardlogo" src="{{userDefaultPaymentLogo}}"></div>-->
                          <div class="insCardName" ng-if="userDefaultPaymentLogo != 'logoNone'"><img class="cardlogo" src="{{userDefaultPaymentLogo}}"></div>
                          <div class="insCardName" ng-if="userDefaultPaymentLogo == 'logoNone'" ><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('credit-card')"></i></div>
                          <div class="insCardNumber localizejs">{{ 'XXXX-XXXX-XXXX-'+userDefaultPaymentProfileText}}</div>
                        </div>
                        <select class="consultHealthPlanDropDown localizejs" id="addNewCard_addCard" name="addNewCard_addCard" style="border: none;" ng-model="cardPaymentId.addNewCard" ng-change="cardchange('addNewCard')">
                           <option class="localizejs" ><b class="localizejs">Choose Your Card</b></option>
                           <option  ng-repeat="PaymentProfile in PaymentProfile" ng-selected="PaymentProfile.profileID == userDefaultPaymentProfile" value="{{PaymentProfile.profileID + '@' + PaymentProfile.cardType + '@' + PaymentProfile.cardNumber + '@' + PaymentProfile.cardLogo}}" ><b>
                            {{PaymentProfile.cardType + '       '}}{{  + '             ' +  'XXXX-XXXX-XXXX-'+PaymentProfile.cardNumber}}</b></option>
                           <option ng-if="totalPaymentCard != 10"><b class="localizejs">Add a new card</b></option>
                        </select>
                     </div>
                  </div>
               </div>
            <div class="SkipToPayment" style="display: {{enableSubmitpaymentAddCard}}; padding-top: 23%;">
               <button type="submit" ng-click='doPostCoPayDetails()'  class="button button-block button-balanced" style="padding: 3px;">
               <span class="localizejs">Submit Payment</span>
               </button>
            </div>
            <div class="SkipToPayment" style="padding-top: 133px; display: {{continueAddCard}}">
               <button type="submit" ng-click='doGetReceipt()'  class="button button-block button-balanced" style="padding: 3px;">
               <span class="localizejs">Continue</span>
               </button>
            </div>
              <div class="healthPlan_header AddCardDetails" style="padding-top: 60px; display:{{disableSubmitpaymentAddCard}}" >
               <div class="healthPlan_text localizejs"  >Pay Using</div>
               <!--<a ng-click="goCardDetailsPageFromAddCard()" >
                  <div class="AddCard" >
                     <i style="position: relative; top: -8px;"  class="ion-plus-round"></i>
                     <span class="addHealthPlan_text localizejs" >Add A Payment Card</span>
                  </div>
               </a>-->

                <a ng-click="goCardDetailsPageFromAddCard()">
                        <div class="AddCard"  >
                           <i style="position: relative; top: -8px;text-align:center;color:#A3D38B;" ng-bind-html="drawSVGCIcon('circle-with-plus')"></i>
                           <span class="addHealthPlan_text localizejs" >Add A Payment Card</span>
                        </div>
                     </a>


            </div>
            <div class="SkipToPayment" style="display: {{disableSubmitpaymentAddCard}}; padding-top: 23%;">
               <button class="button button-block button-royal cardSubmitPayment">
               <span class="localizejs">  Submit Payment</span>
               </button>
            </div>
            <div class="scheduled_appointments_text NoPlanBottomText localizejs" style="display: {{textAddCard}}" >
               *There may be additional fees or charges based on the outcome of this consultation. By submitting payment, I understand I may be billed for these charges after this consultation is completed
            </div>
         </div>
      </ion-content>
      <!-- <div class="hide-on-keyboard-open"> -->
         <ion-footer-bar align-title="left" class="footer" hide-on-keyboard="true">
            <div class="ConsultChargeFooter">
               <div class="ConsultChargeBack">
               </div>
               <div class="ConsultChargeCancel" style="width: 100%;margin-top: 12px;">
                  <a class="button_newios icon localizejs" ng-click="cancelConsultationForHealthPlan()" >Cancel</a>
               </div>
            </div>
         </ion-footer-bar>
      <!-- </div> -->
   </ion-side-menu-content>
   <!--Side Menu File Include --->
   <div ng-include src="'templates/SideMenu.html'"></div>
</ion-view>
