 
    
 <div class="list" style="margin-top:18px;" >
            <a class="item item-avatar" style="border-top:none;">
            <img src="img\ionic.png">
            <h2><span  class="fname">Elizabeth</span> <span  class="sname">Fitzpatrick</span></h2>
            <p>Female.29 yrs.Spouse</p>
            </a>
            
            <a class="item item-avatar"  ng-show='showdetails'  ng-click="moredetails()">
            <img src="img\patient.png">
            <h2><span class="fname">Colleen</span> <span class="sname">Fitzpatrick</span> </h2>
            <p>Female.29 yrs.Sister
              <i class="icon ion-chevron-right avataricon"></i></p>
             </a>
           
<div class="row" ng-show='showarchieve' ng-click='archievedetails()'>
   
    <div class="col col-25 archieve">
      <div>
        <div class="aligncenicon" >
          <i class="icon ion-email icons" ></i>
        <div>  Archieve</div>
       </div>
      </div>
   </div>
   
  <div class="col col-75">
     <a class="item item-avatar"  style="border-right: none;width:105%;">
       <img src="img\patient.png">
        <h2><span class="fname">Colleen</span> <span class="sname">Fitzpatrick</span> </h2>
          <p>Female.29 yrs.Sister</p>
      </a>
  </div>
  
 </div>
 
</div>                
	