<style>
.has-footer{
  bottom: 0px!important;
}
</style>
<div id="Error_Message" class="ErrorMessageDiv" ></div>
	 <div class="Server_Error ErrorMessageDiv" ></div>
	 <div class="Error_Message ErrorMessageDiv" ></div>

	 <ion-side-menus>
	 	<ion-side-menu-content>
	<ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};">

		  <!--<div class="buttons" style="{{BackBotton}}" >
				<a class="button_new icon ion-chevron-left calendarBack" style="{{calendarBackStyle}}"  ng-click="backConsultCharge();" >
					<span> Back</span>
				</a>
		  </div>-->
			<div class="buttons" >
						<span class="button icon button-clear {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"><i ng-bind-html="drawSVGCIcon('menu')"></i></span>
			</div>
		  <h1 class="{{title_patient}} calendarTitle" style="{{PatientTitle}}" >Patient</h1>


		<div class="bar bar-subheaderHomeUser patient_subHeader calendar_subHeader_height" style="{{PatientCalentarInnerStyle}}" >
			<div class="calendar_subHeader">
				<div class="subHeader_image">
					<img src="{{PatientImageSelectUser}}"  class="listImgView"  />
				</div>
				<div class="subHeader_content-{{deviceName}} ellipsis" >
				<div class="subHeader_content_name ellipsis" >
					<span class="PatintHeaderFontStyle patientName ellipsis">{{PatientFirstName}}</span>
					<span class="PatintHeaderFontStyleInner patientLastName ellipsis">{{PatientLastName}}</span>
				</div>
                    <div class="subHeader_content_age PatintHeaderFontStyleSub ellipsis">{{userGender}} . {{userDOB | ageFilter}} <span ng-if="primaryPatientId != patientId"> . {{patRelationShip}}</span></div>
				</div>
			</div>
		</div>

		<div ng-if="healthPlanPage != 'block'" class="bar consultCharge_subHeader PatintHeaderFontStyle"  style="padding: 0px; margin-top: 119px;	background-color: #fff; {{PaymentStyle}}" >
			<span>Payment</span>
		</div>
		<!--<div ng-if="healthPlanPage == 'block'" class="bar consultCharge_subHeader PatintHeaderFontStyle"  style="padding: 0px; margin-top: 119px;	background-color: #fff; {{PaymentStyle}}" >
			<span>Insurance Verification</span>
		</div>-->

	</ion-header-bar>
<ion-view title="Consult Charge">
		<div class="consultInsuranceTitle" ng-if="healthPlanPage == 'block'">
			<h1 class="ChronicCondition concernsSubTit consentTitle" style="">Insurance Verification</h1>
			<p class="consentSubTitle concentHealthPlan">Apply your insurance policy to this visit
				<span>Your charge will be adjusted to reflect your copay</span>
			</p>
		</div>


	<ion-content class="consultCharge_content" style="{{ContentOverlop}}" >
		<div class="password_home">

			<div class="consultation_head RegularFontStyle consultChargeNoPlanText" style="display: {{verifyConsultChargeSection}}">
			<!--	<div class="consultTittle">Consultation Charge</div>
				<div class="consultation_number"> ${{consultationAmount}}*</div>-->
			</div>
	<!--Consult Charge Start-->
		<!--	<div style="display: {{consultChargeSection}}">
				<div class="UseHealthPlan" style="display: {{verifyInsuranceSection}}">
					<a ng-click="openAddHealthPlanSection()">
						<button class="button button-block button-energized" style="padding: 3px;">
							<span> Verify Health Plan </span>
						</button>
					</a>
				</div>
				<div style="display: {{verifyConsultChargeSection}}">
					<div class="UseHealthPlan">
						<a ng-click="openAddHealthPlanSection()">
							<button class="button button-block button-energized" style="padding: 3px;">
								<span> Use Health Plan </span>
							</button>
						</a>
					</div>
					<div class="scheduled_appointments_text" >
						Do you wish to use your health plan?
					</div>
					<div class="SkipToPayment">
						<button class="button button-block button-royal"  type="submit" ng-click="GetConsultChargeNoPlan(PatientImageSelectUser, PatientFirstName, PatientLastName, PatientAge, PatientGuardian, 'tab.consultCharge')" style="padding: 3px;"  >
								<span> Skip to Payment</span>
						</button>
					</div>
					<div class="scheduled_appointments_text" >
						Don't use your health plan, pay full charge directly.
					</div>
					<div class="scheduled_appointments_text" style="text-align: justify; padding-top: 25px;" >
						*There may be additional fees or charges based on the outcome of this consultation. By submitting payment, I understand I may be billed for these additional charges after this consultation is completed.
					</div>
				</div>
			</div>-->
	<!--Consult Charge End-->

	<!--Add Health Plan Start-->
			<div class="animated slideInRight"  _style="display: {{healthPlanSection}}">
			<!--verify insurance Start-->
				<!--<div style="display: {{verifyHealthPlanPage}};">
					<div style="display: {{enableAddHealthPlan}}">
						<div class="healthPlan_header"  >
							<div class="healthPlan_text NoPlanText" >Select Health Plan</div>
								<div class="addHealthPlan_header NoPlanAddCardDropdown noPlanContainer-{{deviceName}}" >
									<div  class="dropdownContainer">
										<div style = "display: {{chooseHealthHide}};" class="viewport">Choose Your Health Plan</div>
										<div style = "display: {{chooseHealthShow}};" class="viewport">{{providerName +' '+ PolicyNo}}</div>
										 <select class="healthPlanDropDown" id="addHealthPlan" name="addHealthPlan" ng-model="Health.addHealthPlan" style="border: none;">
											<option value="Choose Your Health Plan"><b>Choose Your Health Plan</b></option>
											<option  ng-repeat="GetPlanList in patientHealthPlanList" value="{{GetPlanList.insuranceCompany + '@' + GetPlanList.policyNumberLong + '@' + GetPlanList.healthPlanId}}" ng-selected="GetPlanList.insuranceCompany + '@' + GetPlanList.policyNumberLong + '@' + GetPlanList.healthPlanId == providerName + '@' + PolicyNo + '@' + healthPlanID"><b><span>{{GetPlanList.insuranceCompany + ' ' + GetPlanList.policyNumberLong}}</span></b></option>
											<option><b>Add a new health plan</b></option>
									   </select>
									</div>
								</div>
						</div>
						<div class="SkipToPayment">
							<button type="submit" ng-click="doPostVerifyHealthPlan()" class="button button-block button-balanced" style="padding: 3px;">
									<span>Verify Health Plan</span>
							</button>
						</div>
					</div>

					<div style="display:{{disableAddHealthPlan}}">
						<div class="healthPlan_header AddCardNoPlan"  >
							<div class="healthPlan_text" style="margin-left: -80px;" >Select health plan</div>
							<a ng-click="doGetHealthPlanProvider()" style="cursor: pointer;">
								<div class="addHealthPlan_header AddCard" >
									<i style="position: relative; top: -5px;" class="ion-plus-round"></i><span class="addHealthPlan_text" >Add A Health Plan</span>
								</div>
							</a>
						</div>
					</div>
				</div>-->
			<!--verify insurance end-->

				<div style="display: {{healthPlanPage}};">
					<div style="display: {{enableAddHealthPlan}}">
						<div class="healthPlan_header"  >
							<div class="healthPlan_text NoPlanText" >Select Health Plan</div>
								<div class="addHealthPlan_header NoPlanAddCardDropdown noPlanContainer-{{deviceName}}" >
									<div  class="dropdownContainer">
										<div style = "display: {{chooseHealthHide}};" class="viewport">Choose Your Health Plan</div>
										<div style = "display: {{chooseHealthShow}};" class="viewport">{{providerName +' '+ PolicyNo}}</div>
										 <select class="healthPlanDropDown" id="addHealthPlan" name="addHealthPlan" ng-model="Health.addHealthPlan" style="border: none;">
											<option value="Choose Your Health Plan"><b>Choose Your Health Plan</b></option>
											<option  ng-repeat="GetPlanList in patientHealthPlanList" value="{{GetPlanList.insuranceCompany + '@' + GetPlanList.policyNumberLong + '@' + GetPlanList.healthPlanId}}" ng-selected="GetPlanList.insuranceCompany + '@' + GetPlanList.policyNumberLong + '@' + GetPlanList.healthPlanId == providerName + '@' + PolicyNo + '@' + healthPlanID"><b><span>{{GetPlanList.insuranceCompany + ' ' + GetPlanList.policyNumberLong}}</span></b></option>
											<option><b>Add a new health plan</b></option>
									   </select>
									</div>
								</div>
						</div>
						<div class="SkipToPayment" style="display: {{applyPlanMode}};" >
							<button type="submit" ng-click="doPostApplyHealthPlan()" class="button button-block button-balanced" style="padding: 3px;">
									<span>Apply Plan</span>
							</button>
						</div>
						<div class="SkipToPayment" style="display: {{applyPlanMode}};" >
							<button class="button button-block button-royal cardSubmitPayment" style="padding: 3px;" >
									<span>  Submit Payment</span>
							</button>
						</div>
						<div class="scheduled_appointments_text NoPlanBottomText" style="display: {{applyPlanMode}};"  >
							<p>*There may be additional fees or charges based on the outcome of this consultation. By submitting payment, I understand I may be billed for these charges after this consultation is completed.</p>
						</div>
						<div class="SkipToPayment" style="display: {{verifyPlanMode}};" >
							<button type="submit" ng-click="doPostVerifyHealthPlan()" class="button button-block button-balanced" style="padding: 3px;">
									<span>Verify Health Plan</span>
							</button>
						</div>
					</div>

					<div style="display:{{disableAddHealthPlan}}">
						<div class="healthPlan_header AddCardNoPlan"  >
							<div class="healthPlan_text" style="margin-left: -80px;" >Select health plan</div>
							<a ng-click="doGetHealthPlanProvider()" style="cursor: pointer;">
								<div class="addHealthPlan_header AddCard" >
									<i style="position: relative; top: -5px;" class="ion-plus-round"></i><span class="addHealthPlan_text" >Add A Health Plan</span>
								</div>
							</a>
						</div>
						<div class="SkipToPayment" style="display: {{applyPlanMode}};" >
							<button class="button button-block button-royal"  type="submit" ng-click="showConsultChargeNoPlan(PatientImageSelectUser, PatientFirstName, PatientLastName, PatientAge, PatientGuardian, 'tab.addHealthPlan')" style=" padding: 3px"  >
								<span> Skip to Payment</span>
							</button>
						</div>
						<div class="scheduled_appointments_text" style="display: {{applyPlanMode}};" >
							Don't add a health plan, pay full charge directly.
						</div>
					</div>
				</div>

				<div class="animated slideInRight" style="display: {{consultChargeNoPlanPage}};">
					<div style="display: {{enableSubmitpayment}}">
						<div class="healthPlan_header"  >
							<div class="healthPlan_text NoPlanText" >Pay Using</div>
							<div class="addHealthPlan_header NoPlanAddCardDropdown noPlanContainer-{{deviceName}}">
								<div  class="dropdownContainer">
									<div ng-if="userDefaultPaymentProfileText == null" id="cardViewport" class="cardViewport">Choose Your Card</div>
									<div ng-if="userDefaultPaymentProfileText != null" id="cardViewport" class="cardViewport">{{userDefaultPaymentProfileText}}</div>
									<select class="healthPlanDropDown" id="addNewCard" name="addNewCard" style="border: none;" ng-model="cardPaymentId.addNewCard">
										<option><b>Choose Your Card</b></option>
										<option  ng-repeat="PaymentProfile in PaymentProfile" ng-selected="PaymentProfile.profileID == userDefaultPaymentProfile" value={{PaymentProfile.profileID}} ><b><span>Card ending in...{{PaymentProfile.cardNumber}}</span></b></option>
										<option ng-if="totalPaymentCard != 10"><b>Add a new card</b></option>
									</select>
								</div>
							</div>
						</div>

						<div class="SkipToPayment">
							<button type="submit" ng-click='doPostCoPayDetails()'  class="button button-block button-balanced" style="padding: 3px;">
							  <span>Submit Payment</span>
							</button>
						</div>
					</div>

					<div style="display:{{disableSubmitpayment}}">
						<div class="healthPlan_header AddCardNoPlan">
							<div class="healthPlan_text" >Pay Using</div>
							<a ng-click="goCardDetailsPage()">
								<div class="addHealthPlan_header AddCard"  >
									<i style="position: relative; top: -5px;" class="ion-plus-round"></i>
									<span class="addHealthPlan_text" >Add A Payment Card</span>
								</div>
							</a>
						</div>


						<div class="SkipToPayment" >
							<button class="button button-block button-royal cardSubmitPayment" style="padding: 3px;" >
									<span>  Submit Payment</span>
							</button>
						</div>
					</div>
					<div class="scheduled_appointments_text NoPlanBottomText"  >
						<p>*There may be additional fees or charges based on the outcome of this consultation. By submitting payment, I understand I may be billed for these charges after this consultation is completed.</p>
					</div>
				</div>
			</div>
	<!--Add Health Plan End-->


		</div>
	</ion-content>
</ion-view>
	<!--<div ng-include src="'templates/consultCharge_footer.html'"></div> --->

	<!-- <div class="hide-on-keyboard-open"> -->
		<ion-footer-bar align-title="left" class="footer" hide-on-keyboard="true">
			<div class="ConsultChargeFooter">
				<div class="ConsultChargeBack" >
                   <a class="button_new icon ion-chevron-left" ng-click="backConsultCharge();"  ><span> Back</span></a>
				  <!--  <site-header back="Back"></site-header>-->
				</div>

				<div class="ConsultChargeCancel" >
					<a class="button_new icon" ng-click="cancelConsultation()" >Cancel</a>
				</div>

			</div>
		</ion-footer-bar>
	<!-- </div> -->

</ion-side-menu-content>
<div ng-include src="'templates/SideMenu.html'"></div>
