<style>
      .ion-chevron-right:before {
        float: right;
      }
</style>
<form>
   <div class="ErrorMessage ErrorMessageDiv" ></div>
   <div class="Server_Error ErrorMessageDiv" ></div>
   <ion-side-menus>
   <ion-side-menu-content>
      <div ng-include src="'templates/intakeHeader.html'"></div>
      <ion-view title="Current Medication">
         <ion-content class="ContentHomeUser ConcernsContent birthContent" >
            <ion-list>
               <ion-item class="PrimaryList" style="{{IntakeFormInnerStyle}}">
                  <div class="Step1 localizejs"><span class="localizejs">Step </span></span><b style="color:#535353;">6</b><span class="localizejs"> of</span> <b style="color:#535353;"><span class="localizejs">{{userAgeForIntake}}</span></b></div>
                  <div ng-click="loadCurrentMedication();" >
                     <div class="PrimaryContent">
                        <h1 class="title ChronicCondition concernsSubTit localizejs">Birth History</h1>
                        <p class="patientConternFontStyle localizejs">If patient is under the age of 1, please answer the following:</p>
                     </div>
                  </div>
               </ion-item>
               <div style="padding-top: 25px;">
                  <div class="item-input itemtab validated" style="border: none;">
                     <span><i class="ion-asterisk"></i></span>
                     <span class="input-label labelcolor"><b class="formlabel labelfont localizejs">Patient born at full term?</b></span>
                  </div>
               </div>
               <div class="bornBirth localizejs">
                  <ion-radio icon="ion-checkmark-circled" name="birthBorn"  ng-model="birHistory.birthBorn" ng-value="'Y'" ng-checked="birHistory.birthBorn == 'Y'">Yes</ion-radio>
                  <ion-radio icon="ion-checkmark-circled" name="birthBorn"  ng-model="birHistory.birthBorn" ng-value="'N'" ng-checked="birHistory.birthBorn == 'N'">No</ion-radio>
               </div>
               <div class="item-input itemtab validated" style="border: none;">
                  <span><i class="ion-asterisk"></i></span>
                  <span class="input-label labelcolor"><b class="formlabel labelfont localizejs">Patient born Vaginally?</b></span>
               </div>
               <div class="bornBirth localizejs">
                  <ion-radio icon="ion-checkmark-circled" name="birthVagin" ng-model="birHistory.birthVagin" ng-value="'Y'" ng-checked="birHistory.birthVagin == 'Y'">Yes</ion-radio>
                  <ion-radio icon="ion-checkmark-circled" name="birthVagin" ng-model="birHistory.birthVagin" ng-value="'N'" ng-checked="birHistory.birthVagin == 'N'">No</ion-radio>
               </div>
               <div class="item-input itemtab validated" style="border: none;">
                  <span><i class="ion-asterisk"></i></span>
                  <span class="input-label labelcolor"><b class="formlabel labelfont localizejs">Patient discharged with mother?</b></span>
               </div>
               <div class="bornBirth localizejs">
                  <ion-radio icon="ion-checkmark-circled" name="birthDischargedwithMother" ng-model="birHistory.birthDischargedwithMother" ng-value="'Y'" ng-checked="birHistory.birthDischargedwithMother == 'Y'">Yes</ion-radio>
                  <ion-radio icon="ion-checkmark-circled" name="birthDischargedwithMother" ng-model="birHistory.birthDischargedwithMother" ng-value="'N'" ng-checked="birHistory.birthDischargedwithMother == 'N'">No</ion-radio>
               </div>
               <div class="item-input itemtab validated" style="border: none;">
                  <span><i class="ion-asterisk"></i></span>
                  <span class="input-label labelcolor"><b class="formlabel labelfont localizejs">Are the patient vaccinations up-to-date?</b></span>
               </div>
               <div class="bornBirth localizejs">
                  <ion-radio  icon="ion-checkmark-circled" name="birthVaccination" ng-model="birHistory.birthVaccination" ng-value="'Y'" ng-checked="birHistory.birthVaccination == 'Y'">Yes</ion-radio>
                  <ion-radio  icon="ion-checkmark-circled" name="birthVaccination" ng-model="birHistory.birthVaccination" ng-value="'N'" ng-checked="birHistory.birthVaccination == 'N'">No</ion-radio>
               </div>
            </ion-list>
         </ion-content>
      </ion-view>
      <!-- <ion-footer-bar  class="footer">
         <span class="ConcernsFooter">
         <div class="FooterLeft">
            <a class="button_new icon ion-chevron-left" ng-click="backFromIntakeBornHisPage();" _href="#/tab/CurrentMedication" ><span class="localizejs"> Back</span></a>
         </div>
         <div class="FooterCenter" ng-click="clearRootScopeConce()">
            <a class="button_new icon localizejs" >Cancel</a>  
         </div>
         <div class="FooterRight" style="{{NextIntakeForm}};">
            <a class="button_new icon ion-chevron-right" ng-click="goToConsentToTreat();"  _href="#/tab/ConsentTreat"  >
            <span class="ConcernFooterNext localizejs" style="">Next<span>
            </a>
         </div>
         </span> 
        </ion-footer-bar>  -->

         <ion-footer-bar class="bar bar-footer footer">
            <div class="button button-clear" ng-click="backFromIntakeBornHisPage();">
              <a class="button_new icon ion-chevron-left iconVer" style="position: relative;top:-2px;">
                <span class="localizejs backText"> Back</span>
              </a>
            </div>
            <div class="title titleLineheight" style="height:auto;">
              <a class="button_new icon localizejs cancelText iconVer " style="{{PatientConcernCancel}}"  ng-click="clearRootScopeConce()">
                <span>Cancel</span>
              </a>
            </div>
            <div class="button button-clear" style="right:6px;" ng-click="goToConsentToTreat()">
              <a class="button_new icon ion-chevron-right iconVer">
                <span class="localizejs nextText">Next
                  <span>
              </a>
            </div>
       </ion-footer-bar>
</form>
</ion-side-menu-content>
<!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
