<style>
.has-footer{
  bottom: 0px!important;
}
</style>
<form name="userRegister" ng-init="doGetCountries();getStatesForUS();" id="userRegister" ng-submit="postRegisterStep1()">
<ion-view>
   <div id="Error_Message" class="localizejs" ></div>
   <div class="registerContent__registerCard" ng-if="is_iPadDeviceWidth < 768">
   <ion-content class="register registerContent" >
      <div class="epassbg registerContent__registerHeading" style="background-color: {{brandColor}}">
         <img ng-src="{{logo}}" style="position:relative;"/>
         <h2>{{selectedSearchProviderList.brandName}} <br><span class="localizejs">Registration</span></h2>
      </div>
      <!--<div>Let's Get Started</div>-->



            <div class="registerContent__regStarted">
               <div class="startedLeftIcon" ng-click="backtoPreviousPagefromReg();"><i ng-bind-html="drawSVGCIcon('chevron-left');"></i></div>
               <div class="startedTitle localizejs">Let's Get Started </div>
            </div>
            <div class="registerContent__mainField firstchild">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('user');"></i></div>
               <div class="user-account__fieldset regstfname">
                  <div>
                     <label class="user-account__label localizejs">First Name</label>
                     <div class="user-account__input ">
                        <input ng-model="regStep1.FName" name="regFName" id="regFName" type="text" class="localizejs" placeholder="type here..." ng-keyup="fnameBlur()" >
                        <span class="user-account__error-message localizejs" ng-show="fnameerror">Please enter your first name</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon"><i ng-bind-html="drawSVGCIcon('user');"></i></div>
               <div class="user-account__fieldset regstlname" >
                  <div>
                     <label class="user-account__label localizejs">Last Name</label>
                     <div class="user-account__input">
                        <input type="text" class="localizejs" placeholder="type here..."  ng-model="regStep1.LName" name="regLName" id="regLName" ng-keyup="lnameBlur()">
                        <span class="user-account__error-message localizejs" ng-show="lnameerror">Please enter your last name</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('user');"></i></div>
               <div class="user-account__fieldset regstgender">
                  <div>
                     <label class="user-account__label localizejs">Gender</label>
                     <div class="user-account__input">
                       <select class="ssooption textdata localizejs" ng-model="regStep1.regGender" name="regGender" id="regGender" ng-change="genderBlur()" >
                          <option value=""><b>Choose</b></option>
                          <option value="M" >Male</option>
                          <option value="F" >Female</option>
                       </select>

                        <span class="user-account__error-message localizejs" ng-show="gendererror">Please choose your gender</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('calendar');"></i></div>
               <div class="user-account__fieldset regstdob" >
                  <div>
                     <label class="user-account__label localizejs">D.O.B</label>
                     <div class="user-account__input">
                        <input type="date" class="localizejs" placeholder="type here..." ng-model="regStep1.regDOB" name="regDOB" id="regDOB"  ng-change="regdobs()" >
                        <span class="user-account__error-message localizejs" ng-show="dobmanderror">Please select your DOB</span>
                          <span class="user-account__error-message localizejs" ng-show="dobfuture">DOB can not be in Future</span>
                          <span class="user-account__error-message localizejs" ng-show="doberror">You should be atleast 12 years old to register</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('address');"></i></div>
               <div class="user-account__fieldset regstaddress" >
                  <div>
                     <label class="user-account__label localizejs">Full Home Address</label>
                     <div class="user-account__input" >
                        <!--<input type="text" placeholder="type here..."  ng-model="regStep1.regAddress" name="regAddress" id="regAddress" required>-->
                        <!--  <ion-google-place class="ssoaddress localizejs" placeholder="type here..." ng-model="regStep1.homeadd" id="regaddress" ng-change="addressBlur()"  /> -->

                       <!--    <span class="ssoaddress localizejs" ng-click="addressEditModal()">
                            {{regStep1.homeadd}}
                          </span> -->
<!--
                          <input type="text" readonly="readonly" class="ssoaddress localizejs ion-google-place ng-valid ng-touched" autocomplete="off" placeholder="type here..." ng-model="regStep1.homeadd" id="regaddress" ng-change="addressBlur()"> -->

                           <input type="text" name="address1" class="ssoaddress localizejs" ng-model="regStep1.homeadd" autocomplete="off" data-tap-disabled="true" id="regaddress"  placeholder="type here..." ng-click="addressEditModal()" style="overflow:scroll;" readonly/>


                     </div>
                     <span class="user-account__error-message localizejs" ng-show="adderror">Please Select your address</span>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('mail');"></i></div>
               <div class="user-account__fieldset regemail" >
                  <div class="">
                     <label class="user-account__label localizejs">Email Address</label>
                     <div class="user-account__input " ng-keyup="emailBlur()">
                        <input type="email" class="localizejs" placeholder="type here..." ng-model="regStep1.regEmail" name="regEmail" id="regEmail"  >
                        <!-- <span class="user-account__error-message localizejs" ng-show="emailmanderror">Please enter your email id</span>
                        <span class="user-account__error-message localizejs" ng-show="emailerror">Please enter valid email id</span>
                        <span class="user-account__error-message localizejs" ng-show="emailexisterror">An account with this email already exist.</span> -->
                        <span class="user-account__error-message localizejs" ng-show="emailerrorSpan">{{emailerroralert}}</span>
                      </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('mobile');"></i></div>
               <div class="user-account__fieldset regstCountry" style="width: 30%; float: left; border-right: none; height: 65px;">
                  <div class="regContainer">
                     <label class="user-account__label localizejs">Country</label>
                     <div class="user-account__input regDropDownContainer">
                        <div class="viewport localizejs" ng-if="regCountry2 == ''">Choose</div>
                        <div class="viewport localizejs" ng-if="regCountry2 != ''">{{regCountry2}}</div>
                         <select class="ssooptionCountry textdata consultHealthPlanDropDown localizejs" id="regCountryCode" name="regCountryCode" ng-model="regStep1.regCountryCode"  ng-change="countryBlur()" >
                            <option value="Choose" class="localizejs"><b class="localizejs">Choose</b></option>
                            <option class="planlist" ng-repeat="country in serviceCountries" value="{{country.code}}"><span class="localizejs">{{country.name}} </span><span>( {{country.code}})</span></option>
                         </select>
                        <span class="user-account__error-message localizejs" ng-show="countryError">Please choose your country code</span>
                     </div>
                  </div>
               </div>
               <div class="user-account__fieldset regstmobile" >
                  <div style="position: relative; left: -20px;">
                     <label class="user-account__label localizejs">Mobile</label>
                     <div class="user-account__input">
                        <input type="tel" class="localizejs" placeholder="type here..." ng-model="regStep1.regMobile" name="regMobile" id="regMobile" ng-keyup="moblieBlur()"  phone-input>
                        <!-- <span class="user-account__error-message localizejs" ng-show="mobilemanderror"  >Please enter a mobile number</span>
                        <span class="user-account__error-message localizejs" ng-show="mobileerror"  >Please enter a valid mobile number</span> -->
                          <span class="user-account__error-message localizejs" ng-show="mobileerrorSpan">{{mobileerroralert}}</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('lock');"></i></div>
               <div class="user-account__fieldset regstpwd" >
                  <div>
                     <label class="user-account__label localizejs">Password</label>
                     <div class="user-account__input">
                        <input type="password" class="localizejs" placeholder="type here..." ng-model="regStep1.regPassword" name="regPassword" id="regPassword"  ng-keyup="pwdBlur()" >
                        <span class="user-account__error-message localizejs" ng-show="pwdmanderror ">Please enter your password</span>
                        <span class="user-account__error-message localizejs" ng-show="pwderror ">Your Password must be between 8 and 20 characters. It must contain at least one upper and lower case letter and at least one number</span>
                        <span class="user-account__error-message localizejs" ng-show="pwdspaceerror">Password must not contain white spaces</span>
                      </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('lock');"></i></div>
               <div class="user-account__fieldset regstconpwd" >
                  <div>
                     <label class="user-account__label localizejs">Confirm Password</label>
                     <div class="user-account__input">
                        <input  type="password"  class="localizejs" placeholder="type here..." ng-model="regStep1.regConfrmPassword" name="regConfrmPassword" id="regConfrmPassword"  ng-keyup="confirmpwdBlur()" >
                        <span class="user-account__error-message localizejs" ng-show="confirmpwdmanderror">Please enter your confirm password</span>
                        <span class="user-account__error-message localizejs" ng-show="cnfrmpwderror">Password Mismatch</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="acinfoRegister1-{{deviceName}} localizejs">
               <h4><span class="localizejs"> Already have an account?</span><a ng-click="backtoPreviousPage();"><span class="localizejs">Login</span></a></h4>
            </div>
            <div ng-if="deploymentEnv !== 'Single'" class="acinfoRegister1Back-{{deviceName}} newLogProviderSecDiv-{{deviceName}}" >
               <h4 class="localizejs"><span class="localizejs">Wrong Provider?</span> <span ng-click="registerStpe1BackToSearchProvider();" class="localizejs">Go Back to Search</span></h4>
            </div>
            <div class="acinfoRegisterBottomAcceptText-{{deviceName}} localizejs"  >
               <p><span class="localizejs">By clicking below I understand that I am accepting the</span>
                 <span class="localizejs" style="text-decoration: underline;" ng-click="doGetTermsandCondition('tab.registerTerms', 'tab.registerStep1');">
                   Terms & Conditions</span>
                 <span class="localizejs"> as well as the </span>
                 <span style="text-decoration: underline;">
                   <a class="" ng-click="doGetTermsandCondition('tab.registerTerms', 'tab.registerStep1');" >
                     <span class="localizejs">Privacy Policy</span></a>
                     <!-- <a class="hospitalDynamicLink" ng-click="hospitallink()" >
                      <span class="localizejs">Privacy Policy</span></a> -->
                    </span>
                      <span class="localizejs">associated with the use of this service.</span></p>
            </div>
            <div ng-controller="LoginCtrl">
            </div>
       </ion-content>
            <!-- <div class="hide-on-keyboard-open"> -->
               <ion-footer-bar  class="bar bar-footer footer  footer-color regFooter"  hide-on-keyboard="true" >
                  <div class="regFooter__regConcernsFooter">
                     <button type="submit" class="button localizejs">
                    <span class="localizejs">Agree & Create Account</span>
                     </button>
                  </div>
               </ion-footer-bar>
            <!-- </div> -->
     </div>

<div ng-if="is_iPadDeviceWidth >= 768" >
   <ion-content class="register registerContent"  style="background-color: {{brandColor}}">
      <div class="epassbg registerContent__registerHeading" >
         <img ng-src="{{logo}}" style="position:relative;"/>
         <h2>{{selectedSearchProviderList.brandName}} <br><span class="localizejs">Registration</span></h2>
      </div>

      <div class="registerContent__registerCard" >

            <div class="registerContent__regStarted">
               <div class="startedLeftIcon" ng-click="backtoPreviousPage();"><i ng-bind-html="drawSVGCIcon('chevron-left');"></i></div>
               <div class="startedTitle localizejs">Let's Get Started </div>
            </div>
            <div class="registerContent__mainField firstchild">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('user');"></i></div>
               <div class="user-account__fieldset regstfname">
                  <div>
                     <label class="user-account__label localizejs">First Name</label>
                     <div class="user-account__input ">
                        <input ng-model="regStep1.FName" ng-change="change()"class="localizejs" name="regFName" id="regFName" type="text" placeholder="type here..." ng-keyup="fnameBlur()" >
                        <span class="user-account__error-message localizejs" ng-show="fnameerror">Please enter your first name</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon"><i ng-bind-html="drawSVGCIcon('user');"></i></div>
               <div class="user-account__fieldset regstlname" >
                  <div>
                     <label class="user-account__label localizejs">Last Name</label>
                     <div class="user-account__input">
                        <input type="text" class="localizejs" placeholder="type here..."  ng-model="regStep1.LName" name="regLName" id="regLName" ng-keyup="lnameBlur()">
                        <span class="user-account__error-message localizejs" ng-show="lnameerror">Please enter your last name</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('user');"></i></div>
               <div class="user-account__fieldset regstgender">
                  <div>
                     <label class="user-account__label localizejs">Gender</label>
                     <div class="user-account__input localizejs">
                       <select class="localizejs ssooption textdata" ng-model="regStep1.regGender" name="regGender" id="regGender" ng-change="genderBlur()" >
                          <option value=""><b class="localizejs">Choose</b></option>
                          <option value="M" class="localizejs">Male</option>
                          <option value="F" class="localizejs">Female</option>
                       </select>

                        <span class="user-account__error-message localizejs" ng-show="gendererror">Please choose your gender</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('calendar');"></i></div>
               <div class="user-account__fieldset regstdob" >
                  <div>
                     <label class="user-account__label localizejs">D.O.B</label>
                     <div class="user-account__input">
                        <input type="date" class="localizejs" placeholder="type here..." ng-model="regStep1.regDOB" name="regDOB" id="regDOB"  ng-change="regdobs()" >
                        <span class="user-account__error-message localizejs" ng-show="dobmanderror">Please select your DOB</span>
                          <span class="user-account__error-message localizejs" ng-show="dobfuture">DOB can not be in Future</span>
                          <span class="user-account__error-message localizejs" ng-show="doberror">You should be atleast 12 years old to register</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('address');"></i></div>
               <div class="user-account__fieldset regstaddress" >
                  <div>
                     <label class="user-account__label localizejs">Full Home Address</label>
                     <div class="user-account__input" >
                       <!--  <ion-google-place class="ssoaddress localizejs" placeholder="type here..." ng-model="regStep1.homeadd" id="regaddress" ng-change="addressBlur()"  /> -->

                       <!--   <span class="ssoaddress localizejs" ng-click="addressEditModal()">
                            {{regStep1.homeadd}}
                          </span> -->

                            <input type="text" name="address1" class="ssoaddress localizejs" ng-model="regStep1.homeadd" autocomplete="off" data-tap-disabled="true"  placeholder="type here..." readonly ng-click="addressEditModal()" id="regaddress" ng-change="addressBlur()"/>

                     </div>
                     <span class="user-account__error-message localizejs" ng-show="adderror">Please Select your address</span>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('mail');"></i></div>
               <div class="user-account__fieldset regemail" >
                  <div class="">
                     <label class="user-account__label localizejs">Email Address</label>
                     <div class="user-account__input " ng-keyup="emailBlur()">
                        <input type="email" class="localizejs" placeholder="type here..." ng-model="regStep1.regEmail" name="regEmail" id="regEmail"  >
                        <!-- <span class="user-account__error-message localizejs" ng-show="emailmanderror">Please enter your email id</span>
                        <span class="user-account__error-message localizejs" ng-show="emailerror">Please enter valid email id</span>
                        <span class="user-account__error-message localizejs" ng-show="emailexisterror">An account with this email already exist.</span>
                     -->
                     <span class="user-account__error-message localizejs" ng-show="emailerrorSpan">{{emailerroralert}}</span>
                      </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('mobile');"></i></div>
               <div class="user-account__fieldset regstCountry" style="width: 30%; float: left; border-right: none;  height: 65px;">
                  <div class="regContainer">
                     <label class="user-account__label localizejs">Country</label>
                     <div class="user-account__input regDropDownContainer">
                      <div class="viewport localizejs" ng-if="regCountry2 == ''">Choose</div>
                      <div class="viewport localizejs" ng-if="regCountry2 != ''">{{regCountry2}}</div>
                         <select class="ssooptionCountry textdata consultHealthPlanDropDown localizejs" id="regCountryCode" name="regCountryCode" ng-model="regStep1.regCountryCode"  ng-change="countryBlur()" >
                            <option class="localizejs" value="Choose"><b class="localizejs">Choose</b></option>
                            <!--<option class="planlist" ng-repeat="country in serviceCountries" value="{{country.code}}"><b class="localizejs">{{country.name}} (
                            {{country.code}})</b></option>-->
                            <option class="planlist" ng-repeat="country in serviceCountries" value="{{country.code}}"><span class="localizejs">{{country.name}} </span><span> ( {{country.code}})</span></option>
                         </select>
                        <span class="user-account__error-message localizejs" ng-show="countryError">Please choose your country code</span>
                     </div>
                  </div>
               </div>
               <div class="user-account__fieldset regstmobile" >
                <div style="position: relative; left: -20px;">
                     <label class="user-account__label localizejs">Mobile</label>
                     <div class="user-account__input">
                        <input type="tel" class="localizejs" placeholder="type here..." ng-model="regStep1.regMobile" name="regMobile" id="regMobile" ng-keyup="moblieBlur()"  phone-input>
                        <!-- <span class="user-account__error-message localizejs" ng-show="mobilemanderror" >Please enter a mobile number</span>
                        <span class="user-account__error-message localizejs" ng-show="mobileerror" >Please enter a valid mobile number</span> -->
                          <span class="user-account__error-message localizejs">{{mobileerroralert}}</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('lock');"></i></div>
               <div class="user-account__fieldset regstpwd" >
                  <div>
                     <label class="user-account__label localizejs">Password</label>
                     <div class="user-account__input">
                        <input type="password" class="localizejs" placeholder="type here..." ng-model="regStep1.regPassword" name="regPassword" id="regPassword"  ng-keyup="pwdBlur()" >
                        <span class="user-account__error-message localizejs" ng-show="pwdmanderror">Please enter your password</span>
                        <span class="user-account__error-message localizejs" ng-show="pwderror">Your Password must be between 8 and 20 characters. It must contain at least one upper and lower case letter and at least one number</span>
                        <span class="user-account__error-message localizejs" ng-show="pwdspaceerror">Password must not contain white spaces</span>
                      </div>
                  </div>
               </div>
            </div>
            <div class="registerContent__mainField">
               <div class="user-account__fieldIcon" style="float:left;"><i ng-bind-html="drawSVGCIcon('lock');"></i></div>
               <div class="user-account__fieldset regstconpwd" >
                  <div>
                     <label class="user-account__label localizejs">Confirm Password</label>
                     <div class="user-account__input">
                        <input  type="password" class="localizejs" placeholder="type here..." ng-model="regStep1.regConfrmPassword" name="regConfrmPassword" id="regConfrmPassword"  ng-keyup="confirmpwdBlur()" >
                        <span class="user-account__error-message localizejs" ng-show="confirmpwdmanderror">Please enter your confirm password</span>
                        <span class="user-account__error-message localizejs" ng-show="cnfrmpwderror">Password Mismatch</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="acinfoRegister1-{{deviceName}}">
               <h4><span class="localizejs">Already have an account? </span><a ng-click="backtoPreviousPage();"><span class="localizejs">Login</span></a></h4>
            </div>
            <div ng-if="deploymentEnv !== 'Single'" class="acinfoRegister1Back-{{deviceName}} newLogProviderSecDiv-{{deviceName}}" >
               <h4><span class="localizejs">Wrong Provider?</span>
                  <span class="localizejs" ng-click="registerStpe1BackToSearchProvider();">Go Back to Search</span></h4>
            </div>
            <div class="acinfoRegisterBottomAcceptText-{{deviceName}}"  >
               <p ng-if="deploymentEnv == 'Multiple'" class="localizejs"><span class="localizejs">By clicking below I understand that I am accepting the</span>
                    <span style="text-decoration: underline;" class="localizejs" ng-click="doGetTermsandCondition('tab.registerTerms', 'tab.registerStep1');">Terms & Conditions</span> <span class="localizejs">as well as the </span><span style="text-decoration: underline;"><a class="" ng-click="doGetTermsandCondition('tab.registerTerms', 'tab.registerStep1');" ><span class="localizejs"> Privacy Policy </span></a></span>
                    <span class="localizejs">associated with the use of this service.</span>
               </p>
               <p ng-if="deploymentEnv != 'Multiple'" class="localizejs"><span class="localizejs">By clicking below I understand that I am accepting the</span>
                    <span class="localizejs" style="text-decoration: underline;" ng-click="doGetTermsandCondition('tab.singleTerms', 'tab.registerStep1');">Terms & Conditions</span><span class="localizejs"> as well as the</span> <span style="text-decoration: underline;"><a class=""ng-click="doGetTermsandCondition('tab.registerTerms', 'tab.registerStep1');" ><span class="localizejs">Privacy Policy</span> </a></span>
                    <span class="localizejs">associated with the use of this service.</span>
               </p>
               <p ng-if="deploymentEnv != 'Multiple' &&  cobrandApp == 'LatchOn'" class="localizejs"><span class="localizejs">By clicking below I understand that I am accepting the</span>
                    <span class="localizejs" style="text-decoration: underline;" ng-click="doGetTermsandCondition('tab.registerTerms', 'tab.registerStep1');">Terms & Conditions</span> <span class="localizejs">as well as the</span> <span style="text-decoration: underline;"><a class="" ng-click="doGetTermsandCondition('tab.registerTerms', 'tab.registerStep1');" ><span class="localizejs">Privacy Policy</span> </a></span>
                    <span class="localizejs">associated with the use of this service.</span>
               </p>
            </div>
            <!-- <div class="hide-on-keyboard-open"> -->

              <ion-footer-bar  class="bar bar-footer footer  footer-color regFooter" hide-on-keyboard="true" >
                 <div class="regFooter__regConcernsFooter">
                    <button type="submit" class="button localizejs">
                <span class="localizejs">Agree</span> &amp; <span class="localizejs">Create Account</span>
                    </button>
                 </div>
              </ion-footer-bar>
          <!-- </div> -->
            <div ng-controller="LoginCtrl">
            </div>
          </div>
       </ion-content>
</div>

</ion-view>
 </form>
