<style>
  .hide-on-keyboard-open {
   display: block !important;
  }
</style>
<ion-side-menus>
<ion-side-menu-content>
   <ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
      <div class="buttons">
         <span class="button icon button-clear {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"><i ng-bind-html="drawSVGCIcon('menu')"></i></span>
      </div>
      <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}}"> <span class="localizejs">Consultations </span><span style="position: relative; left: -12px;" ><a class="headerval" ng-click="consultsearch()" ><i class="icon ion-search" style="font-size: 20px;"  ></i></a></span></h1>
      <div class="bar bar-subheader bar-dark subheaderheight">
         <div class="row">
            <h1 class="headertitle">
               <div class="ellipsis subHeader_content_name" >
                  <span class="PatintHeaderFontStyle patientName ellipsis fnamefont">{{PatientFirstName}}</span>
                  <span class="patientLastName ellipsis lnamefont" >{{PatientLastName}}</span>
               </div>
            </h1>
         </div>
         <div class="row userAccountPanel">
            <div class="col col-33 uAPHomeIcon">
               <a ng-href='#/tab/userAccount'>
                  <div class="icon homeicon">
                     <div class="buttons">
                        <span><i ng-bind-html="drawSVGCIcon('home');"></i></span>
                     </div>
                  </div>
                  <div>
                     <p class="hometext localizejs">Account Home</p>
                  </div>
               </a>
            </div>
            <div class="col col-33 uAPlProfileImage" ng-bind-html="drawImage(PatientImageSelectUser,PatientFirstName,PatientLastName)"></div>
            <div class="col col-33 uAPChangePatient">
               <a  ng-click="patchange()">
                  <div class="icon groupicon">
                     <div class="buttons">
                        <span><i ng-bind-html="drawSVGCIcon('group');"></i></span>
                     </div>
                  </div>
                  <p class="grouptext localizejs">Change Patient</p>
               </a>
            </div>
         </div>
         <div class="row">
            <div class="buttons backbtn">
               <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">	</button>
            </div>
            <div class=" button-bar">
               <label class="button button-small btcolor btn-first " id="passed" ng-click="passedconsult()"> <span class="tabheading localizejs">Past</span></label>
               <label class="button button-small btn-first btnextcolor" id="missed" ng-click="missedconsult()"><span class="tabheading localizejs">Missed</span></label>
               <label class="button button-small btn-first btnextcolor" id="dropped" ng-click="droppedconsult()"><span class="tabheading localizejs">Dropped</span></label>
            </div>
            <div class="buttons backbtn">
               <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">	 </button>
            </div>
         </div>
      </div>
   </ion-header-bar>
   <ion-view title="">
      <ion-content class="scroll-content ionic-scroll consultcontent" ng-show="pastshow">
         <div>
            <div class="row rheader">
               <div class="col col-15"><span></span></div>
               <div class="col col-20"><span class="topfont localizejs">Date</span></div>
               <div class="col col-15"><span class="timetopfont localizejs">Time</span></div>
               <div class="col col-30"><span class="providertopfont localizejs">Provider</span></div>
               <div class="col col-15 "><span class="topfont"></span></div>
            </div>
            <hr style="margin-top:-12px;">
            <div class="list listfirst">
               <div ng-repeat="passedData in Passedconsultations">
                  <div class="row">
                     <div class="passedImage-{{deviceName}}" ng-if="passedData.encounterTypeCode == 3">
                        <a class="avatitem" ng-bind-html="drawImage(PatientImageSelectUser,PatientFirstName,PatientLastName)">
                      </a>  <span class="encountericon ">  <i ng-bind-html="drawSVGCIcon('video_camera')"></i> </span>
                     </div>
                     <div class="passedImage-{{deviceName}}" ng-if="passedData.encounterTypeCode == 2">
                        <a class="avatitem" ng-bind-html="drawImage(PatientImageSelectUser,PatientFirstName,PatientLastName)">
                      </a>   <span class="encountericon">  <i ng-bind-html="drawSVGCIcon('phone')"></i> </span>
                     </div>
                     <div class="passedImage-{{deviceName}}" ng-if="passedData.encounterTypeCode == 4">
                        <a class="avatitem" ng-bind-html="drawImage(PatientImageSelectUser,PatientFirstName,PatientLastName)">
                      </a>   <span class="encountericon">  <i ng-bind-html="drawSVGCIcon('users')"></i> </span>
                     </div>
                     <div class="passedDate-{{deviceName}}">
                        <p class="colfamily consult localizejs"> {{passedData.consultationDate}}</p>
                     </div>
                     <div class="passedTime-{{deviceName}}">
                        <p class="colfamily consult">{{passedData.consultationTime}}</p>
                     </div>
                     <div class="ellipsis passedDoc-{{deviceName}}">
                        <p class="ellipsis consult">
                           <a class="colfamily" ng-if="!passedData.assignedDoctorName">N/A</a>
                           <a class="colfamily" ng-if="passedData.assignedDoctorName">{{passedData.assignedDoctorName}}</a>
                        </p>
                     </div>
                     <div class="passedDetails-{{deviceName}} consult">
                        <span ng-click="showReportView({{passedData}}, 'tab.reports');"><span class="localizejs">Report</span>
                        <span><i class="icon ion-chevron-right "></i></span></span>
                     </div>
                  </div>
                  <hr class="dotedhr">
               </div>
               <ion-item ng-if="!Passedconsultations.length" class="noapptviewResult localizejs" style="white-space: normal;">There are no consultations found!</ion-item>
            </div>
         </div>
      </ion-content>
      <!-- Past Consult End -->
      <ion-content class="scroll-content ionic-scroll consultcontent" ng-show="missedshow">
         <div>
            <div class="row rheader">
               <div class="col col-15"><span></span></div>
               <div class="col col-20"><span class="topfont localizejs">Date</span></div>
               <div class="col col-15"><span class="timetopfont localizejs">Time</span></div>
               <div class="col col-30"><span class="providertopfont localizejs">Provider</span></div>
               <div class="col col-15 "><span class="topfont"></span></div>
            </div>
            <hr style="margin-top:-12px;">
            <div class="list listfirst">
               <div ng-repeat="misseddata in missedlist">
                  <div class="row">
                     <div class="passedImage-{{deviceName}}" ng-if="misseddata.encounter == 3">
                        <a class="avatitem" ng-bind-html="drawImage(PatientImageSelectUser,PatientFirstName,PatientLastName)"></a>
                        <span class="encountericon ">  <i ng-bind-html="drawSVGCIcon('video_camera')"></i> </span>
                     </div>
                     <div class="passedImage-{{deviceName}}" ng-if="misseddata.encounter != 3">
                        <a class="avatitem" ng-bind-html="drawImage(PatientImageSelectUser,PatientFirstName,PatientLastName)"></a>
                        <span class="encountericon ">  <i ng-bind-html="drawSVGCIcon('phone')"></i> </span>
                     </div>
                     <div class="passedDate-{{deviceName}}">
                        <p class="colfamily consult">{{misseddata.enddate | date: "MMM dd, yyyy"}}</p>
                     </div>
                     <div class="passedTime-{{deviceName}}">
                        <p class="colfamily consult">{{misseddata.startTime  | date: "hh:mm a"}}</p>
                     </div>
                     <div class="ellipsis passedDoc-{{deviceName}}">
                        <p class="ellipsis consult">
                           <a class="colfamily localizejs" ng-if="!misseddata.docname">N/A
                           </a>
                           <a class="colfamily" ng-if="misseddata.docname">{{misseddata.docname}}
                           </a>
                        </p>
                     </div>
                     <div class="passedDetails-{{deviceName}} consult">
                        <span  class="localizejs" ng-click="showMissedDetailsView({{misseddata}},'tab.missedConsultAppoint');">Details
                        <span><i class="icon ion-chevron-right "></i></span></span>
                     </div>
                  </div>
                  <hr class="dotedhr">
               </div>
               <ion-item ng-if="!missedlist.length" class="noapptviewResult localizejs" style="white-space: normal;">There are no consultations found!</ion-item>
            </div>
         </div>
      </ion-content>
      <!-- Missed Consult End -->
      <ion-content class="scroll-content ionic-scroll consultcontent" ng-show="droppedshow">
         <div>
            <div class="row rheader">
               <div class="col col-15"><span></span></div>
               <div class="col col-20"><span class="topfont localizejs">Date</span></div>
               <div class="col col-15"><span class="timetopfont localizejs">Time</span></div>
               <div class="col col-30"><span class="providertopfont localizejs">Provider</span></div>
               <div class="col col-15 "><span class="topfont localizejs"></span></div>
            </div>
            <hr style="margin-top:-12px;">
            <div class="list listfirst">
               <div ng-repeat="droppedData in Droppedconsultations">
                  <div class="row">
                    <div class="passedImage-{{deviceName}}" ng-if="droppedData.encountertype == 3">
                       <a class="avatitem" ng-bind-html="drawImage(PatientImageSelectUser,PatientFirstName,PatientLastName)"></a>
                       <span class="encountericon ">  <i ng-bind-html="drawSVGCIcon('video_camera')"></i> </span>
                    </div>
                    <div class="passedImage-{{deviceName}}" ng-if="droppedData.encountertype != 3">
                       <a class="avatitem" ng-bind-html="drawImage(PatientImageSelectUser,PatientFirstName,PatientLastName)"></a>
                       <span class="encountericon ">  <i ng-bind-html="drawSVGCIcon('phone')"></i> </span>
                    </div>
                     <div class="passedDate-{{deviceName}}">
                        <p class="colfamily consult">{{droppedData.consultationDate}}</p>
                     </div>
                     <div class="passedTime-{{deviceName}}">
                        <p class="colfamily consult">{{droppedData.consultationTime}}</p>
                     </div>
                     <div class="ellipsis passedDoc-{{deviceName}}">
                        <p class="ellipsis consult">
                           <a class="colfamily localizejs" ng-if="!droppedData.assignedDoctorName">N/A</a>
                           <a class="colfamily" ng-if="droppedData.assignedDoctorName">{{droppedData.assignedDoctorName}}</a>
                        </p>
                     </div>
                     <div class="passedDetails-{{deviceName}} consult">
                        <span class="localizejs" ng-click="showReportView({{droppedData}},'tab.reports');">Report
                        <span><i class="icon ion-chevron-right "></i></span></span>
                     </div>
                  </div>
                  <hr class="dotedhr">
               </div>
               <ion-item ng-if="!Droppedconsultations.length" class="noapptviewResult localizejs" style="white-space: normal;">There are no consultations found!</ion-item>
            </div>
         </div>
      </ion-content>
      <div ng-controller="healthinfoController">
      </div>
      <!-- Dropped Consult End -->
   </ion-view>
   <ion-tabs class=" tabs-icon-top tabs-dark" style="display : block">
      <a class="tab-item" ng-href="#/tab/relatedusers" >
      <i class="icon tabfont" ng-bind-html="drawSVGCIcon('users')"></i>
      <span class="tabcolor localizejs"> Users </span>
      </a>
      <a class="tab-item active" ng-href="#/tab/consultations">
      <i class="icon tabfont" ng-bind-html="drawSVGCIcon('health_card')"></i>
      <span class="tabcolor localizejs">Consultations </span>
      </a>
      <a class="tab-item" ng-href="#/tab/healthinfo/" ng-if="primaryPatientId == patientId">
      <i class="icon tabfont" ng-bind-html="drawSVGCIcon('clipboard')"></i> <span class="tabcolor localizejs">My Health</span>
      </a>
      <a class="tab-item" ng-href="#/tab/healthinfo/" ng-if="primaryPatientId != patientId">
      <i class="icon tabfont" ng-bind-html="drawSVGCIcon('clipboard')"></i> <span class="tabcolor localizejs">Health Info</span>
      </a>
      <a class="tab-item" ng-href="#/tab/appointmentpatientdetails/">
      <i class="icon tabfont" ng-bind-html="drawSVGCIcon('calendar')"></i>
      <span class="tabcolor localizejs">Appointments</span>
      </a>
   </ion-tabs>
</ion-side-menu-content>
<div ng-include src="'templates/SideMenu.html'"></div>
