<style>
  .ion-chevron-right:before {
    float: right;
  }
</style>
<ion-side-menus>
  <ion-side-menu-content>
    <div ng-include src="'templates/intakeHeader.html'"></div>
    <ion-view title="Prior Surgeries" cache-view="false">
      <ion-content class="ContentHomeUser ConcernsContent">
        <ion-list>
          <ion-item class="PrimaryList" style="{{IntakeFormInnerStyle}}">
            <div class="Step1 localizejs">
              <span class="localizejs">Step</span>
              <b style="color:#535353;">3</b>
              <span class="localizejs"> of</span>
              <b class="localizejs" style="color:#535353;">{{userAgeForIntake}}</b>
            </div>
            <div ng-click="getSurgeryPopup();">
              <div class="PrimaryContent">
                <h1 class="title ChronicCondition concernsSubTit localizejs">Prior Surgeries</h1>
                <p class="patientConternFontStyle localizejs">
                  List any prior surgeries
                  <br/>
                  <span class="patientConternFontStyleSubTitle localizejs">Enter up to three</span>
                </p>
                <div>
                  <i class="addBtn" ng-bind-html="drawSVGCIcon('circle-with-plus')"></i>
                </div>
              </div>
            </div>
            <!--  <div ng-if="IsToPriorCount == 3" >
               <div class="PrimaryContent">
                  <h1 class="title ChronicCondition concernsSubTit">Prior Surgeries</h1>
                  <p>
                     List any prior surgeries.
                     <br/>
                     Enter up to three
                  </p>
                  <div>
                     <i class="addBtn disabled" ng-bind-html="drawSVGCIcon('circle-with-plus')"></i>
                  </div>
               </div>
            </div> -->
          </ion-item>
          <div class="list surgeryList" style="margin-top: 3px;">
            <a class="item item-avatar" ng-repeat="surgery in patientSurgeriess" show-delete="data.showDelete">
              <div class="surgeryDetails">
                <div class="surgeryName">
                  <p class="localizejs">{{surgery.Name}}</p>
                </div>
                <div class="surgeryDate">{{surgery.Date | date: "MMMM yyyy"}}</div>


              </div>
              <!-- <div class="surgerydelete" ng-click="removePriorSurgeries($index)" >
                  <i class="delBtn" ng-bind-html="drawSVGCIcon('circle-with-cross')"></i>
               </div> -->
            </a>
          </div>
      </ion-content>
    </ion-view>

    <div class="bar bar-footer footer">
      <div class="button button-clear" ng-click="BackToChronicCondition(ChronicCountValidCount);">
        <a class="button_new icon ion-chevron-left iconVer" style="position: relative;top:-2px;">
          <span class="localizejs backText"> Back</span>
        </a>
      </div>
      <div class="title titleLineheight" style="height:auto;">
        <a class="button_new icon localizejs cancelText iconVer " style="{{PatientConcernCancel}}"  ng-click="clearRootScopeConce()">
          <span>Cancel</span>
        </a>
      </div>
      <div class="button button-clear" style="right:6px;" ng-click="GoToMedicationAllegies(AllegiesCountValid)">
        <a class="button_new icon ion-chevron-right iconVer">
          <span class="localizejs nextText">Next
            <span>
        </a>
      </div>
    </div>

    <!-- <ion-footer-bar  class="footer">
      <span class="ConcernsFooter">
      <div class="FooterLeft" ng-click="BackToChronicCondition(ChronicCountValidCount);">
         <a class="button_new icon ion-chevron-left"  ><span class="localizejs"> Back</span></a>
      </div>
      <div class="FooterCenter" ng-click="clearRootScopeConce()">
         <a class="button_new icon localizejs" >Cancel</a>
      </div>
      <div class="FooterRight" style="{{NextIntakeForm}};" ng-click="GoToMedicationAllegies(AllegiesCountValid)">
        <a class="button_new icon ion-chevron-right localizejs" > <span class="ConcernFooterNext" style="">Next<span> </a>
      </div>
      </span>
   </ion-footer-bar> -->
  </ion-side-menu-content>
  <!--Side Menu File Include --->
  <div ng-include src="'templates/SideMenu.html'"></div>