r<div class="modal">
    <header class="bar bar-header bar-dark concernListHeader" >
      <h1 class="title concernListTitle localizejs">State</h1>
      <button class="button button-clear concernListDone localizejs" ng-click="closeStateList()" >Done</button>
	</header>

	<ion-content has-header="true" class="concernListContent">

		<ion-list>
			<ion-item class="search_home concernListSearch">
				<div class="search_home concernListSearchHome">
					<label class="item-input popupSearch SearchLabel-{{deviceName}}" >
                        <input type="text" placeholder="Search" id="states" class="innerSearchPop SearchBox localizejs" ng-model="data.stateList" ng-change="StateSelect(data.stateList)" >
						<i class="clear-search icon ion-ios7-close-empty" ng-click="clearSearch()"></i>
					</label>
			    </div>

                <p class="localizejs">{{stateListNew}}</p>
			 <ion-checkbox ng-repeat="StateListData in stateList.results.address_components"
	ng-model="StateListData.checked" ng-checked="StateListData.checked" ng-click="OnSelectContryData(stateList.results, StateListData)" ng-disabled="checked" >
				 <span class="ng-binding concernListDetails localizejs" >{{ StateListData.long_name}} </span>
        </ion-checkbox>
			</ion-item>
		</ion-list>

	</ion-content>
 </div>
