<ion-view>
   <div id="Error_Message" ></div>
   <ion-content class="register regstep1" style="background-color: {{brandColor}}">
      <div class="epassbg">
         <img ng-src="{{logo}}" style="position:relative;"/>
         <h2>{{selectedSearchProviderList.brandName}} <br><span>Registration</span></h2>
      </div>
      <form ng-submit="postRegisterStep1()">
         <div class="card">
            <div class="regcontent">
               <h2>Let’s Get Started</h2>
               <p>First, please tell us who you are</p>
            </div>
            <div class="item-input-inset">
               <label class="item-input-wrapper place">
               <input type="text" ng-model="regStep1.FName" placeholder="First Name">
               </label>
            </div>
            <div class="item-input-inset">
               <label class="item-input-wrapper place1">
               <input type="text" ng-model="regStep1.LName" placeholder="Last Name">
               </label>
            </div>
            <div class="item-input-inset">
               <label class="item-input-wrapper place1">
                  <ion-google-place placeholder="Full Address" ng-model="regStep1.address" />
               </label>
            </div>
            <div class="btn1">
               <button type="submit" class="button">
               Get Started
               </button>
            </div>
         </div>
      </form>
      <div class="acinfo1-{{deviceName}}">
         <h4>Already have an account? <a ng-click="backtoPreviousPage();"><span>Login</span></a></h4>
      </div>
      <div ng-if="deploymentEnv !== 'Single'" class="acinfo1-{{deviceName}} newLogProviderSecDiv-{{deviceName}}" style="padding-bottom: 30px;">
         <h4>Wrong Provider? <span ng-click="registerStpe1BackToSearchProvider();">Go Back to Search</span></h4>
      </div>
      <div ng-controller="LoginCtrl">
      </div>
   </ion-content>
  <!-- <div class="hide-on-keyboard-open">-->
   <ion-footer-bar  class="footer" hide-on-keyboard="true" style="background-color: {{brandColor}} !important; border-color: {{brandColor}} !important">
      <div class="ConcernsFooter">
        <div class="FooterLeft" style="width: 100%;">
           <a class="button_new icon" style="font-size: 9px;" ng-click="doGetTermsandCondition('tab.registerTerms', 'tab.registerStep1');">Terms & Conditions</a>
        </div>
      </div>
   </ion-footer-bar>
   <!--</div>-->
</ion-view>
