
<div class="animated slideInRight">
 <ion-side-menus>
  <ion-side-menu-content>
    <ion-header-bar align-title="left" class="homeheader bar-positiveHomeUser" style="height:128px !important;background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
      <div class="buttons">
        <!--<button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"></button>-->
        <span class="button icon button-clear {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"><i ng-bind-html="drawSVGCIcon('menu')"></i></span>
      </div>
     <h1 class="chronic {{title_patient}} {{HeaderList}} {{intakeTittle}} useracctheader" > <span clas="headerfont">User</span>
        <span> <a class="headerval">Cancel</a>
       </span>
        </h1>
        <div class="bar bar-subheader bar-dark subheaderheight">
        <div class="row">
          <h1 class="headertitle">
					<div class="ellipsis subHeader_content_name" >
						<span class="PatintHeaderFontStyle patientName ellipsis fnamefont" >Jonathan</span>
						<span class="patientLastName ellipsis lnamefont" >Fitzpztrick</span>
					</div>
				</h1>
        </div>
        <div class="item item-image-icon">
          <a class="lefthome">
            <span class="subHeadIcons"><i class="icon ion-home headerlefticons"></i></span>
            <p class="homecontent">Account Home</p>
          </a>
          <a class="item-avatar itemhead">
            <p><img src="img\patient.png" class="topimage"></p>
          </a>
          <a class="rightpatient">
          <span class="subHeadIcons">  <i class="icon ion-ios-people headerrighticon"></i></span>
            <p class="patientcontent">Change Patient</p>
          </a>
        </div>
      </div>
    </ion-header-bar>
    <ion-view title="User Appointment">
      <ion-content class="userappcontent">
        <ion-list>
          <div class="list listtype" >
            <ion-item class="ionitem" >
              <div class="card newcard hidecard">
                <div class="item item-text-wrap">
                  <div class="">
                    <h2 class="title alignchronic ChronicCondition ">
										<i class="ion-ios-person apticons" ></i>
										<span class="content"> <a ng-href="#/tab/healthinfo/">
										Manage Your Profile
										</a></span>
									</h2>
                  </div>
                </div>
              </div>
            </ion-item>
            <ion-item class="sionitem" >
              <div class="card newcard hidecard">
                <div class="item item-text-wrap">
                  <div class="">
                    <h2 class="title alignchronic ChronicCondition">
										<i class="ion-calendar aptviewicons"></i>
										<span class="content"> <a ng-href="#/tab/appointmentpatientdetails/"  >
										View Your Appointments</a></span>
									</h2>
                  </div>
                </div>
              </div>
            </ion-item>

          </div>
        </ion-list>
      </ion-content>
  </ion-side-menu-content>
  <!--Side Menu File Include --->
  <div ng-include src="'templates/SideMenu.html'"></div>
  </ion-view>
  <ion-item class="apptdetails" >
    <a class="" ng-href="#/tab/patientappointmentdetails">
      <div>
        <h3 class="appth3"> <span class="appointment">Appointment @ 2:45 pm</span>
         <span id="viewicon">
	        <a class="appalignrighticon"> View Details</a>
	         <span  class="aslignspan"><i class="iconchevron ion-chevron-right" style=""></i>
	</span>
	</span>
	</h3>

	</div>
	</a>
</ion-item>
 <ion-footer-bar class="bar bar-footer  footer-color userappheight" >

	<h1 class="title userappfootcontent" >See A Provider Now</h1>
 </ion-footer-bar>
 </div>
