<style>
.has-footer{
  bottom: 0px!important;
}
</style>

<div class="bar bar-headerLess">
    <div id="Error_Message" ></div>
	<div class="Server_Error" ></div>
</div>

<ion-view title="Login">

	<!-- Header Start---->
	<ion-header-bar align-title="left" class="bar-positiveLess">

            <div class="bar bar-headerLess">
                <!--<div id="Error_Message" ></div>-->
            </div>

            <div class="bar {{SubHeaderLessDevice}}">
                <h2 class="{{HeadTitleLessDevice}}">Connected Care</h2>
            </div>


	</ion-header-bar>
	<!-- Header end-->


	<!-- Content Start-->

	<ion-content class="login_content">
		 <form ng-submit="LoginFunction()">
			<div class="login_home">
				<label class="item-input">
					<!--<input type="email" placeholder="Email" ng-model="userLogin.email" >-->
					<input type="email" placeholder="Email" ng-model="userLogin.UserEmail" name="UserEmail" id="UserEmail" >

				</label>

				<div class="squaredCheckbox">
					<!-- <input type="checkbox" value="None" id="squaredCheckbox" name="check" /> -->
                     <input type="checkbox" name="remember" id="squaredCheckbox" ng-click="rememberMe()" ng-model="userLogin.remember">
					<label for="squaredCheckbox"></label>
				</div>


				<div class="remember"> Remember my email</div>

				<div class="continue">
				<!--<a ng-href="#/tab/provider"> -->
				<!--<span us-spinner="{radius:30, width:8, length: 16}"></span> -->
					<button type="submit" class="button button-outline button-positive">
						Continue
					</button>
				<!--</a> -->
				</div>
			<!--	<div id="notifications" style="height: auto;" >
					<div id="notifications-window-row-button" ng-click="validation();">Sample Error Alert</div>
				</div> -->

				</div>
        </form>
	</ion-content>
	<!-- Content End-->


	<!-- Footer Start-->
	<!-- <div class="hide-on-keyboard-open"> -->
		<ion-footer-bar class="footer" hide-on-keyboard="true">
		 <div class="terms" >
			 <a ng-href="#/tab/terms">Terms & Conditions</a>
		  </div>

		  <div class="powerdBySnapMD">
			<a ng-href="http://snap.md/" >Powered by SnapMD</a>
		  </div>
		</ion-footer-bar>
	<!-- </div> -->
	<!-- Footer End-->


</ion-view>
