<div class="animated slideInRight">
   <ion-side-menus>
   <ion-side-menu-content>
      <ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
         <div class="buttons" >
            <span class="button icon button-clear {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"><i ng-bind-html="drawSVGCIcon('menu')"></i></span>
         </div>
         <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}} localizejs">
            Appointment Details
            <span >
               <site-header-ios ng-if="IOSDevice == true" back="Done"></site-header-ios>
               <site-header1 ng-if="AndroidDevice == true" back="Done"></site-header1>
            </span>
         </h1>
         <div class="bar bar-subheader bar-dark subheaderheight" >
            <div class="row">
               <h1 class="headertitle">
                  <div class="ellipsis subHeader_content_name" >
                     <span class="PatintHeaderFontStyle patientName ellipsis fnamefont "> {{missedAppointDetails.missedPatFirstName}}</span>
                     <span class="patientLastName ellipsis lnamefont" >{{missedAppointDetails.missedPatLastName}}</span>
                  </div>
               </h1>
            </div>
            <div class="row userAccountPanel">
               <div class="col col-33 uAPHomeIcon">
                  <a ng-href='#/tab/userAccount'>
                     <div class="icon homeicon">
                        <div class="buttons">
                           <span><i ng-bind-html="drawSVGCIcon('home');"></i></span>
                        </div>
                     </div>
                     <div>
                        <p class="hometext localizejs">Account Home</p>
                     </div>
                  </a>
               </div>
               <div class="col col-33 uAPlProfileImage" ng-bind-html="drawImage(PatientImageSelectUser,PatientFirstName,PatientLastName)"></div>
               <div class="col col-33 uAPChangePatient">
                  <a ng-href='#/tab/userhome'>
                     <div class="icon groupicon">
                        <div class="buttons">
                           <span><i ng-bind-html="drawSVGCIcon('group');"></i></span>
                        </div>
                     </div>
                     <p class="grouptext localizejs">Change Patient</p>
                  </a>
               </div>
            </div>
         </div>
      </ion-header-bar>
      <ion-view title="Appointment Details">
         <ion-content class="scroll-content ionic-scroll  has-header aptpaticoncontent" style="{{appointCOntent}}">
            <div class="list aptlist">
               <a class="item item-avatar patavatar">
                  <div class="docAppointImage" ng-bind-html="drawImage(missedAppointDocDetails[0].profileImagePath,missedAppointDocDetails[0].firstName,missedAppointDocDetails[0].lastName)"></div>
                  <div>
                     <p class="pathead localizejs">With</p>
                     <h2 class="appfname"><span >{{missedAppointDocDetails[0].fullName}}</h2>
                     <span class="appfloat"><i class="icon ion-chevron-right " style="display: none;"></i></span>
                     <p class="patage localizejs"><span>{{missedAppointDocDetails[0].gender}}  .</span> {{missedAppointDocDetails[0].dob | ageFilter}}</p>
                  </div>
               </a>
               <ion-item class="ionitem contalign" style="text-align:center;" >
                  <div class="item item-text-wrap">
                     <div class="datecontent">
                        <h2 class="fdate"><span class="fname ftime">{{consultationDate | date: "hh:mm"}}{{consultationDate | date: "a"}}</span> </h2>
                        <p class="fday">{{consultationDate | date: "EEEE, MMMM dd, yyyy"}}</p>
                     </div>
                  </div>
               </ion-item>
               <a class="item" style="border-bottom:none; pointer-events: none;">
                  <div class="row seccontent" >
                     <div class="col col-10 patcol10">1</div>
                     <div class="col col-90 ">
                        <p class="parafont"><b class="localizejs">Primary Concern</b></p>
                        <p class="pfontsize localizejs">{{missedAppointDetails.priConcern}}</p>
                     </div>
                  </div>
                  <br>
                  <div class="row seccontentone">
                     <div class="col col-10 patcol10">2</div>
                     <div class="col col-90 ">
                        <p class="parafont"><b class="localizejs">Secondary Concern</b></p>
                        <p class="pfontsize localizejs">{{missedAppointDetails.secConcern}}</p>
                     </div>
                  </div>
                  <br>
                  <div id="appointmentNote" class="row seccontentone" style="padding-bottom: 50px;" >
                     <div class="col col-10 patcol10">a</div>
                     <div class="col col-90 ">
                        <p class="parafont"><b class="localizejs">Notes</b></p>
                        <p class="pfontsize" style="position: relative; top: 8px;" id="appointNotes" > </p>
                     </div>
                  </div>
               </a>
            </div>
         </ion-content>
      </ion-view>
   </ion-side-menu-content>
   <!--Side Menu File Include --->
   <div ng-include src="'templates/SideMenu.html'"></div>
</div>
