<style>
        .ion-chevron-right:before {
                float: right;
        }
</style>
<ion-side-menus>
        <ion-side-menu-content>
                <div ng-include src="'templates/intakeHeader.html'"></div>
                <ion-view title="Current Medication">
                        <ion-content class="ContentHomeUser ConcernsContent">
                                <ion-list>
                                        <ion-item class="PrimaryList" style="{{IntakeFormInnerStyle}}">
                                                <div class="Step1 localizejs">
                                                        <span class="localizejs">Step </span>
                                                        <b style="color:#535353;">5 </b>
                                                        <span class="localizejs">of</span>
                                                        <b class="localizejs" style="color:#535353;">{{userAgeForIntake}}</b>
                                                </div>
                                                <div ng-click="loadCurrentMedication();">
                                                        <div class="PrimaryContent">
                                                                <h1 class="title ChronicCondition concernsSubTit localizejs">Current Medications</h1>
                                                                <p class="patientConternFontStyle localizejs">Select any medications currently taking
                                                                        <br/>
                                                                        <span class="patientConternFontStyleSubTitle localizejs">Select up to four</span>
                                                                </p>
                                                                <div>
                                                                        <i class="addBtn" ng-bind-html="drawSVGCIcon('circle-with-plus')"></i>
                                                                </div>
                                                        </div>
                                                </div>
                                        </ion-item>
                                        <ion-item ng-repeat="item in patinentCurrentMedication">
                                                <div class="PrimaryConcernList">
                                                        <p class="intakeNote localizejs">{{item.text}} </p>
                                                        <div ng-click="removeCurrentMedication($index, item);">
                                                                <i class="delBtn" ng-bind-html="drawSVGCIcon('circle-with-cross')"></i>
                                                        </div>
                                                </div>
                                        </ion-item>
                                </ion-list>
                        </ion-content>
                </ion-view>
                <!-- <ion-footer-bar class="footer">
                        <span class="ConcernsFooter">
                                <div class="FooterLeft">
                                        <a class="button_new icon ion-chevron-left" href="#/tab/MedicationAllegies">
                                                <span class="localizejs"> Back</span>
                                        </a>
                                </div>
                                <div class="FooterCenter" ng-click="clearRootScopeConce()">
                                        <a class="button_new icon localizejs">Cancel</a>
                                </div>
                                <div class="FooterRight" style="{{NextIntakeForm}};">

                                        <a class="button_new icon ion-chevron-right" ng-click="goToHealthHistory();" _href="#/tab/ConsentTreat">
                                                <span class="ConcernFooterNext localizejs" style="">Next
                                                        <span>
                                        </a>
                                </div>
                                </span>
                </ion-footer-bar> -->

                <div class="bar bar-footer footer">
                        <div class="button button-clear" ng-click="goBackButton('MedicationAllegies');">
                                <a class="button_new icon ion-chevron-left iconVer" style="position: relative;top:-2px;">
                                        <span class="localizejs backText"> Back</span>
                                </a>
                        </div>
                        <div class="title titleLineheight"  style="height:auto;">
                                <a class="button_new icon localizejs cancelText iconVer " style="{{PatientConcernCancel}}" ng-click="clearRootScopeConce()">
                                        <span>Cancel</span>
                                </a>
                        </div>
                        <div class="button button-clear" style="right:6px;" ng-click="goToHealthHistory();">
                                <a class="button_new icon ion-chevron-right iconVer">
                                        <span class="localizejs nextText">Next
                                                <span>
                                </a>
                        </div>
                </div>

        </ion-side-menu-content>
        <!--Side Menu File Include --->
        <div ng-include src="'templates/SideMenu.html'"></div>
