<ion-view title="Card Details">
   <form ng-submit="doEditPaymentProfileDetails()" name="CardForm" novalidate=''>
      <ion-header-bar align-title="left" class="bar-positiveHomeUser PlanHeader" style="background-color:{{brandColor}};border-color:{{brandColor}}; {{backgroundimage}}; {{HeadercardDetails}}" >
         <div id="Error_Message" class="ErrorMessageDiv localizejs" ></div>
         <div class="Server_Error ErrorMessageDiv localizejs" ></div>
         <div class="buttons localizejs" style="width: 50%; display: {{cardDisplay}}; {{HeadercardDetailsBack}}" >
            <site-header2 class="localizejs" back="Cancel"></site-header2>
         </div>
         <div class="buttons" style="width: 50%; " >

            <div style="width: 100%; text-align: right; display: {{cardDisplay}};">
               <button type="submit" class="button_new icon cardEditButton PlanNex localizejs"  style="width: 100%; text-align: right; {{CardDetailsNextButton}}">Save</button>
            </div>
         </div>
      </ion-header-bar>
      <ion-content class="planDetails_content" >
         <div>
            <div class="healthPlan_text cardDetailsHeading localizejs" style="display: {{cardDisplay}}">
               Card Details
            </div>
            <div class="CardInformation localizejs" style="display: {{cardDisplay}}" >
               Edit your card information below
            </div>
            <div class="healthPlan_text verifyPlanHeading localizejs" style="display: {{verifyCardDisplay}}">
               Verifying Card
            </div>
            <div class="verifyCardDisplay" style="display: {{verifyCardDisplay}}" >
            </div>
            <div class="list" style="opacity:{{planverify}};">
               <div class="item item-input" >
                  <span class="input-label cardfont localizejs" >First Name</span>
                  <input type="text" class="localizejs" placeholder="Required" name="FirstName" id="editFirstName" value="{{editbilling.first}}" required>
               </div>
               <div class="item item-input cards" >
                  <span class="input-label cardfont localizejs" >Last Name</span>
                  <input type="text" class="localizejs" placeholder="Required"  name="LastName" value="{{editbilling.last}}" id="editLastName" required>
               </div>
               <div class="item item-input ">
                  <span class="input-label cardfont localizejs" style="white-space: normal;">Card Number</span>
                  <!--<input type="text"  placeholder="xxxx-xxxx-xxxx-{{editcardNumber}}" value="" name="CardNumber" id="editCardNumber" required>-->
                  <input style="line-height: 20px; font-size: 18px; padding: 0px; {{invalidCard}}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "tel" class="localizejs" placeholder="xxxx-xxxx-xxxx-{{editcardNumber}}" ng-model="editCardDetails.CardNumber" name="CardNumber" id="editCardNumber" maxlength="19" required/>
               </div>
               <div class="item item-input">
                  <span class="input-label cardfont localizejs">Expiration Date</span>
                  <select id="editExpmonth" name="CardExpireDatesMonth"  style="appearance: none; -webkit-appearance: none; border: none; background-color: white; margin-top: -3px; font-size: 18px;{{invalidMonth}}{{CardDetailmonth}}" required>
                     <option ng-repeat="month in monthsList" value="{{month.value}}" ng-selected="month.value === cardExpirationSplitValue[0]">
                        <b><span class="localizejs">{{month.text}}</span></b>
                     </option>
                  </select>
                  <span> /{{validCC}}</span>
                  <select id="editExpyear" name="CardExpireDatesYear" style="appearance: none; -webkit-appearance: none; border: none; background-color: white; margin-top: -3px; font-size: 18px;{{invalidMonth}}{{CardDetailYear}}" required>
                     <option ng-repeat="ccYear in ccYearsList" value="{{ccYear.value}}" ng-selected="ccYear.value == cardExpirationSplitValue[1]">
                        <b><span class="localizejs">{{ccYear.text }}</span></b>
                     </option>
                  </select>
               </div>
               <div class="item item-input" ng-if="AndroidDevice !== true" >
                  <span class="input-label cardfont localizejs"  style="white-space: normal;">CVV Code</span>
                  <!--<input type="password" pattern="[0-9]*"  inputmode="numeric" id="editcvv" style="{{invalidCVV}}" placeholder="XXX" maxlength="{{editCvvLength}}"   name="Cvv"  required> -->
                  <input class="localizejs" style="-webkit-text-security: disc; {{invalidCVV}}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  type="password" pattern="[0-9]*" inputmode="numeric"  placeholder="Required" maxlength="4"  name="editcvv" id="editcvv" ng-model="editCardDetails.editsecuritycode" ng-trim="false" no-special-char  required/>
               </div>
               <div class="item item-input" ng-if="AndroidDevice === true" >
                  <span class="input-label cardfont localizejs" style="white-space: normal;">CVV Code</span>
                  <!--<input type="password" pattern="[0-9]*"  inputmode="numeric" id="editcvv" style="{{invalidCVV}}" placeholder="XXX" maxlength="{{editCvvLength}}"   name="Cvv"  required> -->
                  <input style="-webkit-text-security: disc; font-size: 18px; line-height: 20px; {{invalidCVV}}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  class="localizejs" type = "tel"  placeholder="Required" maxlength="4"   name="editcvv" id="editcvv" ng-model="editCardDetails.editsecuritycode" ng-trim="false" no-special-char required/>
               </div>
               <div class="item item-input" >
                  <span class="input-label cardfont localizejs" style="white-space: normal;">Billing Address</span>
                  <input type="text" placeholder="Required" value="{{editbilling.street}}" name="BillingAddress" id="editbillingAddress" required>
               </div>
               <div class="item item-input" >
                  <span class="input-label cardfont localizejs" >City</span>
                      <!--<input  type="text" placeholder="Required"   value="{{editbilling.city}}"  name="City" id="editCity" ng-model="editcard.editCity" required>-->
                      <ion-google-place class ="localizejs" style="font-size: 18px !important;" placeholder="Required" ng-model="editCardDetails.cardEditCity" name="City" id="editCity" required/>
               </div>
               <div class="item item-input">
                  <span class="input-label cardfont localizejs" >State</span>
                  <input type="text" class="localizejs" ng-model="editCardDetails.cardEditState" placeholder="Required"   name="State" id="editState"  required>
               </div>
               <div class="item item-input" >
                  <span class="input-label cardfont localizejs" >Country</span>
                <!-- ng-selected="{{editbilling.country}} == {{country.name}}" <input type="text" placeholder="Required" ng-model="getCardDetails.Country" value="{{editbilling.country}}"  name="Country" id="Country" required>
                <select  class="textdata optionselect"  name="healthInfoCountry" id="editCountry" ng-model="editcard.cardcountry" >
                   <option value="">Choose</option>
                   <option  ng-repeat="country in serviceCountries"  value="{{country.name}}" ><b>{{country.name}}</b></option>
                </select>-->
                   <input type="text" class="localizejs" ng-model="editCardDetails.cardEditCountry" placeholder="Required"  name="healthInfoCountry" id="editCountry"  required>
               </div>
               <div class="item item-input" >
                  <span class="input-label cardfont localizejs" >Zip</span>
                  <!--<input  style="line-height: 20px; font-size: 18px; padding: 0px; {{invalidZip}}"   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  type = "tel"  placeholder="Required" ng-model="editcard.editZip" name="editZip" id="editZip" maxlength="7" required/>-->
                   <input ng-if="editCardDetails.cardEditCountry == 'US'" type="text" class="localizejs" style="line-height: 20px; font-size: 18px; padding: 0px; {{invalidZip}}"  placeholder="Required"  ng-model="editCardDetails.cardEditZip"  input-max-length-number maxlength="10" name="editZip" id="editZip" required/>
                   <input ng-if="editCardDetails.cardEditCountry != 'US'" type="text" class="localizejs" style="line-height: 20px; font-size: 18px; padding: 0px; {{invalidZip}}"    ng-model="editCardDetails.cardEditZip"  input-max-length-number maxlength="10" name="editZip" id="editZip"/>

               </div>
            </div>
            <div class="planDetails" ng-if="addCardStatus !== 200"  style="opacity:{{planverify}};">
               <p class="carddetails localizejs">When you add a credit card, information about your card, will be sent to Authorize.net and your card issuer.</p>
            </div>
            <div class="privacy" style="opacity:{{planverify}};">
                <!-- <a class="localizejs" ng-click="doGetTermsandCondition('tab.registerTerms', 'tab.registerStep1');" style="padding: 5px; position: relative; left: -5px; color: #39BAD9;" >About {{Hospital}} Privacy</a> -->
                <a class="localizejs" ng-click="doGetTermsandCondition('tab.registerTerms', 'tab.registerStep1');" style="padding: 5px; position: relative; left: -5px; color: #39BAD9;" >Terms & Conditions</a>
            </div>
         </div>
      </ion-content>
   </form>
</ion-view>
