<style>
  /* .concernListSearch .icon-magnifying-glass {
      bottom: -4px !important;
  } */
</style>
<div class="modal">
   <ion-view  title="ChronicCondition ConcernsList">
      <header class="bar bar-header bar-dark concernListHeader" style="{{PrimaryConcernPopupH}};background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};height: 64px !important;">
<!--          <button class="button button-clear {{concernListDoneStyle}} localizejs" style="{{PriorSurgeryPopupCancel}};" ng-click="RemoveSurgeryPopup()" >Cancel</button>
         <h1 class="title {{concernListTitleStyle}} localizejs" style="{{PrimaryConcernPopupTitle}};">Chronic Conditions</h1>
         <button class="button button-clear {{concernListDoneStyle}} localizejs" style="{{PrimaryConcernPopupDone}};" ng-click="closeChronicCondition()" >Done</button> -->
           <div ng-click="RemoveSurgeryPopup()" style="{{ rightHeaderIconIOS }}" class="leftHeaderIcon" ><i class="addBtn" ng-bind-html="drawSVGCIcon('cross')"></i></div> 
         <h1 class="title {{concernListTitleStyle}} localizejs" style="{{ concernListTitleiosDevices }}" >Chronic Conditions</h1>
         <div ng-click="closeChronicCondition()" class="rightHeaderIcon" style="{{ rightHeaderIconIOS }}" ><i class="addBtn" ng-bind-html="drawSVGCIcon('check')"></i></div> 
      </header>
      <ion-content has-header="true" class="concernListContent">
         <ion-list>
            <ion-item class="search_home concernListSearch">
               <div class=" searchbox" style="margin-top: 0px!important;">
                  <div class="item-input-inset" style="margin-top: -7px!important;margin-bottom: 5px!important;">
                     <label class="item-input-wrapper">
                     <i style="display: {{iconDisplay}}" ng-bind-html="drawSVGCIcon('magnifying-glass')"></i>
                     <input type="search"  class="localizejs" placeholder="Search" ng-model="data.searchProvider">
                     </label>
                  </div>
               </div>
               <ion-checkbox ng-repeat="item in filteredItems = (chronicConditionList | filter:data.searchProvider)"
                  ng-model="item.checked"
                  ng-checked="item.checked" ng-change="OnSelectChronicCondition(item)" ng-disabled="checkedChronic==limit && !item.checked">
                  <span class="ng-binding concernListDetails localizejs">   {{ item.text }} </span>
               </ion-checkbox>
            </ion-item>
            <ion-item  ng-show="(chronicConditionList | filter:data.searchProvider).length==0" class="noResult localizejs" style="white-space: normal;">Sorry No Result Found!</ion-item>
         </ion-list>
      </ion-content>
   </ion-view>
</div>
