<div class="modal" >
   <ion-view>
      <header class="bar bar-header bar-dark concernListHeader" style="{{PrimaryConcernPopupH}}; background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
         <div class="ErrorMessage ErrorMessageDiv"  ></div>
        <!--  <button class="button button-clear {{concernListDoneStyle}} localizejs" style="{{PriorSurgeryPopupCancel}};" ng-click="removemodal()" >Cancel</button>
         <h1 class="title {{concernListTitleStyle}} localizejs" style="{{PrimaryConcernPopupTitle}}; ">My Health</h1>
         <button class="button button-clear {{concernListDoneStyle}} localizejs" style="{{PrimaryConcernPopupDone}};" ng-click="chronicdone()" >Done</button> -->
           <div ng-click="removemodal()" class="leftHeaderIcon"><i class="addBtn" ng-bind-html="drawSVGCIcon('cross')"></i></div>
         <h1 class="title {{concernListTitleStyle}} localizejs" style="{{PrimaryConcernPopupTitle}};">My Health</h1>
         <div ng-click="chronicdone()" class="rightHeaderIcon"><i class="addBtn" ng-bind-html="drawSVGCIcon('check')"></i></div>
      </header>
      <ion-content has-header="true" class="concernListContent">
         <ion-list>
            <ion-item class="search_home  concernListSearch">
               <h2 class="subname subName-{{deviceName}} localizejs">Chronic Conditions</h2>
               <div class=" searchbox" style="margin-top: 0px!important;">
                  <div class="item-input-inset" style="margin-top: 0px!important;margin-bottom: 0px!important;">
                     <label class="item-input-wrapper">
                     <i style="display: {{iconDisplay}}" ng-bind-html="drawSVGCIcon('magnifying-glass')" class="inputsearchtext"></i>
                     <input type="search"  placeholder="Search" ng-model="data.searchProvider" class="inputsearchtext localizejs">
                     </label>
                  </div>
               </div>
               <div class="srchlist">
                  <div ng-repeat="(letter, chronicConditionsearchList) in sortedchronic_users">
                     <ion-checkbox ng-repeat="chronic in chronicConditionsearchList | filter: data.searchProvider"
                        ng-model="chronic.checked"
                        ng-checked="chronic.checked" ng-change="OnSelectChronicCondition(chronic)"  ng-disabled="checkedChronic==limit && !chronic.checked">
                        <span class="ng-binding concernListDetails localizejs">   {{ chronic.text }} </span>
                     </ion-checkbox>
                  </div>
               </div>
            </ion-item>
            <ion-item  ng-show="(chronicConditionsearchList | filter:data.searchProvider).length==0" class="noResult localizejs" style="white-space: normal;">Sorry No Result Found!</ion-item>
         </ion-list>
         <ul class="alpha_sidebar">
            <li ng-click="gotoallergyList('index_{{letter}}')"ng-repeat="letter in alphabets"  ng-show="(chronicConditionsearchList | filter:data.searchProvider).length!=0">
               {{letter}}
            </li>
         </ul>
      </ion-content>
   </ion-view>
</div>
