<div class="animated slideInRight">
   <ion-side-menus>
      <ion-side-menu-content>
         <ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
            <div class="buttons" >
               <span class="button icon button-clear {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"><i ng-bind-html="drawSVGCIcon('menu')"></i></span>
            </div>   
            <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}} localizejs"><span class="relatedUserTitle-{{deviceName}} localizejs"> Related Users </span>
            <!--  <span style="float:right;"><a class="headerval localizejs" style="cursor: pointer;" ng-click="goToUserPageFromAddUser();">Cancel</a></span>-->
              <span ng-click="goToUserPageFromAddUser()" style="float:right;"><i class="addBtn" style="margin-right: 10px;top: -4px;" ng-bind-html="drawSVGCIcon('cross')"></i></span>
            </h1>
            <div class="bar bar-subheader bar-dark subheaderheight" >
               <div class="row">
                  <h1 class="headertitle">
                     <div class="ellipsis subHeader_content_name" >
                        <span class="PatintHeaderFontStyle patientName ellipsis fnamefont">{{currentPatientDetails[0].patientName}}</span>
                        <span class="patientLastName ellipsis lnamefont" >{{currentPatientDetails[0].lastName}}</span>
                     </div>
                  </h1>
               </div>
               <div class="row userAccountPanel">
                  <div class="col col-33 uAPHomeIcon">
                     <a ng-href='#/tab/userAccount'>
                        <div class="icon homeicon">
                           <div class="buttons">
                              <span><i ng-bind-html="drawSVGCIcon('home');"></i></span>
                           </div>
                        </div>
                        <div>
                           <p class="hometext localizejs">Account Home</p>
                        </div>
                     </a>
                  </div>
                  <div class="col col-33 uAPlProfileImage" ng-bind-html="drawImage(PatientImageSelectUser,currentPatientDetails[0].patientName,currentPatientDetails[0].lastName)"></div>
                  <div class="col col-33 uAPChangePatient ">
                     <a ng-click="userpatient()">
                        <div class="icon groupicon">
                           <div class="buttons">
                              <span><i ng-bind-html="drawSVGCIcon('group');"></i></span>
                           </div>
                        </div>
                        <p class="grouptext localizejs">Change Patient</p>
                     </a>
                  </div>
               </div>
            </div>
         </ion-header-bar>
         <ion-view title="">
            <ion-content class="newusercontent">
               <ion-list>
                  <ion-item class="ionicitem newuserdetails" style="">
                     <p class="newuserp"><i class="fontcolor icon" ng-bind-html="drawSVGCIcon('user-add')" style="font-size:50px;"></i></p>
                     <div class="newusertopcontent">
                        <h2 class="newusertoph2">
                           <p class="usertopfont localizejs">Add A New User</p>
                           <p class="topp regularfamily localizejs">Select a user type to add</p>
                        </h2>
                     </div>
                  </ion-item>
                  <ion-item class="ionicitem  addcouser" ng-click="addcouser()" style="">
                     <div class="card" style="box-shadow:none !important;margin:0px !important;background:none;">
                        <div class="item-text-wrap itemtextwap">
                           <h2 class="title alignchronic ChronicCondition" >
                              <span class="content addUser-{{deviceName}} localizejs">
                              Invite A Co-User
                              </span>
                           </h2>
                        </div>
                     </div>
                  </ion-item>
                  <ion-item class="ionicitem  adddepuser" ng-click="adddependent()" >
                     <div class="card" style="box-shadow:none !important;margin:0px !important;background:none;">
                        <div class="item-text-wrap itemtextwap">
                           <h2 class="title alignchronic ChronicCondition" >
                              <span class="content addUser-{{deviceName}} localizejs">
                              Add A Dependent
                              </span>
                           </h2>
                        </div>
                     </div>
                  </ion-item>
               </ion-list>
            </ion-content>
            <div class="bar bar-footer addheight" style="background-color:#444444;">
               <h1 class="title localizejs" id="addusercancel"  style="" ><a ng-href="#/tab/userhome" style="padding: 10px;">Cancel</a></h1>
            </div>
      </ion-side-menu-content>
      <!--Side Menu File Include --->
      <div ng-include src="'templates/SideMenu.html'"></div>
      </ion-view>
   </ion-side-menus>
</div>
