<div class="Server_Error ErrorMessageDiv" ></div>
<ion-side-menus>
<ion-side-menu-content>
     <ion-header-bar align-title="left" class="bar-positiveHomeUser" style="background-color:{{brandColor}};border-color:{{brandColor}};">
        <!-- <div class="buttons" >
           <span class="button icon button-clear {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"><i ng-bind-html="drawSVGCIcon('menu')"></i></span>
        </div>
         <h1 class="{{title_patient}} calendarTitle localizejs" style="{{PatientTitle}}" >Intake Form</h1> -->

         <div class="bar bar-header headerbg" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
           <div class="buttons button-icon">
             <span class="button icon button-clear" style="{{HomeBackIOS}}" id="BackButtonIcon" ng-click="toggleLeft()">
               <i ng-bind-html="drawSVGCIcon('menu')"></i>
             </span>
           </div>
           <div class="h1 title-head localizejs" style="{{HomeHeaderIOS}}">Intake Form</div>

         </div>

        <div class="bar bar-subheaderHomeUser patient_subHeader calendar_subHeader_height" style="{{patient_subHeaderTopMove}}" >
           <div class="calendar_subHeader paymentSubHeader" >
              <div class="subHeader_image" ng-bind-html="drawImage(PatientImageSelectUser,PatientFirstName,PatientLastName)"></div>
              <div class="subHeader_content-{{deviceName}} ellipsis" >
                 <div class="subHeader_content_name ellipsis" >
                    <span class="PatintHeaderFontStyle patientName ellipsis">{{PatientFirstName}}</span>
                    <span class="PatintHeaderFontStyleInner patientLastName ellipsis">{{PatientLastName}}</span>
                 </div>
                 <div class="subHeader_content_age PatintHeaderFontStyleSub ellipsis localizejs"><span ng-if="userGender != ''" class="localizejs">{{userGender}}</span> . <span>{{userDOB| ageFilter}}</span><span class="localizejs">{{userDOB | ageYearsStringFilter}}</span><span>{{userDOB | ageMonthFilter}}</span> <span>{{userDOB | ageDayFilter}}</span> <span ng-if="primaryPatientId != patientId" class="localizejs"> . {{patRelationShip}}</span></div>
              </div>
           </div>
        </div>
     </ion-header-bar>
   <ion-view title="Appointment Details">
      <div class="conTreatSubHead-{{deviceName}}">
         <div ng-if="userAgeForIntake == 7" class="ConsentSteps localizejs" style="{{IntakeFormInnerStyle}}" ><span class="localizejs">Step</span> <b style="color:#535353;">6</b> <span class="localizejs">of</span> <b style="color:#535353;">7</b></div>
         <div ng-if="userAgeForIntake != 7" class="ConsentSteps localizejs" style="{{IntakeFormInnerStyle}}" >Step <b style="color:#535353;">7</b> of <b style="color:#535353;">8</b></div>
         <div>
            <h1 class="ChronicCondition concernsSubTit consentTitle localizejs" style="{{IntakeFormInnerStyleTitle}}; {{consentTitleFont}}">Consent to Treat</h1>
            <p class="consentSubTitle patientConternFontStyle localizejs">Read, Acknowledge, and Agree
               <br/>
               <span class="patientConternFontStyleSubTitle localizejs">Scroll to the bottom</span>
            </p>
         </div>
      </div>
      <ion-content class="ContentHomeUser ConsentContent BacgroundColorContent" style="border-top: 1px solid #A9ABA7; {{consentScreenSize}}">
         <div style="padding: 0 5%;">
            <div class="ConsentMessageFirst" >
               <p  class="PragraphContent"> <b>
                  <span class="localizejs">I</span>, {{PatientFirstName}} {{PatientLastName}} <span class="localizejs">or guardian,give/s permission to</span> <b style="font-family: Glober xBold; {{ConstantTreat}}" class="ConstanttreetFont">{{clientName}}</b> <span class="localizejs">to perform the medical service that the provider and other non-providers and assistants may deem to be necessary. In addition, I, or guardian authorize/s</span> <b style="font-family: Glober xBold; {{ConstantTreat}}" class="ConstanttreetFont">{{clientName}}</b> <span class="localizejs">to release any information obtained during the course of my examination and/or treatment to my health care insurer or other payer.</span>
                  </b>
               </p>
            </div>
            <div style="border-bottom: 1px solid #ddd; margin: 12px 10px 10px 10px;" class="localizejs" ng-bind-html="concentToTreatContent | sanitize"></div>
            <div class="ConsentMessageAgreeText">
               <p  class="PragraphContent localizejs" style="color: #545454;">
                  By clicking "I Agree", I acknowledge and agree to the Terms and Conditions and Consent To treatment as stated above.
               </p>
            </div>
            <div  class="ConsentMessageAgree" >
               <button class="button button-block button-balanced" ng-click="GoToConsultCharge(PatientImageSelectUser,PatientFirstName,PatientLastName,PatientAge,PatientGuardian)" style="padding: 3px;">
               <span class="consentIAgree localizejs">I Agree</span>
               </button>
            </div>
         </div>
         <div ng-controller="IntakeFormsCtrl">
     		</div>
      </ion-content>
   </ion-view>
   <!-- <ion-footer-bar  class="footer">
      <span class="ConcernsFooter">
         <div class="FooterLeft">
            <a class="button_new icon ion-chevron-left" ng-click="goBackFromConcernToTreat()" ><span class="localizejs"> Back</span></a>
         </div>
         <div class="FooterCenter" ng-click="cancelConsultation()">
            <a class="button_new icon localizejs" style="padding-left: 15px !important;" >Cancel</a>
         </div>
      </span>
   </ion-footer-bar> -->

   <ion-footer-bar class="bar bar-footer footer">
      <div class="button button-clear" ng-click="goBackFromConcernToTreat();">
        <a class="button_new icon ion-chevron-left iconVer" style="position: relative;top:-2px;">
          <span class="localizejs backText"> Back</span>
        </a>
      </div>
      <div class="title titleLineheight"  style="height:auto;">
        <a class="button_new icon localizejs cancelText iconVer " style="{{PatientConcernCancel}}" ng-click="cancelConsultation()">
          <span>Cancel</span>
        </a>
      </ion-footer-bar>
     
    </div>


</ion-side-menu-content>
<div ng-include src="'templates/SideMenu.html'"></div>
