<style>
    .titleLineheight {
        line-height: 48px !important;
    }
    .backText {
        font-family: "Glober Book";
        font-size: 17pt !important;
        font-weight: 400 !important;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.5px;
        color: #ffffff;
        line-height: 48px;
    }

    .cancelText {
        font-family: "GloberRegular";
        font-size: 17px !important;
        font-weight: 400 !important;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.5px;
        color: rgb(153, 153, 153) !important;
        position: relative;
    }
    .ion-chevron-left:before{
        font-size: 19px !important;
    }
    .nextText {
        font-family: "Glober Book";
        font-size: 16px !important;
        font-weight: 400 !important;
        font-style: normal;
        font-stretch: normal;
        line-height: 39px !important;
        position: relative;
        left: -8px !important;
        letter-spacing: 0.7px;
        color: #ffffff;
        top: 2px;
    }
    .bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before{
        font-size: 21px !important;
        margin-top: -2.5px;
    }
    .iconVer{
        vertical-align: middle !important;
    }
    .ion-chevron-right:before{
        float: right;
    }
    .terms_footer_a span{
        font-size: 16px !important;
        top: -1px !important;
    }
    .FooterLeft{
    line-height: 48px !important;
    left: 6px !important;
    position: relative !important;
    }
</style>
<ion-view>
   <ion-header-bar class="bg" style="background-color: {{backColor}}">
      <div id="Error_Message" ></div>
      <div class="Server_Error" ></div>
       <h2 style="margin-top: 15px !important;" ng-if="cobrandApp_New != 'MDAmerica' && deploymentEnv_New != 'Single'"><span>Virtual Care</span></h2>
      <h2 ng-if="cobrandApp_New == 'MDAmerica' && deploymentEnv_New == 'Single' && singleHospital.length<20" style="margin-top: 15px !important;"><span>{{singleHospital}}</span></h2>
       <h2 ng-if="cobrandApp_New == 'MDAmerica' && deploymentEnv_New == 'Single'  && singleHospital.length>20" style="margin-top: -50px !important;"><span>{{singleHospital}}</span></h2>
      <div class="bar bar-subheader-provider searchbox searchAccount newProviderSub">
         <h3 class="logProvider localizejs">Select your provider</h3>
      </div>
   </ion-header-bar>
   <ion-content class="content-height newProContent">
      <div id="providerListDiv" class="list has-subheader provider providerListDiviphone5" >
         <a class="item item-avatar item-icon-right" ng-repeat="hospitalDetails in hospitalDetailsList" style="{{ProviderTiltefont}}" ng-click="ProviderFunction(hospitalDetails)">
            <div ng-if="hospitalDetails.chkImageorNot" class="searchProvFirstLetterDiv newProImageLogin"><img ng-src="{{hospitalDetails.logo}}"  ></div>
          <!--  <div ng-if="!hospitalDetails.chkImageorNot" class="searchProvFirstLetterDiv newProImageLogin" >
               <p class="provNameCircle" style="background-color:{{hospitalDetails.brandColor}}">{{hospitalDetails.logo}}</p>-->
            <div ng-if="!hospitalDetails.chkImageorNot" class="searchProvFirstLetterDiv newProImageLogin" style="background-color: {{hospitalDetails.brandColor}}; {{ProviderTiltefont}}" >
               <p>{{hospitalDetails.logo}}</p>
            </div>
            <h2>{{hospitalDetails.brandName}}</h2>
            <i class="icon ion-chevron-right"></i>
         </a>
      </div>
   </ion-content>
   <!-- Start Footer -->
   <!-- <ion-footer-bar align-title="left" class="footer">
      <div class="ConcernsFooter">
         <div class="FooterLeft">
            <a class="button_new icon ion-chevron-left terms_footer_a" ng-href="#/tab/login"><span class="localizejs">Back</span></a>
         </div>
         <div class="FooterCenter" style="width: 36%;">
            <a class="button_new icon localizejs" ng-href="#/tab/login" style="font-size: 18px;">Cancel</a>
         </div>
      </div>
   </ion-footer-bar> -->
   <div class="bar bar-footer footer">
       <div class="title titleLineheight" style="height:auto;">
           <a class="button_new icon localizejs cancelText iconVer " style="{{PatientConcernCancel}}" ng-href="#/tab/login" >
               <span>Cancel</span></a>
       </div>
       <div class="FooterLeft">
        <a class="button_new icon ion-chevron-left terms_footer_a" ng-href="#/tab/login"><span class="localizejs">Back</span></a>
     </div>
   </div>
   <!-- End Footer -->
</ion-view>
