<style media="screen">
.headerval{
    padding: 7px 0px;
    margin: 0 auto;
    /*top: -2px !important; */
    top: 2px !important;
  }
  .headerval-done{
      padding: 6px 0px;
      margin: 0 auto;
      top:0px !important;
    }
    .edittext{
      color: #FFFFFF;
    font-family: Glober Regular;
    float: left;
    font-weight: normal;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    right: 10px;
    }
</style>
<ion-side-menus>
<ion-side-menu-content>
   <form ng-submit="putUpdatePatientDetails()" ng-init="fetchPatientDetails(); init();" name="HealthInfo Details">
      <ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
         <!-- <div class="buttons">
            <span class="button icon button-clear {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"><i ng-bind-html="drawSVGCIcon('menu')"></i></span>
         </div>
         <h1 class="healthTitle-{{deviceName}} chronic {{title_patient}} {{HeaderList}} {{intakeTittle}}">
            <div class="HealthTitle-{{deviceName}} localizejs" style="display: {{viewmyhealthDisplay}};"> My Health </div>
            <div class="HealthTitle-{{deviceName}} localizejs" style="display: {{viewhealthDisplay}};"> Health Info</div>
            <span ng-show="patientAuthorize && editshow" ng-if="patientAuthorizeValue = 'Y' && editOption !== 'None' && customerSso != 'Mandatory' && P_isAuthorized !== false" class="headerval healthLeft-{{deviceName}} localizejs" ng-click="edittext()" style="right: 10px;">Edit</span>
           <!-- doGetCountries();getStatesForUS(); <span class="headerval healthLeft-{{deviceName}} localizejs"  ng-show="cancelshow" ><a ng-href="#/tab/userAccount" class="headerval" >Cancel</a></span>--> -->
            <!-- <button  type="submit" class="headerval healthLeft-{{deviceName}} localizejs"  ng-hide="doneshow" >
               Done</button>
         </h1> -->

         <div class="bar bar-header headerbg" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
           <div class="buttons button-icon">
             <span class="button icon button-clear" style="{{HomeBackIOS}}" id="BackButtonIcon" ng-click="toggleLeft()">
               <i ng-bind-html="drawSVGCIcon('menu')"></i>
             </span>
           </div>
           <div class="h1 title-head localizejs" style="{{HomeHeaderIOS}}">
             <span class=" localizejs" style="display: {{viewmyhealthDisplay}};"> My Health </span>
             <span class=" localizejs" style="display: {{viewhealthDisplay}};"> Health Info</span>

             </div>
           <!-- <a ng-if="cobrandApp_New != 'MDAmerica' && deploymentEnv_New != 'Single'" class="add-user-icon" style="{{HomeUserIconIOS}}" ng-if="customerSso != 'Mandatory'"
            ng-click="GoToPatientDetails(location,PatientImage,primaryPatientName,primaryPatientLastName,dob,primaryPatientGuardianName,primaryPatientId,true,'tab.addnewuser')"
            _ng-href="#/tab/addnewuser">
             <i class="icon ion-plus"></i>
           </a> -->
          <div class="edittext">
           <span ng-show="patientAuthorize && editshow" ng-if="patientAuthorizeValue = 'Y' && editOption !== 'None' && customerSso != 'Mandatory' && P_isAuthorized !== false" class="headerval healthLeft-{{deviceName}} localizejs" ng-click="edittext()">Edit</span>
           <!-- doGetCountries();getStatesForUS(); <span class="headerval healthLeft-{{deviceName}} localizejs"  ng-show="cancelshow" ><a ng-href="#/tab/userAccount" class="headerval" >Cancel</a></span>-->
           <button  type="submit" class="headerval headerval-done healthLeft-{{deviceName}} localizejs"  ng-hide="doneshow"> Done</button>
          </div>
         </div>

         <!-- <div class="bar bar-header headerbg">
           <div class="buttons button-icon">
             <span class="button icon button-clear" style="{{HomeBackIOS}}" id="BackButtonIcon" ng-click="toggleLeft()">
               <i ng-bind-html="drawSVGCIcon('menu')"></i>
             </span>
           </div>
           <div class="h1 title-head localizejs" style="{{HomeHeaderIOS}}">
             <div class="HealthTitle-{{deviceName}} localizejs" style="display: {{viewmyhealthDisplay}};"> My Health </div>
             <div class="HealthTitle-{{deviceName}} localizejs" style="display: {{viewhealthDisplay}};"> Health Info</div>

           </div>
           <div>
           <span ng-show="patientAuthorize && editshow" ng-if="patientAuthorizeValue = 'Y' && editOption !== 'None' && customerSso != 'Mandatory' && P_isAuthorized !== false" class="headerval healthLeft-{{deviceName}} localizejs" ng-click="edittext()" style="right: 10px;">Edit</span>
           <button  type="submit" class="headerval healthLeft-{{deviceName}} localizejs"  ng-hide="doneshow" >Done</button>
         </div>
         </div> -->


         <div class="Server_Error ErrorMessageDiv" ></div>
         <div id="Error_Message" class="depenErrorMsg-{{deviceName}} localizejs"></div>
         <div class="bar bar-subheader subheaderheight healthSubHeight">
         <div class="row healthSubRow">
         <h1 class="headertitle">
         <div class="ellipsis healthSubNameHeader" >
         <span class="PatintHeaderFontStyle patientName ellipsis fnamefont" >{{currentPatientDetails[0].patientName}}</span>
         <span class="patientLastName ellipsis lnamefont">{{currentPatientDetails[0].lastName}}</span>
         </div>
         </h1>
         </div>
         <div class="row userAccountPanel" style="margin-top: -49px !important;">
         <div class="col col-33">
         <a ng-click="chkPreviousPageForRequiredDetaisUsers('tab.userAccount')">
         <div class="icon homeicon">
         <div class="buttons">
         <span><i ng-bind-html="drawSVGCIcon('home');"></i></span>
         </div>
         </div>
         <div>
         <p class="hometext localizejs">Account Home</p>
         </div>
         </a>
         </div>
         <div ng-if="updatedPatientImagePath == ''" ng-click="showCameraActions();" ng-hide="flag" class="col col-33 uAPlProfileImage" style="margin-top: -13px;" ng-bind-html="drawImage(PatientImageSelectUser,currentPatientDetails[0].patientName,currentPatientDetails[0].lastName)"></div>
         <div ng-if="updatedPatientImagePath != ''" ng-click="showCameraActions();" ng-hide="flag" class="col col-33 uAPlProfileImage" style="margin-top: -13px;" ><img ng-src="{{updatedPatientImagePath}}" src="{{updatedPatientImagePath}}" class='UserHmelistImgView'></div>
         <div ng-show="flag" class="col col-33 uAPlProfileImage" style="margin-top: -13px;" ng-bind-html="drawImage(PatientImageSelectUser,currentPatientDetails[0].patientName,currentPatientDetails[0].lastName)"></div>
         <div class="col col-33 healthUserIcon" >
         <a ng-click="chkPreviousPageForRequiredDetaisUsers('tab.userhome')">
         <div class="icon groupicon">
         <div class="buttons">
         <span><i ng-bind-html="drawSVGCIcon('group');"></i></span>
         </div>
         </div>
         <p class="grouptext localizejs" style="{{HealthinfoPatient}}">Change Patient</p>
         </a>
         </div>
         </div>
         <div class="row healthTab">
         <div class="buttons backbtn">
         <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">
         </button>
         </div>
         <div class="button-bar">
         <label class="button button-small btcolor btn-first localizejs" ng-click="profile()" id="profid"> Profile</label>
         <label class="button button-small btn-first btnextcolor localizejs" ng-click="getMedicalDetailsinHealthInfo()" id="healid">Health History</label>
         </div>
         <div class="buttons backbtn">
         <button class="button icon button-clear ion-navicon-round  {{menuiconIOS}}" style="display: none;">
         </button>
         </div>
         </div>
         </div>
      </ion-header-bar>
      <ion-view title="Health Info Details" >
         <ion-content class="ioncontentalign healthHeight" delegate-handle="scrollTopView" ng-hide="addmore">
            <div >
               <h4 class="healthhead localizejs">Demographics</h4>
               <div class="list listprofile" ng-show="flag">
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                     <span class="input-label labelcolor">
                        <i class="iconfontSVG">
                           <svg class="icon-user">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="symbol-defs.svg#icon-user"></use>
                           </svg>
                        </i>
                        <b class="formlabel labelfont localizejs">First</b>
                     </span>
                   </div>
                     <div class="healthViewDetails ellipsis">{{currentPatientDetails[0].patientName}}</div>
                  </label>
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                     <span class="input-label labelcolor" style=" white-space: normal;">  <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('user')"></i><b class="formlabel labelfont localizejs">Last</b></span>
                   </div>
                     <div class="healthViewDetails ellipsis">{{currentPatientDetails[0].lastName}}</div>
                  </label>
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                     <span class="input-label labelcolor localizejs" style=" white-space: normal;"><i ng-bind-html="drawSVGCIcon('hash')"></i><b class="formlabel localizejs">D.O.B</b></span>
                   </div>
                     <div ng-if="userDOB" class="healthViewDetails">{{userDOB  | date : "MM/dd/yyyy"}}</div>
                     <div ng-if="!userDOB" class="healthViewDetails localizejs">NA</div>
                  </label>
                  <label class="item item-input itemtab validated" ng-if="primaryPatientId != currentPatientDetails[0].account.patientId && editOption !== 'None'">
                    <div class="col col-45">
                      <span class="input-label labelcolor"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('users')"></i><b class="formlabel labelfont localizejs">Relationship</b></span>
                   </div>
                     <div class="healthViewDetails ellipsis localizejs">{{currentPatientDetails[0].account.relationship}}</div>
                  </label>
                  <label class="item item-input itemtab validated" style="display: {{viewemailDisplay}};">
                    <div class="col col-45">
                     <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('mail')"></i><b class="formlabel labelfont localizejs">Email</b></span>
                   </div>
                     <div ng-if="currentPatientDetails[0].account.email" class="healthViewDetails ellipsis">{{currentPatientDetails[0].account.email}}</div>
                     <div ng-if="!currentPatientDetails[0].account.email" class="healthViewDetails localizejs">NA</div>
                  </label>
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                      <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('globe')"></i><b class="formlabel labelfont localizejs">Country</b></span>
                    </div>
                     <div class="healthViewDetails ellipsis">{{getCountryName(currentPatientDetails[0].countryCode)}}</div>
                  </label>
                  <label class="item item-input itemtab validated" style="display: {{viewtimezoneDisplay}};">
                    <div class="col col-45">
                     <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('clock')"></i><b class="formlabel labelfont localizejs addDependentwrab">Timezone</b></span>
                   </div>
                     <div class="healthViewDetails ellipsis">{{getTimeZoneName(currentPatientDetails[0].account.timeZoneId)}}</div>
                  </label>
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('phone')"></i><b class="formlabel labelfont localizejs addDependentwrab">Home Phone</b></span></div>
                     <div class="healthViewDetails homePhoneInput homePhoneInputValue" ng-if="currentPatientDetails[0].homePhone">
                        <input type="text" readonly="true" value="{{getPhoneNumberWithoutCountryCode(currentPatientDetails[0].homePhone) |  tel}}" style="background-color: #fff !important; font-size: 18px; color: #444;padding-left: 0px !important;">
                     </div>
                     <div class="healthViewDetails homePhoneInput homePhoneInputValue localizejs" ng-if="!currentPatientDetails[0].homePhone">
                        NA
                     </div>
                  </label>
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                     <span class="input-label labelcolor"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('phone')"></i><b class="formlabel labelfont localizejs">Mobile</b> </span></div>
                   <div style="width: 55%;">
                     <div class="mobileInput-Ios5 localizejs" ng-if="currentPatientDetails[0].mobilePhone" style="position: relative; top: 8px;">{{getCountryCode(currentPatientDetails[0].countryCode)}}</div>
                     <div class="mobileInputNo-Ios5" ng-if="currentPatientDetails[0].mobilePhone" style="width: none;">
                        <input type="text" readonly="true" value="{{getPhoneNumberWithoutCountryCode(currentPatientDetails[0].mobilePhone) |  tel}}" style="background-color: #fff !important; font-size: 18px; color: #444; width: 131px;" >
                     </div>
                     <div class="healthViewDetails localizejs" ng-if="!currentPatientDetails[0].mobilePhone">
                        NA
                     </div>
                   </div>

                  </label>
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('location-pin')"></i><b class="formlabel labelfont localizejs addDependentwrab">Home Address</b></span></div>
                     <div class="healthViewDetails homePhoneInput ellipsis" ng-if="currentPatientDetails[0].address">{{currentPatientDetails[0].address}}</div>
                     <div class="healthViewDetails homePhoneInput ellipsis localizejs" ng-if="!currentPatientDetails[0].address">NA</div>
                  </label>
                  <label ng-if="OrganizationLocation === 'on'" class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('group')"></i><b class="formlabel labelfont localizejs">Organization</b></span></div>
                     <div class="healthViewDetails ellipsis localizejs" style="margin-left: -16px;" ng-if="currentPatientDetails[0].organization">{{currentPatientDetails[0].organization}}</div>
                     <div class="healthViewDetails ellipsis localizejs" ng-if="!currentPatientDetails[0].organization" style="margin-left: -16px;">NA</div>
                  </label>
                  <label ng-if="OrganizationLocation === 'on'" class="item item-input itemtab validated">
                    <div class="col col-45">
                      <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('location-pin')"></i><b class="formlabel labelfont localizejs">Location</b> </span>
                    </div>
                     <div class="healthViewDetails ellipsis" ng-if="currentPatientDetails[0].location">{{currentPatientDetails[0].location}}</div>
                     <div class="healthViewDetails ellipsis" ng-if="!currentPatientDetails[0].location">NA</div>
                  </label>
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                       <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('female')"></i><b class="formlabel labelfont localizejs">Gender</b> </span>
                    </div>
                     <div class="healthViewDetails localizejs" ng-if="userGender">{{userGender}}</div>
                     <div class="healthViewDetails localizejs" ng-if="!userGender">NA</div>
                  </label>
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('height')"></i><b class="formlabel labelfont localizejs">Height</b></span></div>
                     <div class="healthViewDetails" ng-if="currentPatientDetails[0].anatomy.height">{{reformatHeightForDisplay(currentPatientDetails[0].anatomy.height, currentPatientDetails[0].anatomy.heightUnit)}}</div>
                     <div class="healthViewDetails localizejs" ng-if="!currentPatientDetails[0].anatomy.height">NA</div>
                  </label>
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                     <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('weight')"></i><b class="formlabel labelfont localizejs">Weight</b></span>
                   </div>
                     <div class="healthViewDetails" ng-if="currentPatientDetails[0].anatomy.weight">{{currentPatientDetails[0].anatomy.weight}} <span class="localizejs">{{currentPatientDetails[0].anatomy.weightUnit}}</span></div>
                     <div class="healthViewDetails localizejs" ng-if="!currentPatientDetails[0].anatomy.weight">NA</div>
                  </label>
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                      <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('globe')"></i><b class="formlabel labelfont localizejs">Ethnicity</b> </span>
                    </div>
                     <div class="healthViewDetails ellipsis localizejs" ng-if="currentPatientDetails[0].anatomy.ethnicity">{{currentPatientDetails[0].anatomy.ethnicity}}</div>
                     <div class="healthViewDetails ellipsis localizejs" ng-if="!currentPatientDetails[0].anatomy.ethnicity">NA</div>
                  </label>
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('hair')"></i><b class="formlabel labelfont localizejs addDependentwrab">Hair Color</b> </span></div>
                     <div class="healthViewDetails localizejs" ng-if="currentPatientDetails[0].anatomy.hairColor">{{currentPatientDetails[0].anatomy.hairColor}}</div>
                     <div class="healthViewDetails localizejs localizejs" ng-if="!currentPatientDetails[0].anatomy.hairColor">NA</div>
                  </label>
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('eye')"></i><b class="formlabel labelfont localizejs addDependentwrab">Eye Color</b> </span></div>
                     <div class="healthViewDetails localizejs" ng-if="currentPatientDetails[0].anatomy.eyeColor">{{currentPatientDetails[0].anatomy.eyeColor}}</div>
                     <div class="healthViewDetails localizejs" ng-if="!currentPatientDetails[0].anatomy.eyeColor">NA</div>
                  </label>
                  <label class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('drop')"></i><b class="formlabel labelfont localizejs addDependentwrab">Blood Type</b> </span></div>
                     <div class="healthViewDetails localizejs" ng-if="currentPatientDetails[0].anatomy.bloodType">{{currentPatientDetails[0].anatomy.bloodType}}</div>
                     <div class="healthViewDetails localizejs" ng-if="!currentPatientDetails[0].anatomy.bloodType">NA</div>
                  </label>
                  <label class="item item-input itemtab validated" ng-if="primaryPatientId != currentPatientDetails[0].account.patientId && editOption !== 'None'">
                    <div class="col col-45">
                    <span class="input-label labelcolor"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('lock-open')"></i><b class="formlabel labelfont localizejs">Authorization</b></span></div>
                    <div ng-show="patientAuthorize" class="healthViewDetails ellipsis localizejs">Authorized</div>
                    <div ng-show="patientUnAuthorize" class="healthViewDetails ellipsis localizejs">Unauthorized</div>
                  </label>

                  <label class="item item-input itemtab validated"  ng-repeat="patientidentifi in PatientIdentifiers">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('vcard')"></i><b class="formlabel labelfont localizejs addDependentwrabPatientId">{{patientidentifi.identifierTypeTitle}}</b> </span></div>
                     <div class="healthViewDetails" ng-if="userGender">{{patientidentifi.value}}
                     </div>
                  </label>


               </div>
               <div class="list listprofile listprofileEdit" ng-hide="flag">
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('user')"></i><b class="formlabel labelfont localizejs">First</b><i class="ion-asterisk"></i></span></div>
                     <span class="healthViewDetails"><input type="text" name="healthInfoFirstName" id="healthInfoFirstName" value="{{currentPatientDetails[0].patientName}}" class="textdata localizejs" placeholder="Required" ></span>
                  </div>
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">
                     <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('user')"></i><b class="formlabel labelfont localizejs">Last</b><i class="ion-asterisk"></i></span>
                    </div>
                     <span class="healthViewDetails"><input type="text" name="healthInfoLastName" id="healthInfoLastName" value="{{currentPatientDetails[0].lastName}}" class="textdata localizejs" placeholder="Required" ></span>
                  </div>
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">
                      <span class="input-label labelcolor localizejs" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('hash')"></i><b class="formlabel localizejs">D.O.B </b><i class="ion-asterisk"></i></span>
                    </div>
                     <span class="healthViewDetails">
                     <input type="date"  name="healthInfoDOB" id="healthInfoDOB"   class="textdata" ng-model="userdob" placeholder="Required" ng-change="editDob()" >
                     </span>
                  </div>
                  <div class="item item-input itemtab validated" ng-if="primaryPatientId != currentPatientDetails[0].account.patientId">
                    <div class="col col-45">
                        <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('users')"></i><b class="formlabel labelfont localizejs">Relationship</b><i class="ion-asterisk"></i></span>
                    </div>
                     <div class="healthViewDetails">
                        <select class="textdata optionselect localizejs" name="healthInfoRelationship" id="healthInfoRelationship" >
                           <option value=""><b class="localizejs">Choose</b></option>
                           <option ng-repeat="getRelationship in listOfRelationship[0].codes" value="{{getRelationship.codeId + '@' + getRelationship.text}}" ng-selected="getRelationship.text == currentPatientDetails[0].account.relationship"><b class="localizejs">{{getRelationship.text}}</b></option>
                        </select>
                     </div>
                  </div>
                  <div class="item item-input itemtab validated" style="display: {{emailDisplay}};">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('mail')"></i><b class="formlabel labelfont localizejs">Email</b><i  class="emailion ion-asterisk"></i></span>
                  </div>
                     <span class="healthViewDetails" >
                     <input type="email" name="healthInfoEmail ellipsis" id="healthInfoEmail"   value="{{currentPatientDetails[0].account.email}}" class="textdata localizejs" placeholder="Required" ng-blur="emailBlur()"  ng-click="showEmail()" ng-keyup="editmail()">
                     </span>
                  </div>
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">
                       <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('globe')"></i><b class="formlabel labelfont localizejs">Country</b><i class="ion-asterisk"></i></span>
                   </div>
                     <span class="healthViewDetails" style="padding-top: 18px;padding-bottom: 11px;">
                        <select class="textdata optionselect localizejs"  name="healthInfoCountry" id="healthInfoCountry" ng-model="healthInfoModel.healthInfoCountry" >
                           <option class="localizejs" value="">Choose</option>
                           <option  ng-repeat="country in serviceCountries" ng-selected="currentPatientDetails[0].countryCode == country.code"  value="{{country.code}}" ><b class="localizejs">{{country.name}}</b></option>
                        </select>
                     </span>
                  </div>
                  <div class="item item-input itemtab validated" style="display: {{timezoneDisplay}};">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('clock')"></i><b class="formlabel labelfont localizejs addDependentwrab">Timezone</b><i class="ion-asterisk"></i></span></div>
                     <span class="healthViewDetails" style="padding-top: 18px;padding-bottom: 11px;">
                        <select class="textdata optionselect localizejs"  name="healthInfoTimezone" id="healthInfoTimezone" ng-model="healthInfoModel.healthInfoTimezone" >
                           <option class="localizejs">Choose</option>
                           <option ng-repeat="timeZone in timeZones"  ng-selected="getTimeZoneName(currentPatientDetails[0].account.timeZoneId)== timeZone.id"   value="{{timeZone.id}}" ><b>{{timeZone.name}}</b></option>
                        </select>
                     </span>
                  </div>
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('phone')"></i><b class="formlabel labelfont localizejs addDependentwrab">Home Phone</b></span></div>
                     <span class="healthViewDetails"><input type="tel" name="healthInfoHomePhone" id="healthInfoHomePhone"  phone-input  ng-model="phoneval"  class="textdata localizejs" placeholder="Optional" ng-blur="healthphoneblur()"></span>
                  </div>
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">
                     <span class="input-label labelcolor"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('phone')"></i><b class="formlabel labelfont localizejs">Mobile</b><i class="ion-asterisk"></i></span></div>
                     <span class="healthViewDetails" style="padding-left: 2px; padding-right: 2px;">
                       <div id="health_width" class="health-wid" style=" float: left; position: relative; left: 0px;" ng-disabled="!currntCountryCode">
                        <!-- <select stryle="height: 41px; padding-top: 14px;" class="textdata optionselect"  name="healthInfoCountryCode" id="healthInfoCountryCode" ng-model="healthInfoModel.healthInfoCountryCode" >
                            <option  ng-repeat="country in currntCountryCode" ng-selected="currentPatientDetails[0].countryCode == country.code"  value="{{country.code}}" ><b>{{country.code}}</b></option>
                        </select>-->
                        <!-- <input style="background-color: #e9e9e9; padding-left: 2px;" type="text" readonly="readonly" class="textdata optionselect"  name="healthInfoCountryCode" id="healthInfoCountryCode" ng-model="healthInfoModel.healthInfoCountryCode"  > -->
                        <input ng-if="healthInfoModel.healthInfoCountryCode" style="background-color: #e9e9e9; padding-left: 2px;" type="text" readonly="readonly" class="textdata optionselect"  name="healthInfoCountryCode" id="healthInfoCountryCode" ng-model="healthInfoModel.healthInfoCountryCode"  >
                      </div>
                       <input type="tel" style="position: relative; color: #7c7c7c;min-width: 15%;max-width: 77%;width: 128px;" name="healthInfoMobilePhone" id="healthInfoMobilePhone"  phone-input ng-model="mobileval" class="code6 textdata localizejs" placeholder="Required"></span>
                  </div>
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">

                     <span class="input-label labelcolor localizejs" style=" white-space: normal;"><i style="left: -3px;" class="iconfontSVG" ng-bind-html="drawSVGCIcon('location-pin')"></i><b class="formlabel labelfont localizejs addDependentwrab" style="">Home Address</b><i class="ion-asterisk"></i></span>
                   </div>
                     <!-- <span class="DOBClass-{{deviceName}}">
                        <ion-google-place placeholder="Full Address" style="line-height:25px" ng-model="healthInfoModel.address" />
                     </span> -->

                     <span class="healthViewDetails localizejs" ng-click="addressEditModal()" style="padding: 22px 1px 21px 13px;">
                        {{healthInfoModel.address}}
                     </span>

                   <!--   <span class="healthViewDetails" style="padding-top: 18px;padding-bottom: 11px;" ng-click="doGetCountries();getStatesForUS();addressEditModal()"> </span>-->


                  </div>
                  <div class="item item-input itemtab validated" ng-if="OrganizationLocation === 'on'">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('group')"></i><b class="formlabel labelfont localizejs">Organization</b></span></div>
                     <span class="healthViewDetails" style="padding-top: 18px;padding-bottom: 11px;">
                        <select class="textdata optionselect"  name="healthInfoOrganization" id="healthInfoOrganization" ng-model="healthInfoModel.healthInfoOrganization" >
                           <option class="localizejs" value="">Choose Org</option>
                           <option ng-repeat="getOrganization in listOfOrganization" value="{{getOrganization.id}}" ng-selected="getOrganization.name == currentPatientDetails[0].organization"><b class="localizejs">{{getOrganization.name}}</b></option>
                        </select>
                     </span>
                  </div>
                  <div class="item item-input itemtab validated" ng-disabled="!listOfLocForCurntOrg" ng-if="OrganizationLocation === 'on'">
                    <div class="col col-45">

                    <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('location-pin')"></i><b class="formlabel labelfont localizejs">Location</b> </span>
                  </div>
                     <span class="healthViewDetails" style="padding-top: 18px;padding-bottom: 11px;">
                        <select class="textdata optionselect localizejs"  name="healthInfoLocation" id="healthInfoLocation" >
                           <option class="localizejs">Choose Location</option>
                           <option ng-repeat="getLocation in listOfLocForCurntOrg" value="{{getLocation.id}}" ng-selected="getLocation.name == currentPatientDetails[0].location"><b>{{getLocation.name}}</b></option>
                        </select>
                     </span>
                  </div>
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('female')"></i><b class="formlabel labelfont localizejs">Gender</b><i class="ion-asterisk"></i></span></div>
                     <div class="healthViewDetails" style="padding-top: 18px;padding-bottom: 11px;">
                        <select class="optionselect textdata localizejs" name="healthInfoGender" id="healthInfoGender"  >
                           <option class="localizejs" value=""><b class="localizejs">Choose</b></option>
                           <option value="M" ng-selected="currentPatientDetails[0].gender == 'M'">Male</option>
                           >
                           <option value="F" ng-selected="currentPatientDetails[0].gender == 'F'">Female</option>
                        </select>
                     </div>
                  </div>
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('height')"></i><b class="formlabel labelfont localizejs">Height</b><i class="ion-asterisk"></i></span></div>
                     <div class="healthViewDetails" ng-click="heighteditmodal()">
                        <div>
                           <input class="textdata localizejs" id="heightuser"  type="text" value="{{reformatHeightForDisplay(currentPatientDetails[0].anatomy.height, currentPatientDetails[0].anatomy.heightUnit)}}" placeholder="Required"  required="required"   readonly="true" style="background-color: #e9e9e9;">
                           <span id="hunit" ng-show="hghtunit"> </span>
                        </div>
                     </div>
                  </div>
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('weight')"></i><b class="formlabel labelfont localizejs">Weight</b><i class="ion-asterisk"></i></span></div>
                     <div class="healthViewDetails">
                        <div class="healthWeight-{{deviceName}}" style="float: left;">
                           <input type="tel" ng-model="weight" name="healthInfoWeight" id="healthInfoWeight"  class="textdata localizejs textdatawieghtios" ng-change="weightunitchange()"  ng-keyup="weightunit()" style="width: 90px;line-height:23px; margin-right: 10px;" placeholder="Required">
                        </div>
                        <div class="healthWeight1-{{deviceName}}">
                           <select class="textdata optionselect localizejs" name="healthInfoWeightUnit" id="healthInfoWeightUnit" style="width: 115%;padding-top:10px !important;">
                              <option ng-repeat="getUserweightunit in listOfWeightunit[0].codes" value="{{getUserweightunit.codeId + '@' + getUserweightunit.text}}" ng-selected="getUserweightunit.text == currentPatientDetails[0].anatomy.weightUnit"><b class="localizejs">{{getUserweightunit.text}}</b></option>
                           </select>
                        </div>
                     </div>

                  </div>
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">

                     <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('globe')"></i><b class="formlabel labelfont localizejs">Ethnicity</b><i ng-if="PPIsEthnicityRequired === 'on'" class="ion-asterisk"></i></span>
                   </div>
                     <div class="healthViewDetails" style="padding-top: 18px;padding-bottom: 11px;">
                        <select class="textdata optionselect localizejs" name="healthInfoEthnicity" id="healthInfoEthnicity" >
                           <option value=""><b class="localizejs">Choose</b></option>
                           <option ng-repeat="getEthnicity in listOfEthnicity[0].codes" value="{{getEthnicity.codeId + '@' + getEthnicity.text}}" ng-selected="getEthnicity.text == currentPatientDetails[0].anatomy.ethnicity"><b class="localizejs">{{getEthnicity.text}}</b></option>
                        </select>
                     </div>
                  </div>
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"> <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('hair')"></i><b class="formlabel labelfont localizejs addDependentwrab">Hair Color</b><i ng-if="PPIsHairColorRequired === 'on'" class="ion-asterisk"></i></span></div>
                     <div class="healthViewDetails" style="padding-top: 18px;padding-bottom: 11px;">
                        <select class="textdata optionselect localizejs" name="healthInfoHairColor" id="healthInfoHairColor">
                           <option value=""><b class="localizejs">Choose</b></option>
                           <option ng-repeat="getHairColor in listOfHairColor[0].codes" value="{{getHairColor.codeId + '@' + getHairColor.text}}" ng-selected="getHairColor.text == currentPatientDetails[0].anatomy.hairColor"><b class="localizejs">{{getHairColor.text}}</b></option>
                        </select>
                     </div>
                  </div>
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">

                    <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('eye')"></i><b class="formlabel labelfont localizejs addDependentwrab">Eye Color</b><i ng-if="PPIsEyeColorRequired === 'on'" class="ion-asterisk"></i></span>
                  </div>
                     <div class="healthViewDetails" style="padding-top: 18px;padding-bottom: 11px;">
                        <select class="textdata optionselect localizejs" name="healthInfoEyeColor" id="healthInfoEyeColor" >
                           <option value=""><b class="localizejs">Choose</b></option>
                           <option ng-repeat="getEyeColor in listOfEyeColor[0].codes" value="{{getEyeColor.codeId + '@' + getEyeColor.text}}" ng-selected="getEyeColor.text == currentPatientDetails[0].anatomy.eyeColor"><b class="localizejs">{{getEyeColor.text}}</b></option>
                        </select>
                     </div>
                  </div>
                  <div class="item item-input itemtab validated">
                    <div class="col col-45">
                    <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('drop')"></i><b class="formlabel labelfont localizejs addDependentwrab">Blood Type</b><i ng-if="PPIsBloodTypeRequired === 'on'" class="ion-asterisk"></i></span></div>
                     <div class="healthViewDetails" style="padding-top: 18px;padding-bottom: 11px;">
                        <select class="textdata optionselect localizejs" name="healthInfoBloodType" id="healthInfoBloodType" >
                           <option value=""><b class="localizejs">Choose</b></option>
                           <option ng-repeat="getBloodType in listOfBloodtype[0].codes" value="{{getBloodType.codeId + '@' + getBloodType.text}}" ng-selected="getBloodType.text == currentPatientDetails[0].anatomy.bloodType"><b class="localizejs">{{getBloodType.text}}</b></option>
                        </select>
                     </div>
                  </div>
                  <div class="item item-input itemtab validated" ng-if="primaryPatientId != currentPatientDetails[0].account.patientId && editOption !== 'None'">
                    <div class="col col-45">

                    <span class="input-label labelcolor" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('lock-open')"></i><b class="formlabel labelfont localizejs">Authorization</b><i class="ion-asterisk"></i></span>
                  </div>
                     <div class="healthViewDetails healthViewDetailsAuthenticat ">
                        <p id="patientAuthorize" class="localizejs" ng-show="patientAuthorize" ng-click="doDependentToUnauthorized(currentPatientDetails[0])">Authorized</p>
                        <p id="patientAuthorize" class="localizejs" ng-show="patientUnAuthorize" ng-click="doDependentToAuthorized(currentPatientDetails[0])">Unauthorized</p>
                     </div>
                  </div>


                  <div><h3 class="healthpat" style="padding: 2px 2px 6px 2px;"><div><span class="localizejs ">Patient IDs</span></div></h3></div>
                  <div class="item item-input itemtab validated" ng-repeat="patientdisplay in PatientidupdateList" style="display: {{viewpatapiDisplay}};">
                    <div class="col col-45">

                     <span class="input-label labelcolor"  id="pattext_{{ $index + 1 }}" style=" white-space: normal;" ><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('vcard')"></i><b class="formlabel labelfont localizejs addDependentwrabPatientId">{{patientdisplay.display}}</b></span></div>
                     <span class="healthViewDetails healthViewDetailsEdit" >
                      <input type="hidden" value="{{patientdisplay.identifierTypeCode+','+ patientdisplay.identifierTypeTitle +','+ patientdisplay.effectiveDate +','+ patientdisplay.statusCode}}" name="patIndentifierDetails[]" id="identifierTypeCode_{{ $index + 1 }}" >
                      <input type="text" name="healthInfoEmail ellipsis" id="patval_{{ $index + 1 }}" maxlength="64" value="{{patientdisplay.value}}" class="textdata localizejs" placeholder="Required" style="padding: 27px 1px 34px 4px;">
                     </span>
                  </div>

                  <input type="hidden" id="total_patients" value="{{PatientIdentifiers.length}}">
                  <div class="item item-input itemtab validated" ng-repeat="patientidentifi in PatientIdentifiers" style="display: {{viewpatmodalDisplay}};"  >
                    <div class="col col-45">

                     <span class="input-label labelcolor" id="patModText_{{ $index + 1 }}" style=" white-space: normal;"><i class="iconfontSVG" ng-bind-html="drawSVGCIcon('vcard')"></i><b class="formlabel labelfont localizejs addDependentwrabPatientId">{{patientidentifi.identifierTypeTitle}}</b></span></div>
                     <span class="healthViewDetails healthViewDetailsEdit" >
                       <input type="hidden" value="{{patientidentifi.identifierTypeCode+','+ patientidentifi.identifierTypeTitle +','+ patientidentifi.effectiveDate +','+ patientidentifi.statusCode}}" name="patientidentifiDetails[]" id="identifierTypeCode_{{ $index + 1 }}" style="padding-top: 31px;padding-bottom: 31px;">
                       <input type="text" name="healthInfoEmail ellipsis" id="helthPatVal_{{ $index + 1 }}" maxlength="64"  value="{{patientidentifi.value}}" class="textdata localizejs" placeholder="Required" style="padding-top: 31px;padding: 27px 1px 34px 4px;">


                     </span>
                  </div>

                  <div ng-click="healthpatid();">
                     <div class="PrimaryContent" style="text-align:center;margin-top:15px;">
                         <div></div>
                        <h6 class="titleaddbtn localizejs"><i ng-bind-html="drawSVGCIcon('plus')"></i> Add An ID</h6>
                      <!--  <p class="patientConternFontStyle">Select any chronic medical conditions
                           <br/>
                           <span class="patientConternFontStyleSubTitle">Select up to four</span>
                        </p>
                        <div><i class="addBtn" ng-bind-html="drawSVGCIcon('circle-with-plus')"></i></div> -->
                     </div>
                  </div>
               </div>
            </div>
         </ion-content>
         <ion-content class="ioncontentalign healthHeight"  ng-hide="healthhide"  >
            <div class="listprofile" style="margin-top: -22px;">
               <h4 style="color:#666666;margin-top:32px; font-size: 25px;"> <span class="aligntext localizejs">Basic Health </span><i class="ion-chevron-down icondown"></i></h4>
               <hr class="bhealth">
               <div ng-if="patientmedications.length !== 0">
                  <h4>
                     <span class="alignnexttext localizejs">Current Medications</span><span ng-show="patientAuthorize" ng-if="editOption !== 'None'"><a ng-click="healthsearch(patientmedications)" ><i class="currenteditHealthInfo" ng-bind-html="drawSVGCIcon('pencil')"></i></a></span>
                  </h4>
               </div>
               <div ng-if="patientmedications.length === 0">
                  <h4>
                     <span class="alignnexttext localizejs">Current Medications</span><span ng-show="patientAuthorize" ng-if="editOption !== 'None'"><a ng-click="healthsearch(patientmedications)" ><i class="currenteditHealthInfo ion-plus-round"></i></a></span>
                  </h4>
               </div>
               <hr class="dothr dotalign">
               <ul class="aligntext alvalue localizejs" ng-repeat="medicpt in PatientMedicalProfileList" >
                  <li  ng-repeat="medicationspt in patientmedications" class="localizejs">{{$index + 1}}. <span class="localizejs">{{medicationspt.description}}</span></li>
                  <!-- <li ng-if="patientmedications == ''"  >N/A   </li> -->
               </ul>
               <h4 class="h4align" ng-if="patientmedicationsallergies.length !== 0">
                  <div class="alignnexttext chronic localizejs"  >Medication Allergies</div>
                  <span ng-show="patientAuthorize" ng-if="editOption !== 'None'"><a ng-click="alergiessearch()" ><i class="editicons" ng-bind-html="drawSVGCIcon('pencil')" ></i></a>
                  </span>
               </h4>
               <h4 class="h4align" ng-if="patientmedicationsallergies.length === 0">
                  <span class="alignnexttext chronic localizejs"  >Medication Allergies</span>
                  <span ng-show="patientAuthorize" ng-if="editOption !== 'None'"><a ng-click="alergiessearch()" ><i class="currenteditHealthInfo ion-plus-round"></i></a>
                  </span>
               </h4>
               <hr class="dothr dotalign">
               <ul class="aligntext alvalue">
                  <!-- <li ng-if="patientmedicationsallergies == ''"  >N/A</li> -->
                  <li ng-repeat="allergies in patientmedicationsallergies" class="localizejs"> {{$index + 1}}. <span class="localizejs">{{allergies.description}}</span></li>
               </ul>
               <h4 class="h4align" ng-if="patientmedicalConditions.length !== 0">
                  <div class="alignnexttext chronic localizejs">Chronic Conditions</div>
                  <span ng-show="patientAuthorize" ng-if="editOption !== 'None'"><a ng-click="chronicsearch()" ><i class="editicon" ng-bind-html="drawSVGCIcon('pencil')" ></i></a></span>
               </h4>
               <h4 class="h4align" ng-if="patientmedicalConditions.length === 0">
                  <span class="alignnexttext chronic localizejs">Chronic Conditions</span>
                  <span ng-show="patientAuthorize" ng-if="editOption !== 'None'"><a ng-click="chronicsearch()" ><i class="currenteditHealthInfo ion-plus-round"></i></a></span>
               </h4>
               <hr class="dothr dotalign">
               <ul class="aligntext alvalue">
                  <!-- <li ng-if="patientmedicalConditions==''"  >N/A</li> -->
                  <li ng-repeat=" chronic in patientmedicalConditions" >{{$index + 1}}. <span class="localizejs">{{chronic.description}}</span></li>
               </ul>
               <h4 class="h4align" ng-if="patientmedicalsurgeries.length !== 0">
                  <div class="alignnexttext chronic localizejs">Prior Surgeries</div>
                  <span ng-show="patientAuthorize" ng-if="editOption !== 'None'"><a ng-click="showSurgeryPopup()" ><i class="editicons" ng-bind-html="drawSVGCIcon('pencil')" ></i></a>
                  </span>
               </h4>
               <h4 class="h4align" ng-if="patientmedicalsurgeries.length === 0">
                  <span class="alignnexttext chronic localizejs">Prior Surgeries</span>
                  <span ng-show="patientAuthorize" ng-if="editOption !== 'None'"><a ng-click="showSurgeryPopup()" ><i class="currenteditHealthInfo ion-plus-round"></i></a>
                  </span>
               </h4>
               <hr class="dothr dotalign">
               <ul class="aligntext alvalue">
                  <!-- <li  ng-if="patientmedicalsurgeries==''" >N/A </li> -->
                  <li ng-repeat="surgeries in patientmedicalsurgeries">
                     {{$index + 1}}. <strong><span class="localizejs">{{surgeries.description}}</span></strong>
                     <span class="localizejs">{{getMonthName(surgeries.month)}}</span> {{surgeries.year}}
                  </li>
               </ul>
            </div>
            <div ng-controller="LoginCtrl">
            </div>
         </ion-content>
         <div>
            <ion-footer-bar class="footer bar-footer  footer-color footerrsheight" style="position:fixed;left:0;right:0; " ng-click="buttonClicked = true" ng-hide="healthfootsave">
               <button class="submitbutton" type="submit" >
                  <h1 class="title localizejs" id="centercolor">Save</h1>
               </button>
            </ion-footer-bar>
         </div>
      </ion-view>
   </form>
   <!--Side Menu File Include <i class="iconfontSVG" ng-bind-html="drawSVGCIcon('menu')"></i>-->
      <div id="HealthFooter" ng-show="healthfoottab" hide-on-keyboard="true">
         <ion-tabs class=" tabs-icon-top tabs-dark">
            <a class="tab-item" ng-href="#/tab/relatedusers" >
            <i class="icon tabfont" ng-bind-html="drawSVGCIcon('users')"></i> <span class="tabcolor localizejs">Users</span>
            </a>
            <a class="tab-item" ng-href="#/tab/consultations">
            <i class="icon tabfont" ng-bind-html="drawSVGCIcon('health_card')"></i> <span class="tabcolor localizejs" >Consultations</span>
            </a>
            <a class="tab-item active" ng-href="#/tab/healthinfo/"  style="display: {{viewmyhealthDisplay}};">
            <i class="icon tabfont" ng-bind-html="drawSVGCIcon('clipboard')"></i> <span class="tabcolor localizejs">My Health</span>
            </a>
            <a class="tab-item active" ng-href="#/tab/healthinfo/"  style="display: {{viewhealthDisplay}};">
            <i class="icon tabfont" ng-bind-html="drawSVGCIcon('clipboard')"></i> <span class="tabcolor localizejs">Health Info</span>
            </a>
            <a class="tab-item" ng-href="#/tab/appointmentpatientdetails/">
            <i class="icon tabfont" ng-bind-html="drawSVGCIcon('calendar')"></i> <span class="tabcolor localizejs">Appointments</span>
            </a>
         </ion-tabs>
      </div>
</ion-side-menu-content>
<div ng-include src="'templates/SideMenuHealthInfo.html'"></div>
</ion-side-menus>
