<div class="Error_Message ErrorMessageDiv" ></div>
<div class="Server_Error ErrorMessageDiv" ></div>
<ion-view title="Consult Charge No Plan">
   <ion-side-menus>
   <ion-side-menu-content>
      <div ng-include src="'templates/intakeHeader.html'"></div>
      <div class="consultCharge_subHeader PatintHeaderFontStyle" style="{{PaymentStyle}}" >
         <span class="localizejs">Payment</span>
      </div>
      <ion-content class="consultChargeNoPlanContent" style="{{ContentConsultCharge}}" >
         <div class="password_home">
            <div class="consultation_head RegularFontStyle consultChargeNoPlanText" >
               <div class="consultTittle localizejs">Consultation Charge</div>
               <div class="consultation_number" ng-if="adminSetlocale == 'en-GB'"> &pound;{{consultationAmount}}*</div>
               <div class="consultation_number" ng-if="adminSetlocale != 'en-GB'"> {{currencySymbol}}{{consultationAmount}}*</div>
            </div>
            <div style="display: {{enableSubmitpayment}}">
               <div class="healthPlan_header"  >
                  <div class="healthPlan_text NoPlanText localizejs" >Pay Using</div>
                  <div class="addHealthPlan_header NoPlanAddCardDropdown noPlanContainer-{{deviceName}}">
                     <div  class="dropdownContainer">
                        <div class="cardViewport localizejs">Choose Your Card</div>
                        <select class="healthPlanDropDown" id="addNewCard" name="addNewCard" style="border: none;" ng-model="cardPaymentId.addNewCard">
                           <option><b class="localizejs">Choose Your Card</b></option>
                           <option  ng-repeat="PaymentProfile in PaymentProfile" value={{PaymentProfile.profileID}} ><b><span class="localizejs">Card ending in...</span>{{PaymentProfile.cardNumber}}</span></b></option>
                           <option ng-if="totalPaymentCard != 10"><b class="localizejs">Add a new card</span></b></option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="SkipToPayment">
                  <button type="submit" ng-click='doPostCoPayDetails()'  class="button button-block button-balanced" style="padding: 3px;">
                  <span class="localizejs">Submit Payment</span>
                  </button>
               </div>
            </div>
            <div style="display:{{disableSubmitpayment}}">
               <div class="healthPlan_header AddCardNoPlan">
                  <div class="healthPlan_text localizejs" >Pay Using</div>
                  <a ng-href="#/tab/cardDetails">
                     <div class="AddCard"  >
                        <i style="position: relative; top: -5px;" class="ion-plus-round"></i>
                        <span class="addHealthPlan_text localizejs" >Add A Payment Card</span>
                     </div>
                  </a>
               </div>
               <div class="SkipToPayment" >
                  <button class="button button-block button-royal cardSubmitPayment" style="padding: 3px;" >
                  <span class="localizejs">  Submit Payment</span>
                  </button>
               </div>
            </div>
            <div class="scheduled_appointments_text NoPlanBottomText"  >
               <p class="localizejs">*There may be additional fees or charges based on the outcome of this consultation. By submitting payment, I understand I may be billed for these charges after this consultation is completed.</p>
            </div>
         </div>
      </ion-content>
   </ion-side-menu-content>
   <!--Side Menu File Include --->
   <div ng-include src="'templates/SideMenu.html'"></div>
   <!--<div ng-include src="'templates/consultCharge_footer.html'"></div>-->
   <!-- <div class="hide-on-keyboard-open"> -->
      <ion-footer-bar align-title="left" class="footer" hide-on-keyboard="true">
         <div class="ConsultChargeFooter">
            <div class="ConsultChargeBack" >
               <a class="button_new icon ion-chevron-left" ng-click="goToNextPage()" ><span class="localizejs"> Back</span></a>
               <!--<site-header back="Back"></site-header>-->
            </div>
            <div class="ConsultChargeCancel" >
               <a class="button_new icon localizejs" href="#/tab/userhome" >Cancel</a>
            </div>
         </div>
      </ion-footer-bar>
   <!-- </div> -->
</ion-view>
