<ion-view title="Plan Edit Details">
   <form  ng-submit="PlanediValidation()" name="HealteditForm" >
      <ion-header-bar align-title="left" class="bar-positiveHomeUser PlanHeader" style="background-color:{{brandColor}};border-color:{{brandColor}};  {{HeadercardDetails}};{{backgroundimage}}" >
         <div id="Error_Message" class="ErrorMessageDiv" ></div>
         <div class="Server_Error ErrorMessageDiv" ></div>
         <div class="buttons" style="width: 50%; display: {{PlanDisplay}}; {{HeadercardDetailsBack}}">
            <a class="button_new icon PlanCancel" ng-click="backToEdiORAddPlan();" >
            <span class="localizejs">Cancel</span>
            </a>
         </div>
         <div class="buttons" style="width: 50%; display: {{PlaneditDisplay}}" >
            <div style="width: 100%; text-align: right;" ng-if="HealthForm.$invalid">
               <!--<button type="submit" class="button_new icon PlanNext" style="color:#999;{{CardDetailsNextButton}};"  ng-disabled="HealthForm.$invalid" >
               Save
             </button>-->
            </div>
            <div style="width: 100%; text-align: right;" ng-if="!HealthForm.$invalid">
               <button type="submit" class="button_new icon PlanNext localizejs" style="{{CardDetailsNextButton}}"   ng-click="PlanediValidation()"> Save
               </button>
            </div>
         </div>
      </ion-header-bar>
      <ion-content class="planDetails_content"  >
         <div>
            <div class="healthPlan_text localizejs" style="display: {{PlanDisplay}}; {{PlanDetails}}">
               Health Plan
            </div>
            <div class="healthPlan_text verifyPlanHeading localizejs" style="display: {{verifyPlanDisplay}}">
               Verifying Plan
            </div>
            <div class="healthPlan_header" style="{{PlanDetails}};"  >
               <div class="planInformation localizejs"  style="{{SubDetailsPlanDetails}}; display:{{subdetailsdisplay}}; padding-top: 23px;">
                  Enter your health plan information
               </div>
               <div class="provider planProviderText localizejs" style="opacity:{{planverify}}; margin-left: 14% !important;">Select your provider</div>
               <div class="addHealthPlan_header noPlanContainer-{{deviceName}} planSelectedBox"  >

                <div  class="dropdownContainer" style="opacity:{{planverify}}; margin: 0px 13%;">
                     <select class="healthPlanDropDown inseditselect" id="editprovider" ng-model="EditHealth.Provider" name="" id="" ng-change="changedlanDisplay()">
                      <option ng-repeat="ProviderData in ProviderList" value="{{ProviderData.payerName + '@' + ProviderData.id + '@' + ProviderData.payerId}}" ng-selected="insuranceList.insuranceCompany == ProviderData.payerName "><b>{{ProviderData.payerName}}</b></option>
                     </select>

               </div>
             </div>
              <!-- <div class="addHealthPlan_header noPlanContainer-{{deviceName}} planSelectedBox"  >
                  <div  class="dropdownContainer" style="opacity:{{planverify}}; margin-left: 50px;">
                   <div class="viewport1"></div>

                     <select class="healthPlanDropDown optionselect" id="Provider" ng-model="EditHealth.Provider" style="border: none; width: 75%;" required>
                       <option value="">Choose Organization</option>
                        <option class=""  ng-selected="insuranceList.insuranceCompany  == ProviderData.payerName "  ng-repeat="ProviderData in ProviderList" value="{{ProviderData.payerName + '@' + ProviderData.id + '@' + ProviderData.payerId}}"><b>{{ProviderData.payerName}}</b></option>
                     </select>
                  </div>
               </div>-->
            </div>
            <div class="list addhealthplan" style="opacity:{{planverify}};">
               <div class="item item-input" >
                  <span class="input-label cardfont localizejs">First Name</span>
                  <input  type="text" placeholder="Required" value="{{insuranceList.subscriberFirstName}}"   name="firstName" id="editfirstName" required>
               </div>
               <div class="item item-input" >
                  <span class="input-label cardfont localizejs">Last Name</span>
                  <input type="text" placeholder="Required" value="{{insuranceList.subscriberLastName}}"  name="lastName" id="editlastName" required >
               </div>
               <div class="item item-input">
                  <span class="input-label cardfont localizejs" style="white-space: normal;">Policy Number</span>
                  <input type="text" placeholder="Required"  value="{{insuranceList.policyNumber}}"  id="editpolicyNumber" name="editpolicyNumber" required>
               </div>
               <div class="item item-input">
                  <span class="input-label cardfont localizejs" style="white-space: normal;">Date of Birth <div class="localizejs" style="font-size: 10px;">for the policy holder</div></span>
                  <input type="date"  id="editdate"  ng-model="editinsDOB" placeholder="Required" style="font-size: 19px;line-height: normal;">
               </div>


            <!--

  <label ng-if="deviceName == 'IOS'" class="item item-input datePlaceholder" >
                  <span class="input-label cardfont" style="padding: 5px 10px 3px 0px;">
                     Date of Birth
                     <div style="font-size: 10px;">for the policy holder</div>
                  </span>
                  <div class="dobRequired">Required</div>
                     <input type="date"  name="editateofbirth" value="{{editinsDOB}}" id="editdate"  ng-model="userdob" placeholder="Required" >

               </label>
               <label ng-if="deviceName != 'IOS'" class="item item-input datePlaceholder" >
                  <span class="input-label cardfont" style="padding: 5px 10px 3px 0px;"  >
                     Date of Birth
                     <div style="font-size: 10px;">for the policy holder</div>
                  </span>


              <input type="date"  name="healthInfoDOB" id="editiosdate" value="{{editinsDOB}}"  class="textdata" ng-model="userdob" placeholder="" >

            </label-->
            </div>
            <div class="planDetails"  style="opacity:{{planverify}};">
               <p class="localizejs">When you add a health plan, information about your plan will be sent to your provider for verification.</p>
            </div>
            <div class="privacy localizejs" style="opacity:{{planverify}};">
              <!-- <a class="hospitalDynamicLink localizejs"  ng-click="hospitallink()" style="padding: 5px; position: relative; left: -5px; color: #39BAD9;" _onclick="window.open('https://docyourway.snap-stage.com/Main/#/UserTerms', '_system', 'location=yes'); return false;">About {{Hospital}} Privacy</a> -->
              <!-- <a class="localizejs"  ng-click="doGetTermsandCondition('tab.registerTerms', 'tab.registerStep1');" style="padding: 5px; position: relative; left: -5px; color: #39BAD9;">About {{Hospital}} Privacy</a> -->
              <a class="localizejs"  ng-click="doGetTermsandCondition('tab.registerTerms', 'tab.registerStep1');" style="padding: 5px; position: relative; left: -5px; color: #39BAD9;">Terms and Conditions</a>
            </div>
         </div>
      </ion-content>
   </form>
 </ion-view>
