<ion-view>
   <ion-header-bar class="bg" style="background-color: {{brandColor}}; border-color: {{brandColor}}">
      <div id="Error_Message" ></div>
      <div class="Server_Error" ></div>
      <h2>{{Hospital}}</h2>
   </ion-header-bar>
   <ion-content class="content-height newProContent newResetContent" >
      <div id="providerListDiv" class="list has-subheader provider resetPro" >
         <div class="regcontent addContent">
            <p class="localizejs">A password reset email has been sent to the address you provided</p>
         </div>
         <div class="regibtn resetDone" >
            <a ng-click="goBackFromReset()"><button type="button" class="button localizejs">
            Done
            </button></a>
         </div>
      </div>
   </ion-content>
</ion-view>
