<style>
.has-footer{
  bottom: 0px!important;
}
</style>
<ion-side-menus>
<ion-side-menu-content>
   <form name="depForm" id="dependentuserform" ng-submit="postDependentDetails()">
      <!-- ng-init="doGetCountries();getStatesForUS();" -->
      <ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight"  style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">
         <div class="buttons" >
            <span class="button icon button-clear {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"><i ng-bind-html="drawSVGCIcon('menu')"></i></span>
         </div>
         <div class="Server_Error ErrorMessageDiv localizejs" ></div>
         <div id="Error_Message" class="depenErrorMsg-{{deviceName}} localizejs"></div>
         <!--<h1 class= "{{title_patient}} {{HeaderList}} {{intakeTittle}} "><span class="newUserTitle-{{deviceName}} localizejs" > New User </span> <span >
            <a  ng-click="canceldependent()" class="headerval localizejs"  >Cancel</a></span>
         </h1>-->
         <h1 class="healthTitle-{{deviceName}} chronic title_patientAndroid HeaderListAndroid intakeTittleAndroid" style = "margin-top: 25px !important;">
            <div class="HealthTitle-{{deviceName}} localizejs" style="display: block;">New User</div>
            <span class="headerval healthLeft-{{deviceName}} localizejs" ng-click="canceldependent()" style="right: 10px;">Cancel</span>
        </h1>
         <div class="bar bar-subheader bar-dark subheaderheight patAccoSubHeadHeight" >
            <div class="row">
               <h1 class="headertitle">
                  <div class="ellipsis subHeader_content_name" >
                     <span class="PatintHeaderFontStyle patientName ellipsis fnamefont localizejs" >New </span>
                     <span class="patientLastName ellipsis lnamefont localizejs" >Dependent</span>
                  </div>
               </h1>
            </div>
            <div class="circlenew" >
               <div ng-if="newDependentImagePath == ''"  ng-click="showCameraActions()" id="AddPicture" style="{{AddPicture}};">
                  <a class="circlecanh">
                  <i class="icon ion-camera circlecam"></i>
                  </a>
                  <span class="circletext localizejs" style="padding-left: 12px; width:75px" >Add photo</span>
               </div>
               <div ng-if="newDependentImagePath != ''" ng-click="showCameraActions()">
                  <img style="width: 86px; height: 86px; border-radius: 50%;" src="{{newDependentImagePath}}" alt="{{newDependentImagePath}}" ng-src="{{newDependentImagePath}}" >
               </div>
            </div>
         </div>
      </ion-header-bar>
      <ion-view title="" >
         <ion-content delegate-handle="scrollTopView" class="userdeptcontent depenBackgroundColor">
            <h4 class="userhead"><b class="localizejs">User Details</b></h4>
            <div class="list deptlist" >
               <div class="item item-input validated">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('user')"></i><b class="formlabel  localizejs">First Name</b><i class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 depGreyLabel">
                     <input class="usertext localizejs" id="firstname" type="text" ng-model="firstname" name="firstname" placeholder="Required">
                  </div>
               </div>
               <div class="item item-input validated">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('user')"></i><b class="formlabel  localizejs">Last Name</b><i class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 depGreyLabel">
                     <input class="usertext localizejs" id="lastname" type="text" ng-model="lastname" name="lastname" placeholder="Required">
                  </div>
               </div>
               <div class="item item-input validated">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('hash')"></i><b class="formlabel localizejs" >D.O.B</b><i class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 depGreyLabel">
                     <input class="usertext dobDependent-{{deviceName}} inputlabelval localizejs"  id="dob" type="date"  placeholder="Required"   name="dob" ng-blur="ngBlur()" style="padding-top: 14px; padding:15px 5px;">
                  </div>
               </div>
               <div class="item item-input validated">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('users')"></i><b class="formlabel  localizejs">Relationship</b><i class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 depGreyLabel">
                     <select class="optionselect textdata localizejs" name="healthInforelation" id="dependentrelation" >
                        <option value=""><b class="localizejs">Choose</b></option>
                        <option ng-repeat="getRelation in listOfRelationship[0].codes" value="{{getRelation.codeId + '@' + getRelation.text}}"><b class="localizejs">{{getRelation.text}}</b></option>
                     </select>
                  </div>
               </div>
               <div class="item item-input validated emailDependent" style="display: {{emailDisplay}};">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('mail')"></i><b class="formlabel  localizejs" style="white-space: normal;">Email</b></span>
                  </div>
                  <div class="col col-50 depGreyLabel">
                     <input class="usertext localizejs" id="email"  type="email" value="" placeholder="Optional" ng-model="email"  name="email" ng-blur="emailBlur()" ng-keyup="depemail()" >
                     <span class="error localizejs" id="eremail" ng-show="myForm.email.$error.email" > Not a valid email! </span>
                  </div>
               </div>
               <div class="item item-input validated">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('female')"></i><b class="formlabel  localizejs">Gender</b><i class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 depGreyLabel">
                     <select class="optionselect textdata localizejs" name="userInfoGender" id="depgender"  >
                        <option value=""><b class="localizejs">Choose</b></option>
                        <option value="M">Male</option>
                        >
                        <option value="F">Female</option>
                     </select>
                  </div>
               </div>
               <div class="item item-input itemtab validated row">
                  <div class="col col-50">
                     <span class="input-label labelcolor"> <i class="iconfont" ng-bind-html="drawSVGCIcon('height')"></i><b class="formlabel  labelfont localizejs">Height</b><i class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 depGreyLabel">
                     <input class="textdata localizejs" id="heightdep"  type="text" value="" placeholder="Required"    ng-click="heightmodal()" readonly="true" style="background-color: #e9e9e9;">
                     <span id="hunit" ng-show="hghtunit"> </span>
                  </div>
               </div>
               <div class="item item-input itemtab validated row">
                  <div class="col col-50">
                     <span class="input-label labelcolor"> <i class="iconfont" ng-bind-html="drawSVGCIcon('weight')"></i><b class="formlabel  labelfont localizejs">Weight</b><i class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 depGreyLabel">
                     <div class="dependHeigh-{{deviceName}}">
                        <input id="weight" class="usertext textdata localizejs" type="tel" style="padding-left: 0px;" value="" placeholder="Required"  name="weight" ng-keyup="weight1len()" >
                     </div>
                     <div class="dependHeighUnit-{{deviceName}}" style="width: 33%;">
                        <select class="optionselect textdata dependwetUnit-{{deviceName}} localizejs" style="margin-left: -5px;" name="weightunit" id="weightunit" ng-model="weightunits" >
                           <option ng-repeat="getWeightunit in listOfWeightunit[0].codes" value="{{getWeightunit.codeId + '@' + getWeightunit.text}}"><b class="localizejs">{{getWeightunit.text}}</b></option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="item item-input validated">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('globe')"></i><b class="formlabel  localizejs">Country</b><i class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 depGreyLabel">
                     <select class="optionselect textdata localizejs" name="healthInfoCountry" id="dependentCountry" ng-model="addNewDependent.healthInfoCountry" >
                        <option ng-repeat="country in serviceCountries" value="{{country.code}}" ng-selected="country.code == primaryPatientDetails[0].countryCode" ><b class="localizejs">{{country.name}}</b></option>
                     </select>
                  </div>
               </div>
            <div class="item item-input validated" style="display: {{timezoneDisplay}};">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('clock')"></i><b class="formlabel  localizejs" style="">Timezone</b><i class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 depGreyLabel" style="height: 70px;">
                     <select class="optionselect textdata localizejs" name="healthInfoTimezone" id="dependentTimezone" style="padding: 25px 5px 0 0;" >
                        <option value=""><b class="localizejs">Choose</b></option>
                        <option ng-repeat="timeZone in timeZones" value="{{timeZone.id}}" ><b class="localizejs">{{timeZone.name}}</b></option>
                     </select>
                  </div>
               </div>
               <div class="item item-input validated">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('phone')" style="position: relative; top: 5px;"></i><b class="formlabel addDependentwrab localizejs">Home Phone</b></span>
                  </div>
                  <div class="col col-50 depGreyLabel inputlabelclass">
                     <input  class="textdata inputlabelval localizejs" id="homephone" type="tel" value=""  placeholder="Optional" ng-model="phone"   name="phone"  phone-input ng-blur="phoneBlur()">
                     <span class="error localizejs" id="erphone" ng-show="myForm.phone.$error.pattern">Not a valid number!</span>
                  </div>
               </div>
               <div class="item item-input validated">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('phone')"></i><b class="formlabel  localizejs">Mobile</b><i class="ion-asterisk"></i></span>
                  </div>
                  <!--<div class="col col-50 depGreyLabel">
                    <div id="health_width" style=" float: left; position: relative; left: -5px" ng-disabled="!currntCountryCode">
                     <input style="background-color: #e9e9e9; padding: 2px;" type="text" readonly="readonly" class="textdata optionselect"  name="healthInfoCountryCode" id="healthInfoCountryCode" ng-model="addNewDependent.healthInfoCountryCode"  >
                   </div>
                     <input class="textdata" style="display: inline; left: -5px; position: relative; color: #7c7c7c; min-width: 15%;max-width: 77%;width: 128px;" id="mobile" type="tel" value=""  placeholder="Required"   ng-model="dependmobile"   name="mobile" phone-input >
                  </div>-->
                  <span class="healthViewDetails localizejs" style="padding: 5px 2px 4px 2px; background-color: #e9e9e9; ">
                    <div id="health_width" class="health-wid" style=" float: left; position: relative; left: 0px;" ng-disabled="!currntCountryCode">
                     <!-- <select stryle="height: 41px; padding-top: 14px;" class="textdata optionselect"  name="healthInfoCountryCode" id="healthInfoCountryCode" ng-model="healthInfoModel.healthInfoCountryCode" >
                         <option  ng-repeat="country in currntCountryCode" ng-selected="currentPatientDetails[0].countryCode == country.code"  value="{{country.code}}" ><b>{{country.code}}</b></option>
                     </select>-->
                     <input style="padding-left: 2px; background-color: #e9e9e9;" type="text" readonly="readonly" class="textdata optionselect"  name="healthInfoCountryCode" id="healthInfoCountryCode" ng-model="addNewDependent.healthInfoCountryCode"  >
                   </div>
                    <input type="tel" class="code6 localizejs" style="position: relative; color: #7c7c7c;min-width: 15%;max-width: 70%; padding-right: 0px; line-height: 45px;" placeholder="Required" ng-model="dependmobile" id="mobile"  name="mobile" phone-input>

                  </span>
               </div>
               <div class="item item-input validated">
                  <div class="col col-50">
                     <span class="input-label labelcolor" >
                     <i class="iconsize" style="left: -5px; position: relative; top: 5px;" ng-bind-html="drawSVGCIcon('location-pin')"></i><b class="formlabel addDependentwrab localizejs" style="">Home Address </b><i class="ion-asterisk" style="margin-left: -12px;"></i></span>
                  </div>
                 <!--  <div class="col col-50 depGreyLabel inputlabelclass">
                     <ion-google-place class="coUserAddress-{{deviceName}} inputlabelval localizejs" placeholder="Full Address" ng-model="addNewDependent.homeadd" style="fon-size:18px !important;font-family: Glober Regular;" />
                  </div> -->
                  <!-- <div class="col col-50">
                   <span class="coUserAddress-{{deviceName}} inputlabelval localizejs" ng-click="addressEditModal()" style="font-size:18px !important;font-family: Glober Regular;" >
                        {{addNewDependent.homeadd}}
                     </span>
                  </div> -->

                  <div class="col"  style="height: 73px;padding: 24px 0px 0px 9px;  background-color: #e9e9e9;color: #7c7c7c;">
                    <span class="coUserAddress-{{deviceName}}  localizejs" ng-click="addressEditModal()" style="font-size:18px; background-color: #e9e9e9; !important;font-family: Glober Regular; padding:15px 5px;" >
                         {{addNewDependent.homeadd}}
                      </span>
                   </div>

               </div>
               <div class="item item-input validated" ng-if="OrganizationLocation === 'on'">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('group')"></i><b class="formlabel localizejs">Organization</b></span>
                  </div>
                  <div class="col col-50 depGreyLabel">
                     <select class="textdata optionselect localizejs"  name="healthInfoOrganization" id="organization" ng-model="addNewDependent.healthInfoOrganization" >
                        <option value="">Choose Org</option>
                        <option ng-repeat="getOrganization in listOfOrganization" value="{{getOrganization.id}}" ><b class="localizejs">{{getOrganization.name}}</b></option>
                     </select>
                     <input type="hidden" id="organ" value="{{addNewDependent.healthInfoOrganization.id}}" />
                  </div>
               </div>
               <div class="item item-input validated" ng-disabled="!listOfLocForCurntOrg" ng-if="OrganizationLocation === 'on'">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('location-pin')"></i><b class="formlabel addDependentwrab localizejs">Location</b></span>
                  </div>
                  <div class="col col-50 depGreyLabel">
                     <select class="textdata optionselect localizejs"  name="healthInfoLocation" id="location">
                        <option class="localizejs">Choose Location</option>
                        <option ng-repeat="getLocation in listOfLocForCurntOrg" value="{{getLocation.id}}" ><b class="localizejs">{{getLocation.name}}</b></option>
                     </select>
                  </div>
               </div>
               <div class="item item-input validated">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('drop')"></i><b class="formlabel addDependentwrab localizejs">Blood Type</b><i ng-if="PPIsBloodTypeRequired === 'on'" class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 depGreyLabel" style="padding:15px 5px;">
                     <select class="optionselect textdata localizejs" name="bloodtype" id="bloodtype" ng-model="bloodtype" style="padding:15px 5px;">
                        <option value=""><b class="localizejs">Choose</b></option>
                        <option ng-repeat="getBloodType in listOfBloodtype[0].codes" value="{{getBloodType.codeId + '@' + getBloodType.text}}" ><b class="localizejs">{{getBloodType.text}}</b></option>
                     </select>
                  </div>
               </div>
               <div class="item item-input validated">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('hair')"></i><b class="formlabel localizejs">Hair Color</b><i ng-if="PPIsHairColorRequired === 'on'" class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 depGreyLabel" style="padding:15px 5px;">
                     <select class="optionselect textdata localizejs" name="hairColor" id="hairColor" ng-model="hairColor" style="padding:15px 5px;" >
                        <option value=""><b class="localizejs">Choose</b></option>
                        <option ng-repeat="getHairColor in listOfHairColor[0].codes" value="{{getHairColor.codeId + '@' + getHairColor.text}}"><b class="localizejs">{{getHairColor.text}}</b></option>
                     </select>
                  </div>
               </div>
               <div class="item item-input validated">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('eye')"></i><b class="formlabel  localizejs">Eye Color</b><i ng-if="PPIsEyeColorRequired === 'on'" class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 depGreyLabel" style="padding:15px 5px;">
                     <select class="optionselect textdata localizejs" name="eyeColor" id="eyeColor" ng-model="eyeColor" style=" padding:15px 5px;" >
                        <option value=""><b class="localizejs">Choose</b></option>
                        <option ng-repeat="getEyeColor in listOfEyeColor[0].codes" value="{{getEyeColor.codeId + '@' + getEyeColor.text}}"><b class="localizejs">{{getEyeColor.text}}</b></option>
                     </select>
                  </div>
               </div>
               <div class="item item-input validated">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i class="iconsize" ng-bind-html="drawSVGCIcon('globe')"></i><b class="formlabel  localizejs">Ethnicity</b><i ng-if="PPIsEthnicityRequired === 'on'" class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 depGreyLabel">
                     <select class="optionselect textdata localizejs" name="ethnicity" id="ethnicity" ng-model="ethnicity" >
                        <option value=""><b class="localizejs">Choose</b></option>
                        <option ng-repeat="getEthnicity in listOfEthnicity[0].codes" value="{{getEthnicity.codeId + '@' + getEthnicity.text}}"><b class="localizejs">{{getEthnicity.text}}</b></option>
                     </select>
                  </div>
               </div>
               <div class="item item-input validated fadediv">
                  <div class="col col-50">
                     <span class="input-label labelcolor">
                     <i style="position: relative; left: -3px;" class="iconsize" ng-bind-html="drawSVGCIcon('lock-open')"></i><b class="formlabel localizejs" style="margin-left: 2px;" >Authorization</b><i class="ion-asterisk"></i></span>
                  </div>
                  <div class="col col-50 dependentAddAuthorize depGreyLabel localizejs" >
                     Authorized
                  </div>
               </div>
               <div><h3 class="healthpat"><div><span class="localizejs">Patient IDs</span></div></h3></div>

               <div class="item item-input itemtab validated" ng-repeat="patientdisplay in addPatientidupdateList" style="display: {{viewAddpatapiDisplay}};">

                  <span class="input-label labelcolor"  id="pattext_{{ $index + 1 }}" style=" white-space: normal;" ><i  class="iconfontSVG" ng-bind-html="drawSVGCIcon('vcard')"></i><b style="max-width: 78%;" class="formlabel addDependentwrab  labelfont localizejs">{{patientdisplay.display}}</b></span>
                  <span class="healthViewDetails depGreyLabel localizejs">
                   <input type="hidden" value="{{patientdisplay.identifierTypeCode+','+ patientdisplay.identifierTypeTitle +','+ patientdisplay.effectiveDate +','+ patientdisplay.statusCode}}" name="patIndentifierDetails[]" id="identifierTypeCode_{{ $index + 1 }}">
                   <input type="text" style="height: auto;padding: 43px 0px 36px 10px;" name="healthInfoEmail ellipsis" id="patval_{{ $index + 1 }}" maxlength="64"   value="{{patientdisplay.value}}" class="textdata localizejs" placeholder="Required" >
                  </span>
               </div>
               <div ng-click="doGetPatientIdList();">
                  <div class="PrimaryContent" style="text-align:center;margin-top:15px;">
                      <div></div>
                     <h16 class="titleaddbtn localizejs"><i ng-bind-html="drawSVGCIcon('plus')"></i> <span class="localizejs">Add An ID</span></h6>
                  </div>
               </div>
               <div class="dependentAuthorize localizejs" >
                  By clicking below I certify that, I am legally empowered to request and/or manage care on behalf of this individual.
               </div>
            </div>
            <input type="submit" style="visibility: hidden;">
         </ion-content>
            <!-- <div class="hide-on-keyboard-open"> -->
         <ion-footer-bar class="bar bar-footer footer footerrsheight" hide-on-keyboard="true" style="background-color:#CBCBCB !important; border-color: #CBCBCB !important; padding: 0px;" ng-hide="tempfooter">
               <p class="alterfooter localizejs">Please Complete</br>
               All Required Fields
            </p>

         </ion-footer-bar>

            <ion-footer-bar class="bar bar-footer footer  footer-color footerrsheight" ng-show="permfooter">
               <button class="submitbutton" type="submit"  ng-disabled="isDisabled">
                  <h1 class="title localizejs" id="centercolor" >Add Dependent</h1>
               </button>
            </ion-footer-bar>
         <!-- </div> -->
      </ion-view>
   </form>
</ion-side-menu-content>
<!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
