<style>
    .titleLineheight {
        line-height: 48px !important;
    }

    .backText {
        font-family: "Glober Book";
        font-size: 16px !important;
        font-weight: 400 !important;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.5px;
        color: #ffffff;
        line-height: 48px;
        position: relative;
        left: -3px;
    }

    .cancelText {
        font-family: "GloberRegular";
        font-size: 17px !important;
        font-weight: 400 !important;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.5px;
        color: rgb(153, 153, 153) !important;
        position: relative;
    }

    .ion-chevron-left:before {
        font-size: 19px !important;
    }

    .nextText {
        font-family: "Glober Book";
        font-size: 16px !important;
        font-weight: 400 !important;
        font-style: normal;
        font-stretch: normal;
        line-height: 39px !important;
        position: relative;
        left: -8px !important;
        letter-spacing: 0.7px;
        color: #ffffff;
        top: 2px;
    }

    .bar .button.button-clear .icon:before,
    .bar .button.button-clear.icon:before,
    .bar .button.button-clear.icon-left:before,
    .bar .button.button-clear.icon-right:before {
        font-size: 21px !important;
        margin-top: 2.5px;
    }

    .iconVer {
        vertical-align: middle !important;
    }

    .ion-chevron-right:before {
        float: right;
    }

    /* .cancelTop{
        position: relative;top:2px;
    } */
</style>
<ion-view>
    <div id="Error_Message"></div>
    <ion-content class="register newPwd" style="background-color: {{brandColor}}">
        <div class="epassbg">
            <img ng-src="{{logo}}" style="display: none;" />
            <h2 style="margin-top: -10px !important;">
                <span>{{Hospital}}</span>
            </h2>
        </div>
        <form ng-submit="doGetToken()">
            <div class="card pwdMainContent" id="loginPwd">
                <div class="pwdPatImage">
                    <img ng-src="img/PatientImg.png" style="display: none;">
                </div>
                <div class="regcontent">
                    <h2 class="localizejs">Hello</h2>
                    <p class="localizejs">Please Enter Your Password</p>
                </div>
                <div class="item-input-inset">
                    <label class="item-input-wrapper place loginPlace">
                        <i style="color: #CBCBCB;" class="iconfontSVG" ng-bind-html="drawSVGCIcon('lock')"></i>
                        <input type="password" class="localizejs" placeholder="Password" ng-model="pass.password" id="password" style="padding-left: 13px;{{passwordLineHeight}}">
                    </label>
                </div>
                <div class="btn1">
                    <button type="submit" class="button localizejs">
                        Continue
                    </button>
                </div>
            </div>
            <div class="card pwdMainContent" id="loginPwdVerify" style="display: none;">
                <div class="pwdPatImage">
                    <img ng-src="img/PatientImg.png" style="display: none;">
                </div>
                <div class="regcontent">
                    <h2 class="localizejs">Hello</h2>
                </div>
                <div class="verifyPwdText localizejs">
                    Please wait while we log you in.
                </div>
                <div class="btn1 localizejs">
                    <button type="submit" class="button" style="width: 140px">
                    </button>
                </div>
            </div>
        </form>
        <div class="acinfo1-{{deviceName}}" ng-if="HideForgotPasswordLink != 'on'">
            <a class="localizejs" ng-click="doPostSendPasswordResetEmail();">Forgot your password?</a>
        </div>
    </ion-content>
    <!-- <div class="hide-on-keyboard-open"> -->
    <!-- <ion-footer-bar  class="footer" hide-on-keyboard="true">
         <div class="ConcernsFooter">
            <div class="FooterLeft">
               <a class="button_new icon ion-chevron-left terms_footer_a" ng-click="goBackProvider()"  ><span class="localizejs"> Back</span></a>
            </div>
            <div class="FooterCenter" style="width: 35%;" _ng-click="clearRootScopeConce()">
               <a class="button_new icon localizejs" href="#/tab/login"  >Cancel</a>
            </div>
         </div>
      </ion-footer-bar> -->
    <div class="bar bar-footer footer" hide-on-keyboard="true">
        <div class="button button-clear"  ng-click="goBackProvider()">
            <a class="button_new icon ion-chevron-left iconVer" style="position: relative;top:-2px;">
                <span class="localizejs backText"> Back</span>
            </a>
        </div>
        <div class="title titleLineheight" style="height:auto;" _ng-click="clearRootScopeConce()">
            <a class="button_new icon localizejs cancelText iconVer " style="{{PatientConcernCancel}}" ng-href="#/tab/login">
                <span>Cancel</span>
            </a>
        </div>
    </div>
    <!-- </div> -->
</ion-view>