<style>
  /* .concernListSearch .icon-magnifying-glass {
      bottom: -4px !important;
  } */
</style>
<div class="modal">
   <ion-view  title="Medication">
      <header class="bar bar-header bar-dark concernListHeader" style="{{PrimaryConcernPopupH}};background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};height: 64px !important;">
         <!-- <button class="button button-clear {{concernListDoneStyle}} localizejs" style="{{PriorSurgeryPopupCancel}};" ng-click="RemoveSurgeryPopup()" >Cancel</button> -->
         <div ng-click="RemoveSurgeryPopup()" class="leftHeaderIcon" style="{{ rightHeaderIconIOS }}" ><i class="addBtn" ng-bind-html="drawSVGCIcon('cross')"></i></div>
         <h1 class="title {{concernListTitleStyle}} localizejs"  style="{{ concernListTitleiosDevices }}">Medication Allergies</h1>
         <div ng-click="closeMedicationAllegies()" class="rightHeaderIcon" style="{{ rightHeaderIconIOS }}" ><i class="addBtn" ng-bind-html="drawSVGCIcon('check')"></i></div>
         <!-- <button class="button button-clear {{concernListDoneStyle}} localizejs" style="{{PrimaryConcernPopupDone}};" ng-click="closeMedicationAllegies()" >Done</button> -->
      </header>
      <ion-content has-header="true" class="concernListContent">
         <ion-list>
            <ion-item class="search_home  concernListSearch">
               <div class=" searchbox" style="margin-top: 0px!important;">
                  <div class="item-input-inset" style="margin-top: -7px!important;margin-bottom: 5px!important;">
                     <label class="item-input-wrapper">
                     <i style="display: {{iconDisplay}}" ng-bind-html="drawSVGCIcon('magnifying-glass')"></i>
                     <input type="search"  class="localizejs" placeholder="Search" ng-model="data.searchProvider">
                     </label>
                  </div>
               </div>
               <ion-checkbox ng-repeat="item in filteredItems = (MedicationAllegiesList | filter:data.searchProvider)"
                  ng-model="item.checked"
                  ng-checked="item.checked"  ng-change="OnSelectMedicationAllegies(item)" ng-disabled="checkedAllergies==limit && !item.checked"  >
                  <p class="ng-binding concernListDetails localizejs" style="width: 13em; white-space: normal;">
                    {{ item.text }} </p>
               </ion-checkbox>
            </ion-item>
            <ion-item  ng-show="(MedicationAllegiesList | filter:data.searchProvider).length==0" class="noResult localizejs" style="white-space: normal;">Sorry No Result Found!</ion-item>
         </ion-list>
      </ion-content>
   </ion-view>
</div>
