
<div class="animated slideInRight" ng-init="doGetSelectedappoimentDetails(scheduledListDatas.appointmentId)">
 <ion-side-menus>
   <ion-side-menu-content>

<ion-header-bar align-title="left" class="bar-positiveHomeUser headerheight" style="background-color:{{brandColor}};border-color:{{brandColor}};{{backgroundimage}};">

 <div class="buttons" >
   <span class="icon button-clear {{menuiconIOS}}" id="BackButtonIcon" style="{{MenuInnerStyle}} {{MenuIconBottom}}" ng-click="toggleLeft()"><i ng-bind-html="drawSVGCIcon('menu')"></i></span>
 </div>
 <div class="Server_Error ErrorMessageDiv" ></div>
 <div id="Error_Message"></div>
 <h1 class="{{title_patient}} {{HeaderList}} {{intakeTittle}} s3mobile localizejs">Appointment Details <span >
      <!--  <site-header-ios ng-if="IOSDevice == true" back="Done"></site-header-ios>
			<site-header1 ng-if="AndroidDevice == true" back="Done"></site-header1>-->
      <a class="headerval localizejs" ng-click="goPreviousPageFromAppointDetails();"><span style="margin-left: 3px;">Done</span></a>
       </span>
 </h1>


<div class="bar bar-subheader bar-dark subheaderheight" >
   <div class="row">
    <h1 class="headertitle">
     <div class="ellipsis subHeader_content_name" >
       <span class="PatintHeaderFontStyle patientName ellipsis fnamefont localizejs"> {{appointmentsPatientFirstName}}</span>
       <span class="patientLastName ellipsis lnamefont localizejs" >{{appointmentsPatientLastName}}</span>
    </div>
   </h1>
  </div>

  <div class="ionic_row userAccountPanel">
    <div class="col col-33 uAPHomeIcon">
       <a ng-href='#/tab/userAccount'>
          <div class="icon homeicon">
            <div class="buttons">
               	<span><i ng-bind-html="drawSVGCIcon('home');"></i></span>
             </div>
          </div>
          <div>
             <p class="hometext localizejs">Account Home</p>
          </div>
       </a>
    </div>
    <div class="col col-33 uAPlProfileImage" ng-bind-html="drawImage(appointmentsPatientImage,appointmentsPatientFirstName,appointmentsPatientLastName)"></div>
    <div class="col col-33 uAPChangePatient ">
      <a ng-href='#/tab/userhome'>
        <div class="icon groupicon">
          <div class="buttons">
           	<span><i ng-bind-html="drawSVGCIcon('group');"></i></span>
          </div>
        </div>
        <p class="grouptext localizejs ChangePatient">Change Patient</p>
      </a>
    </div>
  </div>

</div>

</ion-header-bar>
<style>
  .iconAlignment {
    position: relative;
    left: 1.5px !important;
    top: 2.5px !important;
  }
    .hide-on-keyboard-open {
     display: block !important;
    }
  </style>

<ion-view title="Appointment Details">
 <ion-content class="scroll-content ionic-scroll  has-header aptpaticoncontent" style="{{appointCOntent}}">
  <!-- <div><ion-refresher on-refresh="doRefresh()">
  </ion-refresher></div>-->
<ion-refresher on-refresh="doRefreshAccountdetails(scheduledListDatas.appointmentId)"></ion-refresher>

    <div class="list aptlist Appointmentdetails-{{devicename}}" >

        <a class="item item-avatar patavatar" ng-if="scheduledListDatas.encounterTypeCode == 3">
             <!--<img ng-src="{{scheduledDoctorDetails[0].profileImagePath}}" class="patimage">-->
             <div class="docAppointImage" ng-bind-html="drawImage(scheduledDoctorDetails[0].profileImagePath,scheduledDoctorDetails[0].firstName,scheduledDoctorDetails[0].lastName)"></div>
              <div>
                  <p class="pathead localizejs">With</p>
                  <h2 class="appfname"><span >{{scheduledDoctorDetails[0].fullName}}</span></h2>
                  <span class="appfloat"><i class="icon ion-chevron-right " style="display: none;"></i></span>
                  <span class="encounterappticon" style="top: 2px !important;">
                    <i class="iconAlignment" ng-bind-html="drawSVGCIcon('video_camera')"></i> </span>

                  <p class="patage localizejs" style="margin-top:-22px !important;"><span class="localizejs">{{scheduledDoctorDetails[0].gender}} </span><span> .</span> {{scheduledDoctorDetails[0].dob | ageFilter}}</p>
              </div>
           </a>
           <a class="item item-avatar patavatar" ng-if="scheduledListDatas.encounterTypeCode == 2">
                <!--<img ng-src="{{scheduledDoctorDetails[0].profileImagePath}}" class="patimage">-->
                <div class="docAppointImage" ng-bind-html="drawImage(scheduledDoctorDetails[0].profileImagePath,scheduledDoctorDetails[0].firstName,scheduledDoctorDetails[0].lastName)"></div>
                 <div>
                     <p class="pathead localizejs">With</p>
                     <h2 class="appfname"><span >{{scheduledDoctorDetails[0].fullName}}</h2>
                     <span class="appfloat"><i class="icon ion-chevron-right " style="display: none;"></i></span>
                     <span class="encounterappticon" style="top: 2px !important;" >
                       <i  class="iconAlignment" ng-bind-html="drawSVGCIcon('phone')"></i> </span>
                     <p class="patage localizejs" style="margin-top:-22px !important;"><span>{{scheduledDoctorDetails[0].gender}}  .</span>
                      <span>{{scheduledDoctorDetails[0].dob | ageFilter}}</span><span class="localizejs">{{scheduledDoctorDetails[0].dob | ageYearsStringFilter}}</span><span>{{scheduledDoctorDetails[0].dob | ageMonthFilter}}</span> <span>{{scheduledDoctorDetails[0].dob | ageDayFilter}}</span>
                    </p>
                 </div>
              </a>

            <a class="item item-avatar patavatar" ng-if="scheduledListDatas.encounterTypeCode == 4">
                 <!--<img ng-src="{{scheduledDoctorDetails[0].profileImagePath}}" class="patimage">-->
                 <div class="docAppointImage" ng-bind-html="drawImage(scheduledDoctorDetails[0].profileImagePath,scheduledDoctorDetails[0].firstName,scheduledDoctorDetails[0].lastName)"></div>
                  <div>
                      <p class="pathead localizejs">With</p>
                      <h2 class="appfname"><span >{{scheduledDoctorDetails[0].fullName}}</h2>
                      <span class="appfloat"><i class="icon ion-chevron-right " style="display: none;"></i></span>
                      <span class="encounterappticon" style="top: 2px !important;" >
                        <i  class="iconAlignment" ng-bind-html="drawSVGCIcon('users')"></i> </span>
                      <p class="patage localizejs" style="margin-top:-22px !important;"><span>{{scheduledDoctorDetails[0].gender}}  .</span>
                       <span>{{scheduledDoctorDetails[0].dob | ageFilter}}</span><span class="localizejs">{{scheduledDoctorDetails[0].dob | ageYearsStringFilter}}</span><span>{{scheduledDoctorDetails[0].dob | ageMonthFilter}}</span> <span>{{scheduledDoctorDetails[0].dob | ageDayFilter}}</span>
                     </p>
                  </div>
               </a>

        <ion-item class="ionitem contalign" style="text-align:center;" >
           <div class="item item-text-wrap">
              <div class="datecontent">
                 <h2 class="fdate"><span class="fname ftime apponitmentftime-{{devicename}}">{{scheduledListDatas.scheduledTimelab | date: "hh:mm"}}{{scheduledListDatas.scheduledTimeGMT | date: "a"}}</span> </h2>
                  <!-- <p class="fday apponitmentdate apponitmentfday-{{deviceName}}">{{scheduledListDatas.scheduledTime | date: "EEEE, MMMM dd, yyyy"}}</p>-->
                   <p class="fday apponitmentdate apponitmentfday-{{deviceName}}"><span class="localizejs">{{scheduledListDatas.scheduledTimeDate | date: "EEEE"}}</span>, <span class="localizejs">{{scheduledListDatas.scheduledTimeDate | date: "MMMM"}}</span> <span class="">{{scheduledListDatas.scheduledTimeDate | date: "dd, yyyy"}}</span> </p>
               </div>

               <div class="appointEdit localizejs" ng-if="scheduledListDatas.appointmentTypeCode === 3 && scheduledListDatas.appointmentStatusCode != 'Waiting'" >
                 <!-- <button  ng-disabled="betDelay" ng-click="editAppointment(scheduledListDatas);delay();" style="border: none;padding: 0;background: none;width: 100px;" ng-if="isEnable" >
                   Edit
                 </button>
                 <button  ng-disabled="betDelay"  style="border: none;padding: 0;background: none;width: 100px;" ng-if="!isEnable" >
                   Edit
                </button> -->
                
                <button  ng-disabled="betDelay" ng-click="editAppointment(scheduledListDatas);delay();" style="border: none;padding: 0;background: none;width: 100px;">
                  <!--<i class="iconfontSVG" ng-bind-html="drawSVGCIconForVideo('new-message')"></i>-->
                  Edit
                </button>
                
               </div>
         </div>
       </ion-item>

      <a class="item" style="border-bottom:none; pointer-events: none;">

        <div class="ionic_row seccontent" >
          <div class="col col-10 patcol10">1</div>
            <div class="col col-90 ">
                <p class="parafont"><b class="localizejs">Primary Concern</b></p>
                <p class="pfontsize localizejs">{{appointPrimaryConcern}}</p>
            </div>
       </div>
          <br>

       <div class="ionic_row seccontentone">
          <div class="col col-10 patcol10">2</div>
            <div class="col col-90 ">
                <p class="parafont"><b class="localizejs">Secondary Concern</b></p>
                <p class="pfontsize localizejs">{{appointSecondConcern}}</p>
            </div>
       </div>
          <br>

      <div class="ionic_row seccontentone" style="padding-bottom: 75px;" >
        <div class="col col-10 patcol10">a</div>
         <div class="col col-90 ">
           <p class="parafont"><b class="localizejs">Notes</b></p>
		  <p class="pfontsize localizejs" style="position: relative; top: 8px;" id="appointNotes" > </p>
         </div>
       </div>
   </a>
 </div>

 </ion-content>

<ion-footer-bar ng-if="scheduledListDatas.encounterTypeCode == '3' || scheduledListDatas.encounterTypeCode == '4'"  align-title="left" class="bar-assertive AvailableIn" style="height: 73px; display: {{timeNew}}" >
		<div>
			<div class="title availableImage" >
				<div class="AvailableText localizejs">
					<i class="ion-clock" style=" font-size: 18px; padding-right: 7px;"></i><span class="localizejs"> Can enter in:</span>
				</div>
				<div class="AvailableTimer AvailableTimerios" style="{{AvailableTimerios}}display: {{hourDisplay}}" >
					<b><timer end-time="time">  {{hhours}}:{{mminutes}}:{{sseconds}}</timer></b>
				</div>
				<div class="AvailableTimer" style="display: {{daysDisplay}}">
					<b><timer end-time="time">{{days}} days</timer></b>
				</div>
				<div class="AvailableTimer" style="display: {{dayDisplay}}">
					<b><timer end-time="time">{{days}} day</timer></b>
				</div>
			</div>
		</div>

	</ion-footer-bar>

  <!--<ion-footer-bar ng-if="scheduledListDatas.encounterTypeCode != '3'"  align-title="left" class="bar-assertive AvailableIn" style="height: 73px; display: {{timeNew}}" >
  		 <div>
  			<div class="title availableImage" >
  				<div class="AvailableText">
  					<i class="ion-clock" style=" font-size: 18px; padding-right: 7px;"></i> available in:
  				</div>
  				<div class="AvailableTimer" style="display: {{hourDisplay}}" >
  					<b><timer end-time="time">  {{hhours}}:{{mminutes}}:{{sseconds}}</timer></b>
  				</div>
  				<div class="AvailableTimer" style="display: {{daysDisplay}}">
  					<b><timer end-time="time">{{days}} days</timer></b>
  				</div>
  				<div class="AvailableTimer" style="display: {{dayDisplay}}">
  					<b><timer end-time="time">{{days}} day</timer></b>
  				</div>
  			</div>
  		</div>
      <h1 class="title enterAppoint-{{deviceName}}" id="centercolor" > <p style="color:#666666 !important; margin-top:-11px;"> Your Provider will call you at</p>
           <p style="color:#444444 !important; margin-top:-30px;">{{schedulemobile  |  tel}} </p> </h1>

  	</ion-footer-bar>-->


<ion-footer-bar ng-if="scheduledListDatas.encounterTypeCode == '3'" class="bar bar-footer  footer-color footheight enterAppoinment" style=" height: 73px; display: {{timeNew1}}" >
     <a style="text-align: center; width: 100%;  position: relative; top: 18px;" ng-click="enterWaitingRoom(appointmentsPatientImage,appointmentsPatientFirstName,appointmentsPatientLastName,appointmentsPatientDOB,appointmentsPatientGurdianName,appointmentId,appointPersonId)">

				<h1 class="title enterAppoint-{{deviceName}}" id="centercolorforEnterAppointment" >     <span style="padding:4px;" >
              <i ng-bind-html="drawSVGCIcon('video_camera')"></i> </span> <span class="enterTextAppoint localizejs">Enter Appointment</span></h1>
			</a>
</ion-footer-bar>

<ion-footer-bar ng-if="scheduledListDatas.encounterTypeCode == '4'" class="bar bar-footer  footer-color footheight enterAppoinment" style=" height: 73px; display: {{timeNew1}}" >
     <a style="text-align: center; width: 100%;  position: relative; top: 18px;" >
				<h1 class="title enterAppoint-{{deviceName}}" id="centercolorforEnterAppointment" >
          <span style="padding:4px;" ><i ng-bind-html="drawSVGCIcon('users')"></i></span>
          <span class="enterTextAppoint localizejs appointInqueue" style="display: initial; top: -1px;">In Queue</span>
          <span class="enterTextAppoint localizejs appointInProgress" style="display: none; top: -1px;">In Progress</span>
        </h1>
			</a>
</ion-footer-bar>

<ion-footer-bar ng-if="scheduledListDatas.encounterTypeCode == '2'" class="bar bar-footer footheight" style="background-color:#FFC60B !important; height: 73px; display: block" >
				<h1 class="title enterAppoint-{{deviceName}} localizejs" id="centercolor" > <p style="color:#666666 !important; margin-top:-11px;" class="localizejs"> Your Provider will call you at</p>
           <p style="color:#444444 !important; margin-top:-30px;">{{schedulemobile}} </p> </h1>
</ion-footer-bar>
<ion-footer-bar class="bar bar-footer  footer-color footheight enterAppoinment2"  >
    				<h1 class="enterAppoint-{{deviceName}} localizejs" id="centercolor" >This Appointment has Expired. Please Re-schedule.</h1>
</ion-footer-bar>
</ion-view>
</ion-side-menu-content>
<!--Side Menu File Include --->
<div ng-include src="'templates/SideMenu.html'"></div>
</div>
