<div class='ion-close-round closeicon' ng-click="closepopup()" style="position: absolute;right:10px;margin-top:-106px;"></div>
      <div class="" style="margin-top:-7px;">

          <h2 class="localizejs" style="font-size:20px;color:#666666;text-align:center;font-family:Glober Bold;">Confirm Your Authorization</h2>
          <div class="localizejs">
            <p class="popupcontent localizejs">By clicking below I certify that I am legally empowered to request and/or manage care on behalf of this individual.</p>

                  </div>
          </div>
