
              <div class="updatevericon" style ="" > <i ng-bind-html="drawSVGCIcon('new')"> </i> </div>
              <div class='updatetitle'>Update required </div>
              <hr class="updateline">
              <form ng-submit="goToStore()">
              <div class="" >
                      <div class="loc-detcontent ">
                        <p class="updatecontent"> please update the latest version of the app to continue </p>


                          <div class="btn1 newLogBut">
                             <button type="submit" class="buttonupdate" ng-click="goToStore()">
                             Update
                             </button>
                          </div>
                      </div>
                      <p class="locvalupdate" style="">Having a problem? <p>
                          <p class="locvalupdate" style="margin-top: -10px;">Contact technical support at 844-585-1182.<p>
                      </div>
              </form>
