.popup{
    position: static !important;
}  

.none-report{
    font-size: 13px;
    color: #000;
    padding: 6px 0;
}
.pc-report--print{
    width:100% !important;
    margin:0 auto;
    height:100% !important;
    overflow:visible !important;
}

.pc-report__print-header{
    display: block;
}

.pc-report__page-break{
    display:block;
    page-break-after: always;
}

.pc-report__patient-info {
    float: left;
    width: calc(50% - 5px);
    position: relative;
}

.pc-report__encounter-info {
    float: right;
    width: 50%;
    padding-left: 5px;
}

.pc-report__med-history-left {
    float: left;
    width: calc(50% - 17px);
    margin-right: 17px;
    position: relative;
}

.pc-report__med-history-right {
    float: right;
    width: 50%;
}

.pc-report__med-history div[data-template="ul-template"],
.pc-report__med-history div[data-template="surgeries-ul-template"]{
    min-height:auto !important;
}

.pc-report__sub-section-date {
    float: right;
    padding: 5px;
    font-size: 8px !important;
    //font-family: "Glober Bold","Helvetica Neue",Helvetica,Arial,Sans-Serif;
}

.pc-report__table-row span {
    float: left;
    line-height: 1;
    display: block;
    font-family: GloberBold !important;
    color: #333;
}

.pc-report__sub-section-title{
    font-size: 11px !important;
    font-family: GloberBold !important;
}

.pc-report__sub-section-date{
    font-size: 10px !important;
}
    .pc-report__table-row {
    font-size: 13px;
    font-family: "Glober Bold","Helvetica Neue",Helvetica,Arial,Sans-Serif;
    line-height: 2;
    color: #444;
    padding-bottom: 22px !important;
}


.pc-report__table-row {
    padding: 50px !important;
}
