<!DOCTYPE html>
<html lang="en" ng-app="apiTestApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
    <style>
    .push-it-down {
        margin-top: 60px;
    }
	.alert {
		overflow: scroll;
	}
	.someTopSpace {
		margin-top: 10px;
	}
    </style>
<body ng-controller="apiTestController">
    <span us-spinner="{radius:30, width:8, length: 16}"></span>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container push-it-down">

        <div class="panel panel-default">
            <div class="panel-heading">
                Token
                <a target="_blank" href="https://snap-dev.com/api/Help/Api/POST-Account-Token"><span class="glyphicon glyphicon-question-sign"></span>Help</a>
            </div>
            <div class="panel-body">
                <button type="button" class="btn btn-default btn-lg" ng-click="doGetToken();">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Get Token
                </button>
				<div class="alert {{tokenStatus}} someTopSpace" role="alert">{{accessToken}}</div>
            </div>
        </div>
		
		<div class="panel panel-default">
            <div class="panel-heading">
                Existing Consultation
                <a target="_blank" href="https://snap-dev.com/api/Help/Api/GET-patientconsultation-consultionId-all"><span class="glyphicon glyphicon-question-sign"></span>Help</a>
            </div>
            <div class="panel-body">
                <button type="button" class="btn btn-default btn-lg" ng-click="doGetExistingConsulatation();">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Get Existing Consultation
                </button>
				<div>
					<label>Consultation ID:</label>
					<input ng-model="consultationId" class="form-control input-sm" type="text">
					<p class="someTopSpace">
						<textarea class="form-control" rows="5">{{existingConsultation}}</textarea>
					</p>
				</div>
            </div>
        </div>
		
		<div class="panel panel-default">
            <div class="panel-heading">
                Consultation Report Details
                <a target="_blank" href="https://snap-dev.com/api/Help/Api/GET-reports-consultationreportdetails-id"><span class="glyphicon glyphicon-question-sign"></span>Help</a>
            </div>
            <div class="panel-body">
                <button type="button" class="btn btn-default btn-lg" ng-click="doGetExistingConsulatationReport();">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Get Consultation Report
                </button>
				<div>
					<label>Consultation ID:</label>
					<input ng-model="consultationId" class="form-control input-sm" type="text">
					<p class="someTopSpace">
						<textarea class="form-control" rows="5">{{existingConsultationReport}}</textarea>
					</p>
				</div>
            </div>
        </div>
		
		<div class="panel panel-default">
            <div class="panel-heading">
                Patient Payment Profiles
                <a target="_blank" href="https://snap-dev.com/api/Help/Api/GET-v2-patients-profile-userId-payments_hospitalId"><span class="glyphicon glyphicon-question-sign"></span>Help</a>
            </div>
            <div class="panel-body" id="patientPaymentProfiles">
                <button type="button" class="btn btn-default btn-lg" ng-click="doGetPatientPaymentProfiles();">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Get Patient Payment Profiles
                </button>
				<div>
					<label>Patient ID:</label>
					<input ng-model="patientId" class="form-control input-sm" type="text">
					<label>Hospital ID:</label>
					<input ng-model="hospitalId" class="form-control input-sm" type="text">
					<p class="someTopSpace">
						<textarea class="form-control" rows="5">{{patientPaymentProfiles}}</textarea>
					</p>
				</div>
            </div>
        </div>
		
		<div class="panel panel-default">
            <div class="panel-heading">
                POST patients/copay
                <a target="_blank" href="https://snap-dev.com/api/Help/Api/POST-patients-copay"><span class="glyphicon glyphicon-question-sign"></span>Help</a>
            </div>
            <div class="panel-body" id="patientPaymentProfiles">
                <button type="button" class="btn btn-default btn-lg" ng-click="doPostCoPayDetails();">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> POST patients/copay
                </button>
				<div>
					<label>ProfileId:</label>
					<input ng-model="profileId" class="form-control input-sm" type="text">
					<label>Email:</label>
					<input ng-model="emailAddress" class="form-control input-sm" type="text">
					<label>Amount:</label>
					<input ng-model="Amount" class="form-control input-sm" type="text">
					<label>ConsultationId:</label>
					<input ng-model="consultationId" class="form-control input-sm" type="text">
					<label>PaymentProfileId:</label>
					<input ng-model="paymentProfileId" class="form-control input-sm" type="text">
					
					<p class="someTopSpace">
						<textarea class="form-control" rows="5">{{CreditCardDetails}}</textarea>
					</p>
				</div>
            </div>
        </div>
		
		<div class="panel panel-default">
            <div class="panel-heading">
                POST patients/{userId}/payments
                <a target="_blank" href="https://snap-dev.com/api/Help/Api/POST-patients-userId-payments"><span class="glyphicon glyphicon-question-sign"></span>Help</a>
            </div>
            <div class="panel-body" id="patientPaymentProfiles">
                <button type="button" class="btn btn-default btn-lg" ng-click="doPostPaymentProfileDetails();">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> POST patients/{userId}/payments
                </button>
				<div>
					<label>userId:</label>
					<input ng-model="userId" class="form-control input-sm" type="text">	
					<label>BillingAddress:</label>
					<input ng-model="BillingAddress" class="form-control input-sm" type="text">	
					<label>CardNumber:</label>
					<input ng-model="CardNumber" class="form-control input-sm" type="text">			
					<label>City:</label>
					<input ng-model="City" class="form-control input-sm" type="text">	
					<label>ExpiryMonth:</label>
					<input ng-model="ExpiryMonth" class="form-control input-sm" type="text">	
					<label>ExpiryYear:</label>
					<input ng-model="ExpiryYear" class="form-control input-sm" type="text">	
					<label>FirstName:</label>
					<input ng-model="FirstName" class="form-control input-sm" type="text">
					<label>LastName:</label>
					<input ng-model="LastName" class="form-control input-sm" type="text">	
					<label>State:</label>
					<input ng-model="State" class="form-control input-sm" type="text">	
					<label>Zip:</label>
					<input ng-model="Zip" class="form-control input-sm" type="text">	
					<label>Country:</label>
					<input ng-model="Country" class="form-control input-sm" type="text">
					<label>ProfileId:</label>
					<input ng-model="profileId" class="form-control input-sm" type="text">
					<label>Cvv:</label>
					<input ng-model="Cvv" class="form-control input-sm" type="text">	
					
					<p class="someTopSpace">
						<textarea class="form-control" rows="5">{{PostPaymentDetails}}</textarea>
					</p>
				</div>
            </div>
        </div>
		
		<div class="panel panel-default">
            <div class="panel-heading">
                Patient Scheduled Consultations
                <!--<a target="_blank" href="https://snap-dev.com/api/Help/Api/GET-v2-patients-profile-userId-payments_hospitalId"><span class="glyphicon glyphicon-question-sign"></span>Help</a>-->
            </div>
            <div class="panel-body" id="patientPaymentProfiles">
                <button type="button" class="btn btn-default btn-lg" ng-click="doGetScheduledConsulatation();">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Get Patient Scheduled Consultation List
                </button>
				<div>
					<label>Patient ID:</label>
					<input ng-model="patientId" class="form-control input-sm" type="text">
					<p class="someTopSpace">
						<textarea class="form-control" rows="5">{{scheduledConsultationList}}</textarea>
					</p>
				</div>
            </div>
        </div>

	<div class="panel panel-default">
            <div class="panel-heading">
                Get Codes List
                <a target="_blank" href="https://snap-dev.com/api/Help/Api/GET-v2-codesets_hospitalId_fields"><span class="glyphicon glyphicon-question-sign"></span>Help</a>
            </div>
            <div class="panel-body" id="patientPaymentProfiles">
                <button type="button" class="btn btn-default btn-lg" ng-click="doGetCodesSet();">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Get Codes Set
                </button>
				<div>
					<label>Hospital ID:</label>
					<input ng-model="hospitalId" class="form-control input-sm" type="text">
                                        <label>Codes</label>
                                        <input ng-model="codesFields" class="form-control input-sm" type="text">
					<p class="someTopSpace">
						<textarea class="form-control" rows="5">{{hospitalCodesList}}</textarea>
					</p>
				</div>
            </div>
        </div>
		
		<div class="panel panel-default">
            <div class="panel-heading">
                Get Patient Health Plan List
                <!--<a target="_blank" href="https://snap-dev.com/api/Help/Api/GET-v2-patients-profile-userId-payments_hospitalId"><span class="glyphicon glyphicon-question-sign"></span>Help</a>-->
            </div>
            <div class="panel-body" id="patientHealthPlanList">
                <button type="button" class="btn btn-default btn-lg" ng-click="doGetPatientHealthPlansList();">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Get Patient Health Plans
                </button>
				<div>
					<label>Hospital ID:</label>
					<input ng-model="patientId" class="form-control input-sm" type="text">
					<p class="someTopSpace">
						<textarea class="form-control" rows="5">{{patientHealthPlanList}}</textarea>
					</p>
				</div>
            </div>
        </div>
		
		<div class="panel panel-default">
            <div class="panel-heading">
                Patient Facilities List
                <!--<a target="_blank" href="https://snap-dev.com/api/Help/Api/GET-v2-patients-profile-userId-payments_hospitalId"><span class="glyphicon glyphicon-question-sign"></span>Help</a>-->
            </div>
            <div class="panel-body" id="patientPaymentProfiles">
                <button type="button" class="btn btn-default btn-lg" ng-click="doGetFacilitiesList();">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Get Patient Facilities List
                </button>
				<div>
					<label>Email Address:</label>
					<input ng-model="emailAddress" class="form-control input-sm" type="text">
					<p class="someTopSpace">
						<textarea class="form-control" rows="5">{{patientFacilitiesList}}</textarea>
					</p>
				</div>
            </div>
        </div>
		<div class="panel panel-default">
            <div class="panel-heading">
                Consultation Save
                <a target="_blank" href="https://snap-dev.com/api/Help/Api/PUT-v2-patients-consultations-consultationId-intake"><span class="glyphicon glyphicon-question-sign"></span>Help</a>
            </div>
            <div class="panel-body" id="ConsultationSave">
                <button type="button" class="btn btn-default btn-lg" ng-click="doPutConsultationSave();">
                  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Consultation Save
                </button>
				<div>
					<label>Consultation ID:</label>
					<input ng-model="consultationId" class="form-control input-sm" type="text">
					<p class="someTopSpace">
						<textarea class="form-control" rows="5">{{ConsultationSave}}</textarea>
					</p>
				</div>
            </div>
        </div>
		
        
        <p>
            <input type="button" value="jQuery Token" onclick="getToken();"/>
        </p>
    </div><!-- /.container -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="scripts/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/spin.min.js"></script>
<script src="scripts/angular-spinner.min.js"></script>
<script src="scripts/angular-loading-spinner.js"></script>

<script>
    function getToken() {
        $.ajax({
            url: 'https://snap-dev.com/api/Account/Token',
            data: {
                UserTypeId: 1,// params.userTypeId,
                HospitalId: 126,// params.hospitalId,
                Email: 'ben.ross.310.95348@gmail.com', //params.email,
                Password: 'Password@123'//params.password
            },
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                'X-Developer-Id': '4ce98e9fda3f405eba526d0291a852f0',
                'X-Api-Key': '1de605089c18aa8318c9f18177facd7d93ceafa5'
            },
            success: function (data) {
                alert('Success!!');
                console.log(data);
            },
            error: function (data) {
                alert('Failed!!');
                console.log(data);
            }
        });
    }
</script>
</html>
